[2018-09-28 17:07] Tezzlicious opened #1 "'onMessage' failed 'KeyError'"
Aqara Door Sensor

On:

2018-09-28 19:05:35.375 (Zigbee2MQTT) MQTT message: zigbee2mqtt/0x00158d00020921ca {'battery': '88.33', 'voltage': 2965, 'linkquality': 0, 'contact': True}

These errors happen:

2018-09-28 19:05:35.376 Error: (Zigbee2MQTT) 'onMessage' failed 'KeyError'.
2018-09-28 19:05:35.376 Error: (Zigbee2MQTT) ----> Line 160 in '/home/pi/domoticz/plugins/zigbee2mqtt/plugin.py, function

[2018-09-28 18:06] Tezzlicious commented on #1
I've noticed just now that the Aqara door sensor support is not implemented yet.

[2018-09-28 18:06] #1 closed

[2018-09-28 18:36] stas-demydiuk commented on #1
@Tezzlicious I don't see device information in your mqtt message. Most likely you haven't added mqtt > include_device_information : true to your configuration.yml file, or you are using zigbee2mqtt not from dev branch

[2018-09-28 18:40] Tezzlicious commented on #1
Any idea how I can get my docker container to run from the dev branche?

And here are the MQTT messages for open/close:

{"battery":"100.00","voltage":3015,"linkquality":13,"contact":false}

{"battery":"100.00","voltage":3015,"linkquality":7,"contact":true}

[2018-09-28 18:45] stas-demydiuk commented on #1
If you are using official docker image, you may try latest-dev tag, I hope it should help.
https://hub.docker.com/r/koenkk/zigbee2mqtt/tags/

[2018-09-28 19:09] Tezzlicious commented on #1
2018-9-28 19:06:36 - info: MQTT publish, topic: 'zigbee2mqtt/0x00158d00020921ca', payload: '{"contact":true,"linkquality":0,"device":{"ieeeAddr":"0x00158d00020921ca","friendlyName":"0x00158d00020921ca","type":"EndDevice","nwkAddr":32246,"manufId":4151,"manufName":"LUMI","powerSource":"Battery","modelId":"lumi.sensor_magnet.aq2","status":"online"}}'

[2018-09-28 19:59] stas-demydiuk commented on #1
I've uploaded the new plugin version, it should now support aqara door sensor. I wonder if you could check

[2018-09-28 20:13] Tezzlicious commented on #1
Working like a charm! :)

Can you make it a type 'Contact' instead of 'Door contact' ? Because it's not only used as a door contact ;) It then also matches the type that the Xiaomi Gateway plugin of domoticz uses.

[2018-09-28 20:27] Tezzlicious opened #2 "Add Aqara Motion & Lux sensor"
2018-9-28 22:26:20 - info: MQTT publish, topic: 'zigbee2mqtt/0x00158d0001e551f5', payload: '{"illuminance":19,"linkquality":13,"occupancy":true,"device":{"ieeeAddr":"0x00158d0001e551f5","friendlyName":"0x00158d0001e551f5","type":"EndDevice","nwkAddr":18081,"manufId":4151,"manufName":"LUMI","powerSource":"Battery","modelId":"lumi.sensor_motion.aq2","status":"online"}}'

[2018-09-30 12:03] zoral566 opened #3 ""-- Currenly only version from dev branch supports this flag""
how to update development branch?
" git checkout HEAD -- npm-shrinkwrap.json
 git pull
 rm -rf node_modules
 npm install"
Not development. :(

[2018-09-30 12:11] #3 closed

[2018-10-01 07:08] MiloshCZ opened #4 "Xiaomi Switch WXKG01LM - 'onMessage' failed 'ValueError':''long' is not in list'"
(Zigbee2MQTT) Initialized version 0.0.2

After long click I have this error in log
[code]

[2018-10-01 07:11] MiloshCZ opened #5 "Feature request - Add link quality"
Hi, is it possible to report link quality to domoticz?

[2018-10-01 13:01] stas-demydiuk commented on #5
Currently plugin sends link quality as "SignalLevel" device property to domoticz, looks like it doesn't handle it properly.

[2018-10-01 14:27] MiloshCZ opened #6 "Add Ikea Tradfri wireless dimmer"
Hi, please add TRADFRI wireless dimmer
`{"brightness":255,"device":{"ieeeAddr":"0x000b57fffe29ee14","friendlyName":"0x000b57fffe29ee14","type":"EndDevice","nwkAddr":6252,"manufId":4476,"manufName":"IKEA of Sweden","powerSource":"Battery","modelId":"TRADFRI wireless dimmer","status":"online"}}
`

[2018-10-01 18:57] stas-demydiuk commented on #4
@MiloshCZ could you please check if the issue was fixed in latest master branch?

[2018-10-02 06:27] MiloshCZ commented on #4
@stas-demydiuk  Yes it is fixed. Thanks

[2018-10-02 07:37] #4 closed

[2018-10-02 20:32] stas-demydiuk commented on #2
@Tezzlicious I've added support in plugin v 0.0.3, currently in master branch, I wonder if you could check if everything is working fine

[2018-10-02 20:55] stas-demydiuk commented on #6
@MiloshCZ if I understand correctly this is read only device which means there is no ability to somehow change its state from domoticz?

[2018-10-02 21:57] Tezzlicious commented on #2
Aqara Movement & Illuminance sensor is working!

But getting errors with the door/window sensor now:

2018-10-02 23:23:21.289 Error: (Zigbee2MQTT) 'onMessage' failed 'KeyError'.
2018-10-02 23:23:21.290 Error: (Zigbee2MQTT) ----> Line 169 in '/home/pi/domoticz/plugins/zigbee2mqtt/plugin.py', function onMessage
2018-10-02 23:23:21.292 Error: (Zigbee2MQTT) ----> Line 110 in '/home/pi/domoticz/plugins

[2018-10-03 05:47] stas-demydiuk commented on #2
Looks like an issue because device was created by 0.0.2 plugin version. Should be fixed now, but plugin will create new device for this sensor. Old one can be manually removed.

[2018-10-03 06:12] MiloshCZ commented on #6
Yes, it is only one way. And it send only "brightness".
Model is "ICTC-G-1" https://github.com/Koenkk/zigbee2mqtt/wiki/Supported-devices

[2018-10-03 07:54] Tezzlicious commented on #2
Fixed indeed.

Although I liked the IDs that matched with zigbee2mqtt.

But it's working nice now.

Thanks!

[2018-10-03 07:54] #2 closed

[2018-10-03 19:51] stas-demydiuk commented on #6
What from domoticz devices do you think fit better for this wireless dimmer: Dimmer switch or custom sensor with brightness as value?

[2018-10-04 04:47] MiloshCZ commented on #6
I think, that dimmer switch is ok

[2018-10-04 17:38] stas-demydiuk commented on #6
@MiloshCZ could you please check if is works properly in latest master

[2018-10-08 12:16] MiloshCZ commented on #6
Hi, tested, everything is OK. Thank you very much

[2018-10-08 16:11] #6 closed

[2018-10-08 21:56] flatsiedatsie opened #7 "Question about domoticz events"
I wasn't able to create an issue in the Domoticz repository, so here instead: how about adding a blockly  import-export function to the events interface? That way beginning users can share wysiwyg automations.

I have built this functionality into the Aurora theme already. Feel free to use it.
https://github.com/flatsiedatsie/domoticz-aurora-theme/blob/master/blockly_import_export.js

[2018-10-09 18:05] mkan1512 opened #8 "Support for Xiaomi Aqara single key wireless wall switch"
Please add support for Xiaomi Aqara single key

**MQTT message:**
zigbee2mqtt/SingleClick {'click': 'single', 'linkquality': 115, 'device': {'type': 'EndDevice', 'modelId': 'lumi.sensor_86sw1\x00lu', 'friendlyName': 'SingleClick', 'manufId': 4151, 'ieeeAddr': '0x00158d00024b402d', 'nwkAddr': 21233, 'manufName': 'LUMI', 'powerSource': 'Battery', 'status': 'online'}}

[2018-10-09 18:29] mkan1512 opened #9 "Support for IKEA TRADFRI bulb E27 CWS opal 600lm"
**MQTT message:**
zigbee2mqtt/0x90fd9ffffeea833d {'state': 'ON', 'device': {'type': 'Router', 'modelId': 'TRADFRI bulb E27 CWS opal 600lm', 'friendlyName': '0x90fd9ffffeea833d', 'manufId': 4476, 'ieeeAddr': '0x90fd9ffffeea833d', 'nwkAddr': 47867, 'manufName': 'IKEA of Sweden', 'powerSource': 'Mains (single phase)', 'status': 'online'}}

zigbee2mqtt/<DEVICE_ID>/set

[code]
_transition specifies the

[2018-10-11 12:41] mkan1512 opened #10 "Support for IKEA TRADFRI bulb E27 WS opal 980lm"
**MQTT message:**
zigbee2mqtt/Led1545G12 {'state': 'ON', 'device': {'type': 'Router', 'modelId': 'TRADFRI bulb E27 WS opal 980lm', 'friendlyName': 'Led1545G12', 'manufId': 4476, 'ieeeAddr': '0xd0cf5efffe216e85', 'nwkAddr': 54317, 'manufName': 'IKEA of Sweden', 'powerSource': 'Mains (single phase)', 'status': 'online'}}

zigbee2mqtt/<DEVICE_ID>/set

[code]

[2018-10-13 11:14] stas-demydiuk commented on #7
@flatsiedatsie great idea! added to PR
https://github.com/domoticz/domoticz/pull/2755

[2018-10-13 11:14] #7 closed

[2018-10-15 07:31] stas-demydiuk opened #11 "{DeviceName} does not have saved model"
After updating selector switches it's internal data stored in options is getting lost.

[2018-10-15 08:05] #11 closed

[2018-10-16 18:31] MarcE85 opened #12 "Support for OSRAM Smart+ Candle E14 Tunable White"
MQTT message:
MQTT publish, topic: 'zigbee2mqtt/bridge/log', payload: '{"type":"device_connected","message":"0x84182600000e2869"}'

Message in Domoticz Log:
{'type': 'Router', 'friendly_name': '0x84182600000e2869', 'ieeeAddr': '0x84182600000e2869', 'model': 'AB32840'}

[2018-10-16 18:39] stas-demydiuk commented on #12
@MarcE85 looks like you've attached message for Xiaomi Cube which is already supported by plugin

[2018-10-16 20:21] JanJaapKo opened #13 "fail to add devices on my adapter (nanoleaf NL08_0800)"
Hi,

I created a new adapter based on the base adapter for the Nanoleaf smart ivy NL08_0800 (supported by Zigbee2Mqtt) and took the following stepos:

created folder "nanoleaf" in "adapters"
copied "base_adaper.py" and renamed to "NL08_0800.py"

[code]
next, I updated 'plugin.py':
`from adapters.nanoleaf.NL08_0800 import NL08_0800`
onStart method:
[code]
Then, I create the hardware in Domoticz (lo

[2018-10-17 00:46] stas-demydiuk commented on #13
Plugin creates devices when it receives the mqtt message with device status for the first time. Have you received any other messsages apart of /bridge/log?

[2018-10-17 08:12] MiloshCZ commented on #5
I think, that problem is with SignalLevel value. Maximum is 12 and you send higher value ([Additional parameters (signal level & battery level)](https://www.domoticz.com/wiki/Domoticz_API/JSON_URL%27s#Additional_parameters_.28signal_level_.26_battery_level.29))

mqtt domoticz/out:
[code]

[2018-10-17 14:15] MiloshCZ opened #14 "Xiaomi MiJia wireless switch - "false click""
Hi,
I have found, that there is "false click" because Xiaomi switch sends heartbeat every hour.

HeartBeat message:
[code]
Domoticz log:
[code]

Click message:
[code]
Domoticz Log
[code]

[2018-10-17 19:16] JanJaapKo commented on #13
I attached a file with logging, I started to update the device with the plugin as I made it.

Secondly, I updated the _self.adapter_by_model_ set to have the model of my bulbs point to one of the existing adapters. It still doesn't work, no devices added to domoticz.

On further inspection of the code, I do not find a call to create_device (except in _create_device) or _create_device in any of the

[2018-10-17 20:07] MarcE85 commented on #12
sorry, should now be ok.

[2018-10-18 16:26] mkan1512 opened #15 "Support for Xiaomi Aqara (vibration, tilt, fall) Sensor DJT11LM"
MQTT message: zigbee2mqtt/0x00158d0002b435ed {'action': 'vibration', 'device': {'ieeeAddr': '0x00158d0002b435ed', 'friendlyName': '0x00158d0002b435ed', 'modelId': 'lumi.vibration.aq1', 'status': 'online', 'powerSource': 'Battery', 'manufName': 'LUMI', 'manufId': 4151, 'nwkAddr': 837, 'type': 'EndDevice'}, 'voltage': 3145, 'linkquality': 134, 'battery': '100.00'}

MQTT message: zigbee2mqtt/0x00158d

[2018-10-19 06:58] Tezzlicious opened #16 "Xiaomi Wireless Switch bug"
2018-10-19 08:54:34.939 Error: (CDevice_update) Button X: Failed to parse parameters: 'nValue', 'sValue', 'Image', 'SignalLevel', 'BatteryLevel', 'Options', 'TimedOut', 'Name', 'TypeName', 'Type', 'Subtype', 'Switchtype', 'Used', 'Description', 'Color' or 'SuppressTriggers' expected.
2018-10-19 08:54:34.939 Error: (Zigbee2MQTT) 'CDevice_update' failed 'TypeError':'argument 2 must be str, not int'.

[2018-10-19 09:47] #16 closed

[2018-10-20 18:50] Tezzlicious commented on #14
It's for sure false clicking. Here is a snippet of my domoticz log:

2018-10-20 20:37:04 | Double Click
2018-10-20 19:36:46 | Double Click
2018-10-20 18:36:27 | Double Click
2018-10-20 17:36:05 | Double Click
2018-10-20 16:35:39 | Double Click
2018-10-20 15:35:19 | Double Click
2018-10-20 14:35:04 | Double Click
2018-10-20 13:34:33 | Double Click
2018-10-20 12:34:13 | Double Click
2018-10-20 11:33

[2018-10-21 08:58] Tezzlicious opened #17 "Xiaomi Mijia Wireless Switch - Multiple events registered, maybe filter them?"
Pressing the switch one time (long click in this example) results in multiple events in zigbee2mqtt and thus in domoticz. This device has a weak link because of the distance. Is this a problem which needs to be solved on the zigbee2mqtt side or can it be managed by the domoticz plugin? With the original gateway these problems are not existing.

2018-10-21 08:11:52 - info: MQTT publish, topic: 'zig

[2018-10-21 10:36] JanJaapKo commented on #13
Hi,

I do not know of any way to trigger such a message. In the mean time, I did the following:
- went out to buy a set of IKEA TRADFRI LED bulb E27 600 lumen model LED1624G9
- paired them, works fine (added them to adapter_by_model set)
- used power cycles on both the IKEA and Nanoleaf bulbs

None of them gave any other then the initial message. I noticeds that the devices you have now, are all s

[2018-10-21 10:55] Tezzlicious commented on #17
I've tested it with a shorter range between the receiver and switch. It seems that the problem only exists when the link quality is bad. Not sure if this is a problem or we need to use multiple receiver nodes across the home. But still it seems the original gateway and the Xiaomi domoticz driver handle this better.

[2018-10-21 11:05] Tezzlicious commented on #17
Here is some logging with me walking farther away and SINGLE CLICKING from the receiver node with the button:

2018-10-21 12:57:03 | Click
2018-10-21 12:57:03 | Long Click Release
2018-10-21 12:57:03 | Long Click
2018-10-21 12:57:03 | Long Click
2018-10-21 12:57:03 | Long Click
2018-10-21 12:57:03 | Long Click
2018-10-21 12:57:02 | Long Click
2018-10-21 12:57:01 | Click
2018-10-21 12:56:55 | Click

[2018-10-21 12:06] Tezzlicious commented on #17
Maybe ignore low link quality value events? Or take the first reported event (less reliable)?

[2018-10-21 20:09] JanJaapKo commented on #13
Hi,

I've got it (roughly) working. I updated the following:
- the plugin's onMQTTPublish method (moved the part to handle the message which creates the device to create them on the log message)
- the device.py's handle_message method to handle state changes (on top of brightness)

and some more minor stuff. Shall I create a pull request?

[2018-10-22 09:29] mkan1512 commented on #8
I start creating support for this device, can you please check and give feedback. When you think the implementation is correct, please merge.

1) added in plugin.py
`from adapters.lumi.sensor_86sw1 import Sensor86Sw1`
and into the **self.adapter_by_model = {** part
`'WXKG03LM': Sensor86Sw1,    # Xiaomi Aqara single key wireless wall switch`

2) add a new device **push_on_button.py** in the devices

[2018-10-22 09:40] mkan1512 opened #18 "Support for Xiaomi Aqara single key wireless switch model WXKG11LM"
**click**
MQTT publish, topic: 'zigbee2mqtt/0x00158d0002135dcb', payload: '{"click":"single","linkquality":165,"device":{"ieeeAddr":"0x00158d0002135dcb","friendlyName":"0x00158d0002135dcb","type":"EndDevice","nwkAddr":44841,"manufId":4151,"manufName":"LUMI","powerSource":"Battery","modelId":"lumi.remote.b1acn01\u0000\u0000\u0000\u0000\u0000\u0000","status":"online"}}'

MQTT publish, topic: 'zigbee

[2018-10-24 14:30] stas-demydiuk commented on #13
@JanJaapKo yes, sure, feel free to create a PR if it adds support for new devices

[2018-10-24 14:36] stas-demydiuk commented on #5
@MiloshCZ, thank you for the link, I thought that the range is 0..100, will fix soon

[2018-10-24 17:14] stas-demydiuk commented on #14
Guys, @MiloshCZ @Tezzlicious what do you think is the best solution for that, I see such options:
1. ignore all device messages if current device state in domoticz equals state in the MQTT message but in this case we will skip all heartbeat messages and messages with the same device state (like couple Clicks in a row) until device be switched in a new state
2. ignore just all heartbeat messages (m

[2018-10-24 17:20] Tezzlicious commented on #14
I would pick option 2.

[2018-10-24 17:31] MiloshCZ commented on #5
@stas-demydiuk I think, that link quality 11 means best, 0 means worst. >=12 means N/A

[2018-10-24 17:52] MiloshCZ commented on #14
1. NO - this will ignore clicks
2. YES - But there is small issue, that there is no update about battery and signal level in case of long inactivity
3. YES - this solution has benefit, that signal and batteryy level is updated periodicaly.

Or you can send something like this:
`.../json.htm?type=command&param=udevice&nvalue=0&idx=41&rssi=10&battery=89`
It will update everything, but in log there i

[2018-10-24 17:55] Tezzlicious commented on #14
So that command in combination with option 2. Heartbeats update values only, no trigger.

[2018-10-24 20:06] JanJaapKo commented on #13
Hi @stas-demydiuk  I've got it working so far:
both lights switch on/off
both lights can be dimmed
still working on the color setting of the IKEA's
But I'd like to merge this. However, I can't create a branch. Probably a rights issue. Can you grant me the rights to do so?

Thanks and looking forward to your review comments

[2018-10-27 11:46] Tezzlicious opened #19 "Xiaomi Smart Plug Error"
When switching On/Off:

2018-10-27 13:44:06.265 Error: (Zigbee2MQTT) 'onMessage' failed 'TypeError':'int() argument must be a string, a bytes-like object or a number, not 'NoneType''.
2018-10-27 13:44:06.265 Error: (Zigbee2MQTT) ----> Line 198 in '/home/pi/domoticz/plugins/zigbee2mqtt/plugin.py', function onMessage
2018-10-27 13:44:06.265 Error: (Zigbee2MQTT) ----> Line 123 in '/home/pi/domoticz/p

[2018-10-27 15:42] stas-demydiuk commented on #18
Support for the WXKG12LM was added in 0.0.10

[2018-10-27 15:43] #8 closed

[2018-10-27 16:09] stas-demydiuk commented on #13
@JanJaapKo you need to fork this repo, push to your local copy and then you'll be able to create pull-request

[2018-10-27 16:29] m-carter1 opened #20 "'onMessage' failed 'KeyError'"
I've just set this up today using the latest version and i'm getting this error and I'm not seeing any devices in the Device list.

[code]

Thanks, Matt

[2018-10-27 16:36] stas-demydiuk commented on #20
@m-carter1 Could you please enable debug mode in plugin settings to see more info.
And just FYI plugin version 0.0.10 is already available

[2018-10-27 17:49] m-carter1 commented on #20
Now updated to v0.0.10.0 still same issue, I'm not seeing much else with verbose logging on, just lots of heartbeat messages

[code]

`2018-10-27 17:46:23.316 (Zigbee2MQTT) Heartbeating...
2018-10-27 17:46:23.316 (Zigbee2MQTT) MqttClient::Ping
2018-10-27 17:46:23.316 (Zigbee2MQTT) Sending 2 bytes of data
2018-10-27 17:46:23.316 (Zigbee2MQTT) c0 00 .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. ..

[2018-10-27 18:39] stas-demydiuk commented on #20
What Domoticz version are you using?

[2018-10-27 18:45] m-carter1 commented on #20
Version: 4.10110
Build Hash: de9a1692
Compile Date: 2018-10-27 13:24:50
dzVents Version: 2.4.7
Python Version: 3.4.2 (default, Sep 26 2018, 07:50:08) [GCC 4.9.2]

[2018-10-27 18:48] stas-demydiuk commented on #20
Could you please share your zigbee2mqtt server log as well

[2018-10-27 18:50] m-carter1 commented on #20
[code]

[2018-10-27 18:54] stas-demydiuk commented on #20
In your log
`
Oct 27 17:46:13 raspberrypi npm[684]:   zigbee2mqtt:info 2018-10-27 17:46:13 MQTT publish, topic: 'zigbee2mqtt/bridge/log', payload: '{"type":"devices","message":[{"ieeeAddr":"0x00158d0001c30620","type":"EndDevice","friendly_name":"0x00158d0001c30620"},{"ieeeAddr":"0x00158d0001bd0e35","type":"EndDevice","model":"WXKG01LM","friendly_name":"0x00158d0001bd0e35"},{"ieeeAddr":"0x00158d000

[2018-10-27 20:29] m-carter1 commented on #20
It's a Xiaomi MiJia wireless switch WXKG01LM, it's on the supported devices list.

Nothing was showing in the logs when pressing the button so i've re-added it and now it shows in the logs. But still getting the same error for the plugin. Is there any way i can add a model attribute in for it?

Log after after re-adding:
`Oct 27 20:23:37 raspberrypi npm[1489]:   zigbee2mqtt:info 2018-10-27 20:23:3

[2018-10-28 06:21] salopette opened #21 "WXKG12LM onMessage' failed 'TypeError"
Hello Stas, problem with WXKG12LM

Version: 4.10111
Build Hash: 29095def

Initialized version 0.0.10

`2018-10-28 07:25:31.984 (Zigbee Stick) MQTT message: zigbee2mqtt/0x00158d0001f9efde {'linkquality': 52, 'click': 'single', 'voltage': 3025, 'device': {'nwkAddr': 5778, 'powerSource': 'Battery', 'status': 'online', 'manufName': 'LUMI', 'modelId': 'lumi.sensor_swit', 'friendlyName': '0x00158d0001f9

[2018-10-28 11:14] stas-demydiuk commented on #21
@salopette could you please check now

[2018-10-28 11:15] stas-demydiuk commented on #20
@m-carter1 could you please check with 0.0.11 version

[2018-10-28 11:45] salopette commented on #21
Spasibo!

[2018-10-28 11:45] #21 closed

[2018-10-28 11:53] m-carter1 commented on #20
The errors have now gone from the logs with 0.0.11 version.

However, i'm not seeing any Zigbee2MQTT in the devices list, am I missing something?

[2018-10-28 11:55] stas-demydiuk commented on #20
Try to trigger device to send some status update, plugin should create device in domoticz once it receive such

[2018-10-28 12:13] m-carter1 commented on #20
That did the trick. It's working well now.

Thanks for your help!

[2018-10-28 12:13] #20 closed

[2018-10-28 16:18] remb0 opened #22 "MCCGQ11LM - aqara door sensor"
**Device description**
MCCGQ11LM
aqara door sensor

**MQTT message with device information**
PUT here the device data you receive when publish message with topic
`zigbee2mqtt/bridge/config/devices`, as example
[code]

**MQTT messages from device**
Put here examples of MQTT messages with different states you've received from device, as example
[code]

[2018-10-28 17:46] #22 closed

[2018-10-28 18:41] remb0 opened #23 "IKEA TRADFRI control outlet (E1603)"
**Device description**
Put general device information here

**MQTT message with device information**
PUT here the device data you receive when publish message with topic
`zigbee2mqtt/bridge/config/devices`, as example
[code]

[2018-10-29 16:37] loglux opened #24 "Xiaomi Mija Temp and Hum issue"
The plugin shows separately temperature and humidity sensors, not giving them together. Moreover, no info about battery level.
![zigbeeissue](https://user-images.githubusercontent.com/37578325/47665477-1abeef00-db99-11e8-9e3f-5b7291305e0c.PNG)

[2018-10-30 21:04] stas-demydiuk commented on #24
Battery level will appear once device report it (usually device sends heartbeat message every hour).

Separate temperature and humidity sensor was implemented on purpose. Are there specific use case you need them in one domoticz device?

[2018-10-31 07:43] #13 closed

[2018-10-31 07:44] stas-demydiuk commented on #23
@remb0 I wonder if you could you please provide data with device state and commands how to control it

[2018-10-31 07:46] stas-demydiuk commented on #19
@Tezzlicious do you still have this error or issue can be closed?

[2018-10-31 08:12] loglux commented on #24
I need a consolidated Temperature and Humidity sensor as well as a consolidated sensor for Aqara's Humidity, Temperature and Pressure. By the way, when you use separate sensors for Humidity in the Floorplan, Domoticz doesn't recognize them properly. It uses Temperature sensor's icon and text:
![2018-10-31](https://user-images.githubusercontent.com/37578325/47774328-a002ea80-dce4-11e8-947c-0e2f7323

[2018-10-31 08:28] salopette opened #26 "support for IKEA Tradfri LED1623G12"
Hi Stas, can you please take the support for IKEA Tradfri LED1623G12?
If you tell me how I can read the data from the, I'm happy to help!
Thank you

[2018-10-31 08:44] MiloshCZ commented on #24
@stas-demydiuk No, this sensor doesn't report battery status :-(
And I agree with using consolidated sensor (Temp+Hum+baro).

[2018-10-31 10:17] Tezzlicious commented on #19
Hi! Issue is still there. Do you need extra information from me?

[2018-10-31 10:34] fkooten commented on #26
I tried to add 2 Trädfri lamps LED1623G12 and both failed to connect. Also the suggested reset did not work. What can be the reason?

[2018-10-31 13:44] salopette commented on #26
{"ieeeAddr":"0x000b57fffe302fd0","type":"Router","mode     l":"LED1623G12","friendly_name":"0x000b57fffe302fd0"}]}

[2018-10-31 14:18] salopette commented on #26
`{"id":10,"type":"EndDevice","ieeeAddr":"0x000b57fffe2ba3da","nwkAddr":53963,"manufId":4476,"manufName":"IKEA of Sweden","powerSource":"Battery","modelId":"TRADFRI wireless dimmer","epList":[1],"status":"offline","joinTime":null,"endpoints":{"1":{"profId":260,"epId":1,"devId":2064,"inClusterList":[0,1,3,9,2821,4096],"outClusterList":[3,4,6,8,25,4096],"clusters":{"genBasic":{"dir":{"value":1},"attr

[2018-10-31 15:03] fkooten opened #27 "I tried to add 2 Trädfri lamps LED1623G12 and both failed to connect. Also the suggested reset did not work. What can be the reason as it happens to both? I have installed Trädfri lamps before without any issue."
_Originally posted by @fkooten in https://github.com/stas-demydiuk/domoticz-zigbee2mqtt-plugin/issues/26#issuecomment-434638115_

[2018-10-31 15:11] fkooten opened #28 "Cannot connect Trädfri lamps LED1623G12"
I tried to add 2 Trädfri lamps LED1623G12 and both failed to connect. Also the suggested reset did not work. What can be the reason as it happens to both? I have installed Trädfri lamps before without any issue. #27

[2018-10-31 17:51] salopette commented on #26
`{"id":2,"type":"Router","ieeeAddr":"0x000b57fffe302fd0","nwkAddr":51639,"manufId":4476,"manufName":"IKEA of Sweden","powerSource":"Mains (single phase)","modelId":"TRADFRI bulb E27 opal 1000lm","epList":[1],"status":"online","joinTime":1541007737,"endpoints":{"1":{"profId":260,"epId":1,"devId":256,"inClusterList":[0,3,4,5,6,8,2821,4096],"outClusterList":[5,25,32,4096],"clusters":{"genBasic":{"dir

[2018-10-31 18:47] remb0 commented on #23
I don't get the states because this must be controlled by the hub (I lend out to a friend)
and I don't have a remote right now.

the only thing I see:
{"ieeeAddr":"0xd0cf5efffe6d24eb","type":"Router","model":"E1603","friendly_name":"0xd0cf5efffe6d24eb"}]}

I will report back when having the remote.

[2018-10-31 18:54] stas-demydiuk commented on #28
@fkooten Do they fail to connect to plugin or to zegbee gateway?

[2018-10-31 18:54] #27 closed

[2018-10-31 19:10] stas-demydiuk commented on #9
@mkan1512 should be added in v. 0.0.12, could you please check?

[2018-10-31 19:15] stas-demydiuk commented on #26
@salopette could you please check with latest plugin

[2018-10-31 19:19] fkooten commented on #28
after I added the type of lamp from the Trädfri selections I follow the instruction. To connect I should power off and on the lamp to start the initiation of the connection. When fail I should switch the lamp quickly on and off 6 times to reset, confirmed by the lamp twice lightning. Both these instructions do fail on both lamps

[2018-10-31 19:29] stas-demydiuk commented on #15
@mkan1512 any thoughts how to represent this device in Domoticz, what is proper to use?

[2018-10-31 19:32] stas-demydiuk commented on #28
I would suggest to ask directly on [zigbee2mqtt](https://github.com/Koenkk/zigbee2mqtt/issues) tracker, more chances to get help as this plugin is only about connecting devices from zigbee2mqtt to domoticz

[2018-10-31 19:42] stas-demydiuk commented on #18
Looks like the might be different. Here https://github.com/Koenkk/zigbee2mqtt/wiki/Supported-devices I see description for such device: Xiaomi Aqara wireless switch (single, double click (and triple, quadruple, hold, release depending on model))

Looks like some of them support single, double, triple, quadruple clicks, when some single, double click hold and release. Any ideas how address that? ..

[2018-10-31 20:12] mkan1512 commented on #18
Not so smart of Xiaomi :(
There is not any different in modelID ?

Then the best solution is indeed all possible stats.

[2018-10-31 20:51] loglux commented on #24
So, it would be useful to make things in the same way that is already used when we obtain sensors data from Xiaomi Getaway:
For Mijia Sensors:
Temperature
Humidity
Temperature and Humidity

For Aqara Sensors:
Temperature
Humidity
Pressure
Temperature and Humidity

[2018-10-31 21:51] MiloshCZ commented on #24
I think, that temp+hum+baro sensor will be ideal
https://www.domoticz.com/wiki/Domoticz_API/JSON_URL%27s#Temperature.2Fhumidity.2Fbarometer

[2018-10-31 21:54] loglux commented on #24
But the choice must be to use Temperature + Humidity only from Aqara Sensor. I'm not interested check air pressure in each room in contrast to T&H.

[2018-11-01 09:19] loglux commented on #24
That looks normal. At least it is a Domoticz's issue. This sensor is presented in the same way when it comes from Xiaomi Gateway
![pressurevsbar](https://user-images.githubusercontent.com/37578325/47843287-0a845b00-ddb7-11e8-8620-1275435455d2.PNG)

[2018-11-01 09:47] MiloshCZ commented on #24
But, with "Barometer" sensor, you can calibrate it to the right value.
![image](https://user-images.githubusercontent.com/13035760/47844771-88e6fa00-ddc3-11e8-8285-a376de769cbf.png)

[2018-11-01 10:19] loglux commented on #24
Go to Domoticz forum, there are some topics about it.

[2018-11-01 12:18] mkan1512 opened #29 "Error message in 0.0.12"
I updated to 0.0.12 and have these error message in the domoticz log ?
The WXKG03LM  was working correctly in previous versions?

2018-11-01 13:15:32.105 (ZMa) Device WXKG03LM 0x00158d00024b402d (**0x00158d00024b402d**)
2018-11-01 13:15:32.106 (ZMa) Creating domoticz device to handle "state" key for device with ieeeAddr **0x00158d00024b402d**
2018-11-01 13:15:32.106 (ZMa) Device WXKG11LM 0x00158d0

[2018-11-01 13:03] mkan1512 commented on #15
I think that a selector switch would be the best option.
Do not know how to handle the angle-information (text ?)
You can place this device on (for example) a safe, a door, a window.
(and whatever people can think of :) )

[2018-11-01 13:18] stas-demydiuk commented on #29
@mkan1512 Could you please check now

[2018-11-01 13:19] #28 closed

[2018-11-01 14:09] mkan1512 commented on #9
@stas-demydiuk Very nice !
This is working (almost) perfect. The lamp is reacting on all commands (on/off, color, brightness)

The only strange behavior is in Domoticz. There the state of the switch is changing to off (0%) after a few seconds.
 This is only visible when you change pages in domoticz (from switches to Dashboard for example) ?

[2018-11-01 14:33] loglux opened #30 "Aqara Square Switch version misinterpretation"
I have an Aqara Square Switch, which supports click, double_click, long_click_press and long_click_release

From Zigbee2MQTT:

Nov 01 14:33:37 housespirit npm[1946]:   zigbee2mqtt:info 2018-11-1 14:33:37 MQTT publish, topic: 'zigbee2mqtt/0x00158d0001e89451', payload: '{"battery":"100.00","voltage":3035,"linkquality":78,"click":"single"}'
Nov 01 14:33:46 housespirit npm[1946]:   zigbee2mqtt:info 20

[2018-11-01 14:59] salopette commented on #15
I think the selector should be enough!

[2018-11-01 19:22] #26 closed

[2018-11-01 19:41] stas-demydiuk commented on #15
Added selector switch for vibration sensor, could someone please check?

[2018-11-01 20:11] stas-demydiuk commented on #30
Have you updated plugin to the latest version and if yes what level you currently have in selector switch?

[2018-11-01 20:13] loglux commented on #30
opps...

[2018-11-01 20:16] loglux commented on #30
it still a mess
![aqaramess](https://user-images.githubusercontent.com/37578325/47877095-f8d0a100-de12-11e8-8294-29ccc8533157.PNG)

[2018-11-01 20:18] stas-demydiuk commented on #30
Yes, it is expected as currently it is not possible to recognize what exactly version of Switch you have (with or without gyro), that's why plugin creates all possible states for both versions

[2018-11-01 20:19] loglux commented on #30
remote.b1acn01 without a gyro.

[2018-11-01 20:20] stas-demydiuk commented on #30
I mean both of them have model WXKG11LM

[2018-11-01 20:32] loglux commented on #30
it does not excuse this mess that makes the plugin useless.

[2018-11-01 20:32] loglux commented on #30
it should be a way how to fix this issue

[2018-11-01 20:34] stas-demydiuk commented on #30
Any ideas are welcome

[2018-11-01 20:44] loglux commented on #30
I've just eliminated two useless strings for my switch. How to make it automatically to the button set instead of the selector?

[2018-11-01 23:55] loglux commented on #30
I've checked /zigbee2mqtt/data/database.db file and see that the mark is present here, so it is possible to distinguish between different variations of Aqara Square mini switch.

[2018-11-02 13:05] #9 closed

[2018-11-02 14:00] MiloshCZ opened #31 "Feature request - Battery voltage and Signal level as new device"
Hi,
is it possible to create new devices for Signal level and battery voltage? Only for devices, that reports it, of course. It could be nice to see this things.

Thanks

[2018-11-02 18:15] stas-demydiuk commented on #31
Also was thinking about that, probably worth to add

[2018-11-02 20:53] Gemies commented on #10
Is it possible to add this bulb.

[2018-11-02 20:55] Gemies commented on #23
It would be great that this device wil be supported, what can I do to help. How do I retrieve the information you need? Is there a tool I can use for it? please let me know

[2018-11-03 09:33] Gemies commented on #23
2018-11-2 22:22:15 - debug: Received zigbee message of type 'attReport' with data '{"cid":"genOnOff","data":{"onOff":1}}' of device 'TRADFRI control outlet' (0xd0cf5efffeef33cb)
2018-11-2 22:22:15 - info: MQTT publish, topic: 'zigbee2mqtt/tradfriplug', payload: '{"state":"ON","linkquality":120}'

Will this do?

[2018-11-03 09:35] stas-demydiuk commented on #23
yes, thanks

[2018-11-03 10:12] stas-demydiuk commented on #23
@Gemies, @remb0 could you please check with plugin from latest master branch

[2018-11-03 10:13] stas-demydiuk commented on #19
@Tezzlicious what about now? Could you please check with plugin from latest master branch?

[2018-11-03 10:18] Tezzlicious commented on #19
Switching works now! It was not working.

Still getting the error in the log:

2018-11-03 11:15:34.539 Error: XiaomiGateway: received data from unregisted gateway!
2018-11-03 11:16:20.145 Error: (Zigbee2MQTT) 'onMessage' failed 'TypeError':'int() argument must be a string, a bytes-like object or a number, not 'NoneType''.
2018-11-03 11:16:20.145 Error: (Zigbee2MQTT) ----> Line 168 in '/home/pi/dom

[2018-11-03 10:36] Tezzlicious commented on #19
Yes, debug is enabled in the plugin options.

I now noticed that zigbee2mqtt itself crashes and restarts with this error:

2018-11-3 10:35:26 - info: Zigbee publish to '0x00158d000170e055', genOnOff - off - {} - {"manufSpec":0,"disDefaultRsp":0} - null

[2018-11-03 10:38] stas-demydiuk commented on #19
Do you use the latest zigbee2mqtt version?

[2018-11-03 10:39] Tezzlicious commented on #19
let me check. Updated recently to the latest dev version. Will now do it again.

[2018-11-03 10:42] Tezzlicious commented on #19
Now on : 2018-11-3 10:41:36 - info: Starting zigbee2mqtt version 0.1.8 (commit #2e736bf)

Stil:

2018-11-3 10:42:12 - info: Zigbee publish to '0x00158d000170e055', genOnOff - off - {} - {"manufSpec":0,"disDefaultRsp":0} - null

[2018-11-03 10:47] stas-demydiuk commented on #19
Could you please try to manually publish this MQTT message without plugin, using http://www.hivemq.com/demos/websocket-client/ as example

[code]

if it will fail as well, probably the issue is in device or how it was paired

[2018-11-03 10:50] Tezzlicious commented on #19
Ah, manually published and exactly the same:

2018-11-3 10:48:39 - info: Zigbee publish to '0x00158d000170e055', genOnOff - off - {} - {"manufSpec":0,"disDefaultRsp":0} - null

OK, will try to delete and repair it. Thanks for the feedback and help Stanislav!

[2018-11-03 12:12] loglux commented on #30
To get a correct device in Domoticz, I've commented those strings:
        self.switch = SelectorSwitch(devices, 'switch', 'state')
        self.switch.add_level('Off', None)
        self.switch.add_level('Click', 'single')
        self.switch.add_level('Double Click', 'double')
 **#       self.switch.add_level('Triple Click', 'triple')**
 **#       self.switch.add_level('Quadruple Click', 'quadru

[2018-11-03 12:14] stas-demydiuk commented on #30
It will work for your version of device and owners of another version could comment
[code]

[2018-11-03 12:28] remb0 commented on #23
Nice work!!  I go some sensors extra :)
and also the ikea switch.  when on/off from domoticz:
Status: User: Admin initiated a switch command (3134/Zigbee2MQTT - 0xd0cf5efffe6d24eb/On)

the switch don't do anything:
Nov 03 12:27:42 octopi npm[607]:   zigbee2mqtt:info 2018-11-3 12:27:42 Zigbee publish to '0xd0cf5efffe6d24eb', genOnOff - off - {} - {"manufSpec":0,"disDefaultRsp":0} - null
Nov 03 12:2

[2018-11-03 12:30] erwann56 opened #32 "New device"
**Device description**
Put general device information here

**MQTT message with device information**
PUT here the device data you receive when publish message with topic
`zigbee2mqtt/bridge/config/devices`, as example
[code]

**MQTT messages from device**
Put here examples of MQTT messages with different states you've received from device, as example
[code]

**MQTT state change commands**
If devic

[2018-11-03 12:30] erwann56 commented on #32
Congratulations for this job!
How can I integrate a new XIAOMI device like the WXKG01LM?

[2018-11-03 12:41] loglux commented on #24
The combined Temp+Hum sensor would be a great step forward!

[2018-11-03 13:49] stas-demydiuk commented on #32
This device is already supported, just pair it with your zigbee2mqtt compatible gateway and setup plugin in domoticz

[2018-11-03 13:50] stas-demydiuk commented on #31
Feature is implemented in latest master branch

[2018-11-03 13:50] #31 closed

[2018-11-03 13:52] stas-demydiuk commented on #23
It is zigbee network error, hopefully device repairing should help
https://github.com/Koenkk/zigbee2mqtt/issues/362

[2018-11-03 13:54] #15 closed

[2018-11-03 14:28] stas-demydiuk commented on #30
They both have the same modelId in MQTT message from zigbee2mqtt, so currently I see no way

[2018-11-03 14:34] loglux commented on #30
quite opposite, they have different modelid and Domoticz can distinct one of another in last beta only (or in one of the forks, which I use). The current Domoticz release cannot recognise the **remote.b1acn01** version because of the different modelid here.

[2018-11-03 14:39] Gemies commented on #23
Thanks works perfectly. Switch switches on and off. Also have the sensors they show link quality. Thanks for your work

[2018-11-03 14:40] stas-demydiuk commented on #30
Looks like you are mixing up native Xiaomi gateway support and support with zigbee2mqtt, they are not connected to each other.

If you see how to proper recognize devices from these 2 MQTT messages
[code]
and
[code]

[2018-11-03 14:42] stas-demydiuk commented on #23
Thanks for the feedback!

[2018-11-03 14:42] #23 closed

[2018-11-03 14:55] loglux commented on #30
zigbee2mqtt/data/database.db
{"id":6,"type":"EndDevice","ieeeAddr":"0x00158d0001e89451","nwkAddr":57,"manufId":4151,"epList":[1],"status":"online","joinTime":1541104864,"endpoints":{"1":{"profId":260,"epId":1,"devId":259,"inClusterList":[0,3,18],"outClusterList":[0$
{"id":6,"type":"EndDevice","ieeeAddr":"0x00158d0001e89451","nwkAddr":57,"manufId":4151,"manufName":"LUMI","powerSource":"Battery","mo

[2018-11-03 14:58] loglux commented on #30
so the modelld is correctly accepted by zigbee2mqtt as  **"modelId":"lumi.remote.b1acn01**
but in your example we see **"model":"WXKG01LM"**, which is not modelld

[2018-11-03 15:00] stas-demydiuk commented on #30
Publish such MQTT message to your zigbee2mqtt instance
[code]

[2018-11-03 15:15] loglux commented on #30
That is completely wrong because modelld is missing

Nov 03 15:13:39 housespirit npm[6736]:   zigbee2mqtt:info 2018-11-3 15:13:39 MQTT publish, topic: 'zigbee2mqtt/bridge/log', payload: '{"type":"devices","message":[{"ieeeAddr":"0x00158d0001824ddf","type":"EndDevice","model":"WSDCGQ01LM","friendly_name":"0x00158d0001824ddf"},{"ieeeAddr":"0x00158d000239425d","type":"EndDevice","model":"MCCGQ11LM","

[2018-11-03 15:17] stas-demydiuk commented on #30
If you think so better to ask zigbee2mqtt contributors about such feature as I'm not the one

[2018-11-03 20:01] erwann56 commented on #32
Indeed, my device works. However, it does not switch between ON and OFF. Once ON, he stays in that state. It does not switch to OFF.
Thank you for this plugin.

[2018-11-04 12:04] #19 closed

[2018-11-04 21:14] Gemies commented on #10
Here are the lines from configuration database.db from zigbee2mqtt. Maybe this will help. This is the data from the 2 bulbs i have of this type of tradfribulb.

{"id":9,"type":"Router","ieeeAddr":"0xd0cf5efffe1dd78e","nwkAddr":18886,"manufId":4476,"manufName":"IKEA of Sweden","powerSource":"Mains (single phase)","modelId":"TRADFRI bulb E27 WS opal 980lm","epList":[1],"status":"online","joinTime":1

[2018-11-10 13:11] MarcE85 commented on #12
Sorry that i ask, but is this still under work?

regards and thank you for that awesome work
Marc

[2018-11-11 10:50] stas-demydiuk commented on #12
@MarcE85 Yes, it is in my TODO list. The blocker right now is I can't figure out the dimmer device in Domoticz which supports brightness and color temperature control at the same time

[2018-11-11 13:54] stas-demydiuk commented on #24
@loglux  and @MiloshCZ could you please check with plugin from latest master

[2018-11-11 14:12] loglux commented on #24
It looks like something went wrong:
![image](https://user-images.githubusercontent.com/37578325/48314045-ddf0f000-e5bb-11e8-9dac-64ff49389287.png)

[2018-11-11 14:14] stas-demydiuk commented on #24
@loglux Could you please attach MQTT message from this device

[2018-11-11 14:15] loglux commented on #24
Sorry, that's OK
I've pressed the button on the sensor and now it's working
![image](https://user-images.githubusercontent.com/37578325/48314073-32946b00-e5bc-11e8-9b3d-2c707c29d616.png)

[2018-11-11 14:15] loglux commented on #24
Let's see what happens next

[2018-11-11 16:02] loglux commented on #24
However

There is one issue that I guess could be fixed quickly now

![2018-11-11](https://user-images.githubusercontent.com/37578325/48315147-80b06b00-e5ca-11e8-802e-24898932a9f4.png)

Unfortunately, I missed the moment to make a screenshot

There is should be one digit after comma everywhere to avoid any confusion.

We see 20.34 and 20.3 but the problem is deeper than just 2 or 1 digit after the

[2018-11-11 16:14] Gemies commented on #10
This is Koen Kanters says:

IKEA TRADFRI LED bulb E27 980 lumen, dimmable, white spectrum, opal white (LED1545G12)

{
  "state": "ON",
  "brightness": 215,
  "color_temp": 325
}

[2018-11-11 16:49] stas-demydiuk commented on #24
@loglux Could you please try now

[2018-11-11 17:16] Gemies commented on #10
Can you explain how?

[2018-11-11 17:37] Gemies commented on #10
I am not sure if it is reaching the ultimate level of opal colour. Maybe the color temp should be higher?

[2018-11-11 17:39] loglux commented on #24
The same
![image](https://user-images.githubusercontent.com/37578325/48316220-b0ff0600-e5d8-11e8-8f9b-1c43eff8f8c7.png)
![image](https://user-images.githubusercontent.com/37578325/48316227-be1bf500-e5d8-11e8-8bf2-e9d69a3195c2.png)

[2018-11-11 17:41] stas-demydiuk commented on #24
Did you update the plugin and did you force device to send new state?

[2018-11-11 17:42] loglux commented on #24
Sorry, I missed the point. Just one moment

[2018-11-11 17:47] loglux commented on #24
it doesn't affect existed devices. To see changes I deleted a device then deactivate the plugin, updated it and activated it again. Then a new device was created.

[2018-11-11 17:48] loglux commented on #24
Another sensor, which I didn't touch, still shows 2 digits.

[2018-11-11 17:50] stas-demydiuk commented on #24
Value will be updated once device send current state

[2018-11-11 17:52] loglux commented on #24
Yes, you're right. I pushed a button on the sensor and it shows rounded data now.

[2018-11-11 17:52] loglux commented on #24
Thanks a Lot!

[2018-11-11 17:55] loglux commented on #24
what about Aqara H+T+B? I'd like to wait a little seeing how others tackle with that. Does it give me a possibility for combined H+T without baro?

[2018-11-11 20:36] stas-demydiuk commented on #24
It will create H+T+B sensor in addition to individual ones, what is the purpose you need just H+T without Baro?

[2018-11-11 20:37] stas-demydiuk commented on #10
Any ideas what is the maximum value?

[2018-11-11 20:57] loglux commented on #24
What is the purpose to see the baro in each room? That's mental.

[2018-11-12 19:49] MarcE85 commented on #12
Hey,

i've updated to the latest Version. But since this update the plugin isn't working anymore.
The only message i get is:

2018-11-12 20:48:38.207 Status: (Zigbee2MQTT) Stopping threads.
2018-11-12 20:48:38.207 Status: (Zigbee2MQTT) Stopped.
2018-11-12 20:48:41.329 Status: (Zigbee2MQTT) Started.

thats it :)

Regards Marc

[2018-11-12 20:33] stas-demydiuk commented on #12
Most likely you need to manually specify `Zigbee pairing` option in plugin settings

[2018-11-12 21:33] Gemies commented on #10
@stas-demydiuk

This is what i found on a home assistent forum it says something about brightness and color_temp

[zigatelog.txt](https://github.com/stas-demydiuk/domoticz-zigbee2mqtt-plugin/files/2573680/zigatelog.txt)

this is from my domoticz log when i switch brightness and color temp. The color temp does not change.

2018-11-12 22:32:07.643 Status: User: Admin initiated a switch command (10/Z

[2018-11-13 19:59] stas-demydiuk commented on #10
@Gemies I've increased the range to 500, could you please check now

[2018-11-13 20:00] stas-demydiuk commented on #12
@MarcE85 Added error handling for this case, could you please update plugin and check

[2018-11-13 21:31] Gemies commented on #10
@stas-demydiuk Now it works perfectly. Thanks for your time and effort.

[2018-11-14 06:45] #10 closed

[2018-11-14 09:36] MarcE85 commented on #12
@stas-demydiuk Sorry i still get the same error. Maybe it has something todo with my python Version?

[2018-11-14 21:11] powergrim opened #35 "Error: (Zigbee2MQTT) failed to load 'plugin.py',"
**Device description**
Raspberry Pi with Domoticz 4.10200

**MQTT message with device information**
Nov 14 21:00:47 DOMOTICZ npm[756]:   zigbee2mqtt:warn 11/14/2018, 9:00:47 PM `permit_join` set to  `true` in configuration.yaml.
Nov 14 21:00:47 DOMOTICZ npm[756]:   zigbee2mqtt:warn 11/14/2018, 9:00:47 PM Allowing new devices to join.
Nov 14 21:00:47 DOMOTICZ npm[756]:   zigbee2mqtt:warn 11/14/2018

[2018-11-14 21:49] loglux commented on #30
I looked at Zigbee2MQTT logs archive today and see that zigbee2mqtt acuatlly see modelId however the parameter is seen in debug messages.

2018-11-3 19:33:13 - debug: Saving state to file /home/domoticz/zigbee2mqtt/data/state.json
2018-11-3 19:34:05 - debug: Received zigbee message of type 'attReport' with data '{"cid":"genBasic","data":{"65281":{"1":3025,"3":25,"4":5032,"5":36,"6":[0,1],"10":0}}}

[2018-11-15 07:58] stas-demydiuk commented on #35
What Python version do you have on your Raspberry?

[2018-11-15 08:02] stas-demydiuk commented on #12
Probably yes, what Python version do you currently have?

[2018-11-15 08:33] MarcE85 commented on #12
Version 3.4

[2018-11-15 19:10] powergrim commented on #35
Python2 2.7.9 and Python3 3.4.2 where as Python 2 is set as default.

[2018-11-16 08:47] davidlb opened #36 "Support MQTT broker authentication"
Hi,
MQTT Broker can require auhentication and the plugin does not support it for the moment.
If I have time, I'll try to do a patch before end of year.
David

[2018-11-16 09:02] MarcE85 commented on #35
Hey, i've got the same error. This is a Problem with python version < 3.4.2. After an update to version 3.6.3 it works.

[2018-11-16 09:10] stas-demydiuk commented on #35
Yes, looks like `**dict` syntax was added only in Python 3.5. Will take a look if we can avoid its usage to have wider python versions support

[2018-11-16 09:12] stas-demydiuk commented on #12
@MarcE85, as I see in #35 you were able to start plugin, could you please check if Osram device works as expected

[2018-11-16 12:43] MarcE85 commented on #12
Ahh beim Kino das Dinge

[2018-11-16 12:47] MarcE85 commented on #12
The Device is added. But it isn't working very good. On/Off is working but i have to wait between the Actions. Dimming and changing the color-temperatur isn't working.

[2018-11-16 17:47] salopette commented on #26
Device LED1623G12

Hi Stas, Device LED1623G12 is not working properly anymore.
I can not dim it and turn it off.

[2018-11-16 19:11] salopette opened #37 "Ikea LED 1623G12 Error"
2018-11-16 20:09:58.896 Status: User: Admin initiated a switch command (756/Zigbee Stick - 0x000b57fffe302fd0/Off)
2018-11-16 20:09:59.103 (Zigbee Stick) MQTT message: zigbee2mqtt/bridge/state offline
2018-11-16 20:09:59.103 (Zigbee Stick) Zigbee2mqtt bridge is offline
2018-11-16 20:10:03.612 (Zigbee Stick) MQTT message: zigbee2mqtt/bridge/state online
2018-11-16 20:10:03.612 (Zigbee Stick) Zigbee

[2018-11-17 08:36] stas-demydiuk commented on #37
@salopette What's the issue with your device?

[2018-11-17 08:40] stas-demydiuk commented on #12
Are you able to do it using zigbee2mqtt without plugin?

[2018-11-17 08:48] salopette commented on #37
if I switch the lamp on Domoticz, it comes to the error.
and it seems zigbee2mqtt restart

[2018-11-17 08:50] stas-demydiuk commented on #37
When did you start receiveng this error, after plugin update or maybe zigbee2mqtt?

[2018-11-17 08:53] salopette commented on #37
I do not know exactly, I always update, but I use the lamp only rarely, I noticed yesterday only.

[2018-11-17 11:50] powergrim commented on #35
I`ve brought my Python version back to 3.4.2 after some hassle and it's working fine now after a git pull in the plugin folder!

Thanks a lot for your effort and quick action!!

[2018-11-17 14:34] #35 closed

[2018-11-18 13:58] d-EScape opened #38 "Looking for the proper way to ignore unnecessary PIR switches"
I have several RTCGQ11LM "Xiaomi Human Body Sensor" PIR's. They frequently send updates on the occupancy state which result in unnecessary On/Off events in Domoticz. Looking at the source code of your plugin I could not find a proper way to ignore the on/off events if Domoticz already has the correct state.

Could this be accomplished on a per-devicetype basis with the adapter files? There are oth

[2018-11-19 21:14] Camposmansi opened #39 "problema con el progin"
My problem is the following:

2018-11-19 22:10:51.242 (Dispositivo_Xiaomi) Heartbeating...
2018-11-19 22:10:51.242 (Dispositivo_Xiaomi) Reconnecting
2018-11-19 22:10:51.242 (Dispositivo_Xiaomi) MqttClient::Open
2018-11-19 22:10:51.293 (Dispositivo_Xiaomi) onConnect called
2018-11-19 22:10:51.293 (Dispositivo_Xiaomi) MQTT connected successfully.
2018-11-19 22:10:51.294 (Dispositivo_Xiaomi) MqttClie

[2018-11-24 01:20] fielux opened #41 "Support for SmartThings Arrival Sensor"
**Device description**
SmartThings Arrival Sensor STS-PRS-251 / STS-PRS-250

**MQTT message with device information**
PUT here the device data you receive when publish message with topic
`zigbee2mqtt/bridge/config/devices`, as example
[code]

**MQTT messages from device**
Put here examples of MQTT messages with different states you've received from device, as example
[code]

**MQTT state change co

[2018-11-24 16:44] salopette opened #42 "Suppotr 324131092621Philips Hue dimmer switch RWL021"
Stas, can you please add 24131092621 Philips Hue dimmer switch.

`2018-11-24 17:42:57.372 (Zigbee Stick) MQTT message: zigbee2mqtt/0x0017880103e4518f {'device': {'type': 'EndDevice', 'friendlyName': '0x0017880103e4518f', 'powerSource': 'Battery', 'manufId': 4107, 'status': 'offline', 'nwkAddr': 51236, 'manufName': 'Philips', 'modelId': 'RWL021', 'ieeeAddr': '0x0017880103e4518f'}, 'linkquality': 39

[2018-11-26 22:02] MarcE85 commented on #12
Hey, sorry for the late reply. I know why the on/off works so slow. After the lamp turns on or off the zigbee2mqtt bridge crashes:

Nov 26 23:00:55 rasp-w-zigbee2mqtt npm[13622]: /opt/zigbee2mqtt/node_modules/q/q.js:155
Nov 26 23:00:55 rasp-w-zigbee2mqtt npm[13622]:                 throw e;
Nov 26 23:00:55 rasp-w-zigbee2mqtt npm[13622]:                 ^
Nov 26 23:00:55 rasp-w-zigbee2mqtt npm[1362

[2018-11-30 22:52] loglux opened #43 "Support for Domoticz's Log"
I don't see any events from zigbee2mqtt plugin in Domoticz log. So need to have another tool or open Linux console to see the output from Zigbee2mqtt. It would be useful to get zigbee2mqtt events in Domoticz itself to see relationships between different events in the system.

[2018-12-01 19:04] whren opened #44 "MQTT broker client id not customizable in hardware configuration"
Hi,

I have  a MQTT broker with client id prefix filtering setup and I've not seen any possibility to defined it in domoticz hardware configuration.
I tracked the [source](https://github.com/stas-demydiuk/domoticz-zigbee2mqtt-plugin/blob/master/mqtt.py#L50) and think ID value should be configuration based before relying on the actual behavior as a fallback option.

[2018-12-02 10:01] stas-demydiuk commented on #43
@loglux What events do you mean, did you try to enable "Debug" mode in the plugin?

[2018-12-03 19:55] rgsertel opened #46 "Xiaomi Smart Plug (ZNCZ02LM )"
There are a problem with (Xiaomi Smart Plug), the plug works correctly, but the measures don't show in Domoticz.

**Versions:**
Zigbee2MQTT server : 0.2.0
Zigbee2MQTT domoticz plugin: 0.0.15

**Logs:**
server
`: 2018-12-3 20:42:53 - info: MQTT publish, topic: 'zigbee2mqtt/enchufe_kodi', payload: '{"state":"ON","linkquality":52,"power":1.16,"voltage":null,"consumption":45.28,"temperature":33}'
`
pl

[2018-12-05 22:34] bochelork commented on #46
Power (W) is listed as power consumption (kWh).  Sensor type should be 'Electric - Usage' instead of 'General - kWh'

[2018-12-07 14:26] SargonofAssyria opened #47 "Xiaomi Aqara temperature, humidity and pressure sensor (WSDCGQ11LM)"
This device produces 6 devices in Domoticz.
1. The device subtype 'Pressure' is wrong and should be 'Barometer'
2. There are a 'Temp' and 'Humidity' device and even an total combined device with 'Baro'. It would be nice if the is also a combined device 'Temp/Humidity'

[2018-12-07 18:49] rgsertel commented on #46
Device (KWh) is created by the plugin, i can't change it, I think that is a problem with domoticz python plugin, i'm going to test with beta version.

[2018-12-08 19:46] dobber81 opened #48 "Status update broken when debug disabled"
I have a problem with an Osram plug and status update in domoticz when using the physical button on the Osram switch..

2018-12-08 20:38:17.250 (Zigbee2MQTT) Received 66 bytes of data
2018-12-08 20:38:17.250 (Zigbee2MQTT) 30 40 00 1e 7a 69 67 62 65 65 32 6d 71 74 74 2f 30 78 38 34 0@..zigbee2mqtt/0x84
2018-12-08 20:38:17.250 (Zigbee2MQTT) 31 38 32 36 30 30 30 30 30 65 62 38 66 30 7b 22 73 74 61 74

[2018-12-09 10:50] dobber81 commented on #48
Problem gone. Don't know what caused it.

[2018-12-09 10:50] #48 closed

[2018-12-09 11:20] stas-demydiuk commented on #41
@fielux Should be available with latest master branch, could you please update and check

[2018-12-09 11:41] stas-demydiuk commented on #47
Should be available with latest master branch

[2018-12-09 11:41] #47 closed

[2018-12-09 11:41] stas-demydiuk commented on #24
@loglux should be available with latest master branch

[2018-12-09 11:41] #24 closed

[2018-12-09 17:38] loglux commented on #24
Thanks a lot!

[2018-12-09 18:55] stas-demydiuk commented on #39
@Camposmansi could you please clarify what is exactly your problem?

[2018-12-09 23:09] fielux commented on #41
Great will do!

Il giorno dom 9 dic 2018 alle ore 12:20 Stanislav Demydiuk <
notifications@github.com> ha scritto:

[2018-12-10 06:55] Camposmansi commented on #39
I do not have that problem anymore, it solves it, do not tell me how, when I add a new device I say, thank you

[2018-12-10 06:57] #39 closed

[2018-12-10 10:58] stas-demydiuk commented on #44
Should be available with plugin in latest master branch, could you please update and check

[2018-12-10 15:09] SargonofAssyria opened #49 "Support for JTYJ-GD-01LM/BW Xiaomi MiJia Honeywell smoke detector (smoke)"
**Device description**

Xiaomi MiJia Honeywell smoke detector (smoke)

**MQTT message with device information**
From pressing the test-button
2018-12-10 16:04:49 - info: MQTT publish, topic: 'zigbee2mqtt/Smoke', payload: '{"battery":100,"voltage":3075,"linkquality":81,"device":{"ieeeAddr":"0x00158d0001d64498","friendlyName":"Smoke","type":"EndDevice","nwkAddr":34503,"manufId":4151,"manufName":"LUM

[2018-12-14 13:40] MarcE85 commented on #12
It's working since the last update of zigbee2mqtt

[2018-12-14 13:40] #12 closed

[2018-12-15 11:03] detxm80 opened #52 "Plugin stop working"
Hi, my zigbee2mqtt service works perfectly and send regular updates but my domoticz plugin after a while stops working and seems not to receive data, anyone that have this issue?
Thanks

[2018-12-16 13:50] whren commented on #44
Yes, confirmed working on latest master branch, thank you configuration aligned with zigbee2mqtt now !

[2018-12-19 20:41] joshdinsdale opened #54 "Xiaomi Window Sensor Multiple Devices?"
Hi Guys

Finally got the components and go this up and running, very excited!

Anyway I've added my first device, a Xiaomi Window Sensor. Its added the device fine, but I also get two additional devices, one which is link quality and another which is battery voltage. Is this correct behaviour and can I remove these from Domoticz?
Also, if I remove these additionals, will the sensor alert Domoticz

[2018-12-20 20:09] ArJay60 opened #55 "GLEDOPTO GL-C-008 / GL-S-008Z"
**Device description**
GLEDOPTO dimmer for rgbww strip / E27 RGBWW spot

**MQTT message with device information**
{"ieeeAddr":"0x00124b001b6aeae5","type":"Router","model":"GL-C-008","friendly_name":"Kleur_1"}]

[2018-12-20 20:27] salopette opened #56 "Support CC2530.ROUTER"
Stas can you please Zigbee router integrate

`2018-12-20 21:23:39.836 (Zigbee Stick) MQTT message: zigbee2mqtt/Router {'type': 'NEIGHBOR', 'device': {'type': 'Router', 'powerSource': 'Mains (single phase)', 'status': 'online', 'manufName': 'LUMI', 'manufId': 4447, 'ieeeAddr': '0x00124b0018ed3e7b', 'friendlyName': 'Router', 'nwkAddr': 2536, 'modelId': 'lumi.router'}, 'description': '23304/0x90FD9FF

[2018-12-22 08:11] stas-demydiuk commented on #55
@ArJay60 could you please update plugin and check?

[2018-12-22 08:14] stas-demydiuk commented on #54
@joshdinsdale these additional devices is required to monitor additional device stats. If you remove additional devices, plugin will recreate them after next restart

[2018-12-22 08:14] #54 closed

[2018-12-22 08:15] stas-demydiuk commented on #52
@detxm80 Were you able to identify what causes plugin crash?

[2018-12-22 08:16] #43 closed

[2018-12-22 08:40] stas-demydiuk commented on #49
@SargonofAssyria @bochelork could you please update plugin and check?

[2018-12-22 08:41] stas-demydiuk commented on #56
@salopette what kind of support do you expect for this device?

[2018-12-22 08:43] salopette commented on #56
Maybe just as a status, so that the Domoticz log is not always full with this message.

[2018-12-22 08:44] salopette commented on #56
online offline and signal strength

[2018-12-22 10:06] SargonofAssyria commented on #49
Tnx, I got 3 devices: Link Quality, Battery Voltage and Switch On/Off
I tested with the test button, not with real smoke yet.

[2018-12-22 10:58] stas-demydiuk commented on #52
Ok, please reopen the issue if you will be able to reproduce it again

[2018-12-22 10:58] #52 closed

[2018-12-22 11:33] stas-demydiuk commented on #56
Could you please update plugin and check. There is only signal level is available but at least should be no errors in log

[2018-12-22 11:41] SargonofAssyria commented on #56
I checked it and it works.
But, it should, in my opinion, be the link quality to the Coordinator.
It seems that it is the link quality to one of the devices connected to router.

[2018-12-22 13:14] ArJay60 commented on #55
Hi Stas, No new device appearing in Domoticz. although it says creating the device. This is what the verbose logs in Domoticz says about the device (Kleur_1) is the friendly name I gave the device:

2018-12-22 14:06:10.270 (Zigbee @ PI) Device GL-C-008 0x00124b001b6aeae5 (Kleur_1)
2018-12-22 14:06:10.270 (Zigbee @ PI) Creating domoticz device to handle "linkquality" key for device with ieeeAddr 0x

[2018-12-22 16:48] salopette commented on #56
I still get messages every minute in the log

`2018-12-22 17:47:33.612 (Zigbee Stick) MQTT message: zigbee2mqtt/Router {'type': 'CHILD_RFD', 'rssi': 170, 'linkquality': 23, 'description': '28454/0x000B57FFFE2BA3DA', 'state': False, 'device': {'type': 'Router', 'manufId': 4447, 'manufName': 'LUMI', 'ieeeAddr': '0x00124b0018ed3e7b', 'modelId': 'lumi.router', 'powerSource': 'Mains (single phase)', 'f

[2018-12-22 18:40] SargonofAssyria commented on #56
Set debug mode of the plugin to false if you want to get ride of the messages in the domoticz log.

[2018-12-22 18:56] salopette commented on #56
if I set it to false, dan I see no messages from plugin, that's not good

[2018-12-22 21:45] SargonofAssyria commented on #56
But the Link quality devices changes, that's what it is all about. With a nice graph!

[2018-12-23 06:57] detxm80 opened #57 "Plugin stop working"
hi guys, issue come back:

when restart domoticz service, sometimes plugin start correctly but not receive data from zigbee2mqtt that send info right.

[2018-12-23 12:50] stas-demydiuk commented on #55
They should appear on devices page after this, where you can manually set whether device is used or not. Have you checked the devices page?

[2018-12-23 13:14] ArJay60 commented on #55
Yes. Checked it. Other devices (earlier added) where found. see part of devices page for found devices:

324 | Zigbee @ PI | 0x00158d0002b95e6d_lux | 3 | Zigbee @ PI - Beweging | Lux | Lux | 52 Lux | 3 | 100 |   | 2018-12-23 14:04:39
-- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | --
  | 323 | Zigbee @ PI | 0x00158d0002b95e6d_motion | 2 | Zigbee @ PI - Beweging | Light/Switch | Switch | Off

[2018-12-23 13:33] ArJay60 commented on #55
Hoi Stas. My problem. I had to set open Domoticz for recognizing new devices on the Settings/System page. I didn't expect it being sensitive for that. Issue solved. Start testing the LED bulb let you know i it's working fine.

[2018-12-23 13:39] ArJay60 commented on #55
Everything works fine. Thanks for the integration Stas.

[2018-12-26 20:40] guykes83 commented on #57
Hello,

First of all, thanks for your great work @stas-demydiuk!

I'm afraid I'm having a bit of the same, difficult to analyze, issue. I'm running the latest stable domoticz together with zigbee2mqtt (master branch) and the domoticz plugin. When I start the domoticz-service, everything works great, but after 1-1,5 days, domoticz becomes unresponsive.

At first, I restarted my RPI and everything w

[2018-12-26 20:56] stas-demydiuk commented on #57
Since domoticz releases stable versions very rarely, could you please try the same setup with Domoticz beta?

[2018-12-26 20:59] detxm80 commented on #57
I’m running on beta

[2018-12-26 21:01] guykes83 commented on #57
Switches to beta, Ill keep jou guy posted 😉

[2019-01-02 13:15] joshdinsdale opened #58 "Innr 165 Bulb odd behaviour"
I have an Innr 165 White bulb as part of my setup, it mostly works, however its status is reported weirdly in domoticz.
When i turn the light on at the socket, it comes on at full brightness (expected behavior), however Domoticz shows the light as off with the dimmer showing 0%. If i move the slider up to say 50%, the light will show as on and the light will dim. However if i then go back to adjus

[2019-01-02 16:14] stas-demydiuk commented on #58
Could you please enable Debug mode for plugin and share your zigbee2mqtt and Domoticz log

[2019-01-05 12:49] sander816 opened #62 "error in plugin with latest beta"
plugin seems to work fine, but i see these errors in domoticz.log:
[code]

[2019-01-06 14:12] ArJay60 commented on #55
Hoi Stas. I have an additional issue here. If the light is switched on in Domoticz it does not maintain its status in Domoticz. It always says it is off.  If the light intensity is set with the slider in the Dimmer and you refresh the screen the set value is lost. So you can set al kind of settings, (and that is fine) but if you later come back in Domoticz the status is not maintained. So in Domot

[2019-01-06 15:56] niekvdg opened #63 "Support for OSRAM Flex RGBW"
**Device description**
Can you please add support for the OSRAM Flex RGBW Ledstrip

**MQTT message with device information**

[code]

**MQTT messages from device**

Device does not send any updates.

**MQTT state change commands**
[code]

[2019-01-07 10:47] #49 closed

[2019-01-07 10:49] stas-demydiuk commented on #62
Do you have 2 instances of plugin running at the same time: `zigbee network`, `zigbee`?

[2019-01-07 11:15] stas-demydiuk commented on #63
@niekvdg Could you please update plugin and check

[2019-01-07 11:16] stas-demydiuk commented on #42
@salopette Sorry it's too hard to add support for this device without having one for testing. Hopefully someone with this device will help.

[2019-01-07 11:49] stas-demydiuk commented on #38
I think currently we can safety ignore such updates since we have own domoticz devices to represent battery and signal level

[2019-01-07 11:49] #38 closed

[2019-01-07 13:17] stas-demydiuk commented on #55
@ArJay60 could you please check in zigbee2mqtt log if device sends message with current status right after you update it?

[2019-01-07 16:19] ArJay60 commented on #55
HI Stas,

Switching off the bulb is giving these lines in the log (the second line after 30 secs). Bulb is reacting correct by going off.

2019-1-7 16:55:48 - info: Zigbee publish to '0x00124b001b6aeb31', genOnOff - off - {} – null
……
2019-1-7 16:56:18 - error: Zigbee publish to '0x00124b001b6aeb31', genOnOff - off - {} - null failed with error Error: Timed out after 30000 ms

Switching the bulb t

[2019-01-07 16:45] stas-demydiuk commented on #55
Yes looks like a connection issue between your stick and device because zigbee2mqtt doesn't receive response on control commands
[code]

[2019-01-07 18:19] niekvdg commented on #63
Thanks for the fast update, it works!

[2019-01-07 19:03] ArJay60 commented on #55
Hi Stas.

Updated zigbee2mqtt and is now receiving state info (at least on-off)
2019-1-7 19:58:44 - info: Zigbee publish to '0x00124b001b6aeae5', genOnOff - on - {} - {"manufSpec":0,"disDefaultRsp":0} - 12
2019-1-7 19:58:44 - info: MQTT publish: topic 'zigbee2mqtt/Kleur_1', payload '{"state":"On"}'

Will  go further into zigbee2mqtt. I expect that things like color or colortemp or level also need

[2019-01-08 06:56] #63 closed

[2019-01-08 11:41] sander816 commented on #62
no, not that i know.
I enabled the plugin again, and the error is gone

Op ma 7 jan. 2019 om 11:49 schreef Stanislav Demydiuk <
notifications@github.com>:

[2019-01-10 21:38] d-EScape commented on #42
I created an adapter to put the controller actions in a selector switch. Having the dimmer switch control an actual (Domoticz) dimmer slider seems pretty useless because you will need some event script anyway to control something else. Creating a slider would limit the functionality for scripting.

Sorry, my development environment is a mess... so no PR but some code to add:

file named 'dimmer_sw

[2019-01-11 14:50] SargonofAssyria opened #64 "Request for version numbers"
Request to display the plugin version and the zigbee2mqtt version on the hardware page.

[2019-01-12 10:05] stas-demydiuk commented on #62
Ok, please reopen the ticket if you will be able to reproduce the issue.

[2019-01-12 10:05] #62 closed

[2019-01-12 10:20] stas-demydiuk commented on #42
@d-EScape Thanks! Added code to the main codebase

[2019-01-12 10:20] #42 closed

[2019-01-12 13:12] #55 closed

[2019-01-12 13:12] #41 closed

[2019-01-12 13:12] #56 closed

[2019-01-12 17:36] rgsertel opened #65 "Error in WXKG03LM"
Hi

I have this error with last version and Xiaomi Aqara wall switch (WXKG03LM)

[code]

[2019-01-12 22:58] loglux opened #66 "Support for Smart Plugs"
I checked the support devices list and found no mention of smart plugs except Chinese type Xiaomi plugs. I was going to buy one of the ZigBee smart plugs with an energy meter mentioned in the zigbee2mqtt list: https://koenkk.github.io/zigbee2mqtt/information/supported_devices.html

Is there any possibility to extend supported devices by this plugin. It would be very appreciated.

[2019-01-13 08:07] stas-demydiuk commented on #66
Yes, there shouldn't be any issues with adding support for new plugs, just need examples of MQTT messages from them

[2019-01-13 09:39] stas-demydiuk commented on #46
@rgsertel now should be better, could you please remove old kWh device from domoticz and then update plugin.

[2019-01-13 09:41] stas-demydiuk commented on #65
What was the previous plugin version?

[2019-01-13 09:42] stas-demydiuk commented on #64
Unfortunately it is impossible right now as Domoticz doesn't support such features for plugins. But you still can get version information in domoticz log

[2019-01-13 09:42] #64 closed

[2019-01-15 15:37] rgsertel commented on #65
I don't know what was the last version, i only updated plugin to v0.0.16 and zigbee2mqtt to 1.0.1

[2019-01-16 20:51] rgsertel commented on #46
good work @stas-demydiuk , now it works

thanks  ;)

[2019-01-16 21:25] ericsboro opened #68 "Xiaomi Aqara water leak sensor SJCGQ11LM wrong behavior"
After joining sensor shows correct state "Closed", but after ~5-10 minutes it turns to "Open"
 even if there's no water under sensor.
journal shows:
zigbee2mqtt:info 1/16/2019, 11:15:27 PM MQTT publish: topic 'zigbee2mqtt/water_leak', payload '{"water_leak":false,"linkquality":60,"battery":100,"voltage":3035}'

Re-pairing doesn't help.
Please help to resolve the issue

Many thanks in advance

[2019-01-16 21:40] stas-demydiuk commented on #68
It's because Domoticz doesn't have native water leak sensor, the plugin uses general contact sensor. And if there is no water leakage contact is open with corresponding status. Water leakage will close the contact.

[2019-01-16 21:44] ericsboro commented on #68
Many thanks for prompt clarification! So the only way is to wait until Domoticz will create own leakage sensor, otherwise reverting status settings will impact open door sensors and similar... really pity :(

Anyway, thanks for the great job your doing!

[2019-01-16 21:44] #68 closed

[2019-01-18 16:38] Quentinic commented on #65
Hi

Exactly same error here:

2019-01-19 00:36:54.384 Error: (ZigBee2MQTT CC2531) 'onMessage' failed 'TypeError':''ZigbeeMessage' object is not subscriptable'.
2019-01-19 00:36:54.384 Error: (ZigBee2MQTT CC2531) ----> Line 183 in /home/pi/domoticz/plugins/zigbee2mqtt/plugin.py, function onMessage
2019-01-19 00:36:54.385 Error: (ZigBee2MQTT CC2531) ----> Line 110 in /home/pi/domoticz/plugins/zigbee

[2019-01-18 16:47] Quentinic commented on #65
Hi

Exactly same error here, version: 0.0.16:

[code]

[2019-01-18 16:47] stas-demydiuk commented on #65
I wonder if you could attach mqtt message which caused this issue.

пт, 18 янв. 2019 г. в 18:38, Quentinic <notifications@github.com>:

[2019-01-18 16:51] Quentinic commented on #65
You mean this msg?

2019-1-19 00:50:12 - info: MQTT publish: topic 'zigbee2mqtt/0x00158d0001711312', payload '{"battery":99,"voltage":3005,"linkquality":81,"click":"single"}'

[2019-01-18 18:32] rgsertel commented on #65
[code]

[2019-01-24 07:02] #66 closed

[2019-01-24 07:03] stas-demydiuk commented on #58
Please reopen the ticket if issue is still occurs

[2019-01-24 07:03] #58 closed

[2019-01-24 07:10] #46 closed

[2019-01-24 16:31] FRFrancisqueti opened #69 "Domoticz is offline after configuration"
Hello Stanislav,
I followed the tutorial https://github.com/stas-demydiuk/domoticz-zigbee2mqtt-plugin and also the https://www.domoticz.com/wiki/Zigbee2MQTT. I have the zigbee2mqtt running on localhost: 1883 with cc2531 running and receiving data from my zigbee device (HEIMAN - HS1DS-E) on the terminal. After including the zigbee2mqtt hardware and setting up as localhost: 1883 on Domoticz it stopp

[2019-01-26 17:15] SBTephan opened #72 "Domoticz not starting after installing plugin"
After installing the plugin in domoticz, domoticz won'start.

this is wat the log said:

2019-01-26 14:49:19.893 Error: Domoticz received fatal signal 11 !...
2019-01-26 14:49:19.911 Error: /home/pi/domoticz/domoticz() [0x262154]
2019-01-26 14:49:19.911 Error: /home/pi/domoticz/domoticz(_Z14signal_handleri+0x4c) [0x26220c]
2019-01-26 14:49:19.912 Error: /lib/arm-linux-gnueabihf/libc.so.6(__default

[2019-01-26 17:17] stas-demydiuk commented on #72
What python version is installed?

сб, 26 янв. 2019 г. в 19:15, SBTephan <notifications@github.com>:

[2019-01-26 17:34] SBTephan commented on #72
ok. already installed 3.6.7. will try to run domoticz on that version

[2019-01-26 22:33] SBTephan commented on #72
installing 3.6.7 seems to be working..

I already added a lightbulb to zigbee2mqtt, when the plugin wasn't installed. is it possible to add that device in domoticz?

[2019-01-26 23:46] SBTephan commented on #69
it looks like the same issue I have,

could you try:

delete the plugin zigbee2mqtt from the plugin folder. go to the domoticz folder and
run ./updaterelease
then delete the zigbee2mqtt hardware plugin from the hardware tab

[2019-01-27 06:44] stas-demydiuk commented on #72
There is no such requirement to have Domoticz and MQTT on the same server. Could you please try plugin with Domoticz beta as well?

[2019-01-27 14:14] SBTephan commented on #72
I have installed a new domoticz setup on a Pi3 with Python 3.5.3. Everything works fine there.
Looks like the problem is indeed with Domoticz or python

[2019-01-30 22:01] dobber81 opened #73 "My domoticz log gets spammed"
**Issue description**
2019-01-30 22:55:16.751 (Zigbee2MQTT) Received available devices list from bridge
2019-01-30 22:55:16.751 (Zigbee2MQTT) Device E1603 0x000d6ffffeaf8107 (0x000d6ffffeaf8107)
2019-01-30 22:55:20.713 (Zigbee2MQTT) Received available devices list from bridge
2019-01-30 22:55:20.713 (Zigbee2MQTT) Device E1603 0x000d6ffffeaf8107 (0x000d6ffffeaf8107)
2019-01-30 22:55:24.725 (Zigbee2

[2019-01-30 22:01] eozurd commented on #65
Hi everybody,
I have the same problem.
If start Zigbee2mqtt with npm start, i have this message.
![image](https://user-images.githubusercontent.com/39096460/52015530-7b383200-24e2-11e9-95eb-71fb1e518fc0.png)
And under Domoticz with plugin, i have this message.
![image](https://user-images.githubusercontent.com/39096460/52015578-9c008780-24e2-11e9-9f81-2157c36d9cb8.png)

I have not problem with ano

[2019-01-31 11:05] #73 closed

[2019-01-31 11:05] dobber81 commented on #73
Problem disappeared by it self.

[2019-01-31 21:07] #72 closed

[2019-02-02 09:04] jbrouns opened #74 "Support for Müller E27 color Led from startset 43952"
**Device description**
Müller E27 color Led from startset 43952
(https://www.mueller-licht.de/produktinformationen/artikel/404000/)
The Led lamp in the set is probably the same as the separately sold 404000

**MQTT message with device information**

{"ieeeAddr":"0x00158d000340f000","type":"Router","model":"404000/404005/404012","friendly_name":"0x00158d000340f000"}

**MQTT messages from device**
z

[2019-02-02 09:45] stas-demydiuk commented on #69
Solution from #72 should work for this case as well

[2019-02-02 09:45] #69 closed

[2019-02-02 18:14] JochemLangerak commented on #74
Hi,

These Müller Tint devices are for sale at ALDI in the Netherlands at the moment.

Just add the following lines in the __init__.py in ~/domoticz/plugins/zigbee2mqtt/adapters:

    # Müller Tint / Aldi
    '404006/404008/404004': DimmableCtBulbAdapter, # Aldi/Müller Tint,  dimmable, white spectrum
    '404000/404005/404012': RGBWAdapter, # Aldi/Müller Tint E27,  dimmable, white spectrum/RGB Col

[2019-02-03 08:37] jbrouns commented on #74
Hi,

My device comes from Aldi-Süd in Germany, they were on sale there last week.

Your solution works perfect. Thank you very much!
I hope it will soon be part of the official release :-)

And yes, if someone has a working solution for the remote, that would be great!

best,
Julien

[2019-02-03 17:06] stas-demydiuk commented on #74
@jbrouns these devices are now available in latest master branch

[2019-02-03 17:06] #74 closed

[2019-02-03 17:07] jbrouns commented on #74
Thank you very much!

[2019-02-11 10:29] NE8XT commented on #65
У меня такая же ошибка, как у автора выше:
`2019-02-09 19:32:25.088 Error: (ZIGBEE) 'onMessage' failed 'TypeError':''ZigbeeMessage' object is not subscriptable'.
2019-02-09 19:32:25.088 Error: (ZIGBEE) ----> Line 183 in '/home/pi/domoticz/plugins/zigbee2mqtt/plugin.py', function onMessage
2019-02-09 19:32:25.088 Error: (ZIGBEE) ----> Line 110 in '/home/pi/domoticz/plugins/zigbee2mqtt/plugin.py', f

[2019-02-11 21:42] tabnul opened #75 "IKEA TRADFRI control outlet - no verification of response message"
**Issue description**
When switching this device, the command seems to be fire and forget. It doesnt look properly on the response. When the device is unavailable, domoticz just switches it without error. (see last log row)

**Additional information**
Zigbee2MQTT version: 1.1.1
Python version: 2.7.13
Domoticz version: 4.9700
Plugin version: 0.0.17

**Logs**
MQTT Log:
`
Feb 11 19:23:55 raspberrypi

[2019-02-12 16:01] frager82 opened #76 "No devices ?"
**Issue description**
I don't see devices in Domoticz. In the log it looks like they are created...

**Additional information**
Zigbee2MQTT version: 1.1.1
Python version: 3.5.3
Domoticz version: 4.10427 (beta)
Plugin version: 0.0.17

**Logs**
Domoticz log (hardware debug: verbose)
[code]

[2019-02-12 21:48] loglux opened #77 "Dublicated OFF/ON"
I use TRADFRI smart socket and the plugin sends multiple OFF/ON signals, creating a mess in logs
![image](https://user-images.githubusercontent.com/37578325/52675327-6ca83c80-2f1e-11e9-99f4-0774345f11bd.png)

[code]

[code]

At the same time, Tasmota switches, for example, send correct information. Just compare:
![image](https://user-images.githubusercontent.com/37578325/52670345-382d8400-2f10-11e

[2019-02-15 16:01] jvbussel opened #78 "Unhandled message from zigbee2mqtt"
**Issue description**
Newly joined device does not show up in Domoticz devices.
See verbose log below. Probably due to "Unhandled message from zigbee2mqtt: zigbee2mqtt/bridge/config/devices 1550246096672"

**Additional information**
Zigbee2MQTT version: 1.1.1
Python version: 3.5.3
Domoticz version: 4.10429
Plugin version: 0.0.17

**Logs**
2019-02-15 16:54:56.716  (Zigbee2MQTT) Received 50 bytes of

[2019-02-15 16:45] stas-demydiuk commented on #78
Did you check devices page (under setup menu) for new devices?

[2019-02-15 16:58] jvbussel commented on #78
Yes, no new device shown

[2019-02-15 18:45] stas-demydiuk commented on #78
Could you please attach screenshot of your Devices page?

[2019-02-15 18:45] stas-demydiuk commented on #76
Did you check devices page (under setup menu) for new devices?

[2019-02-15 18:46] #57 closed

[2019-02-15 18:47] stas-demydiuk commented on #65
What Python version do you have installed? You can see it on Domoticz log page right after Domoticz starts

[2019-02-15 18:48] stas-demydiuk commented on #77
@loglux should be fixed in master branch, could you please check?

[2019-02-15 18:57] jvbussel commented on #78
![devices](https://user-images.githubusercontent.com/12373643/52877973-d82b1d80-315b-11e9-8f86-d8ed323ca2be.png)

[2019-02-15 19:12] stas-demydiuk commented on #78
It is actually a very strange message:
`
2019-02-15 16:54:56.718 (Zigbee2MQTT) MQTT message: zigbee2mqtt/bridge/config/devices 1550246096672
`

there is no such in zigbee2mqtt description: https://www.zigbee2mqtt.io/information/mqtt_topics_and_message_structure.html

Are there any additional messages in the log?
Also I would suggest to remove plugin instance from the hardware page and add it once

[2019-02-15 20:00] NE8XT commented on #65
Zigbee2MQTT version: 1.1.1
Python version: 3.5.3
Domoticz beta version: 4.10429
Plugin version: 0.0.17

[Log.txt](https://github.com/stas-demydiuk/domoticz-zigbee2mqtt-plugin/files/2870661/Log.txt)

[2019-02-15 20:00] jvbussel commented on #78
I removed the plugin from the hardware page, restarted domoticz and added it again.
No succes, maybe even worse :(
See attachment for the domoticz.log
[log.txt](https://github.com/stas-demydiuk/domoticz-zigbee2mqtt-plugin/files/2870665/log.txt)

[2019-02-15 22:11] loglux commented on #77
I have updated the plugin
Now it looks good.
![image](https://user-images.githubusercontent.com/37578325/52887145-9fe10a80-316e-11e9-84ef-57d921fc5973.png)

[2019-02-15 22:11] loglux commented on #77
Thank you very much!!! :)

[2019-02-15 22:19] frager82 commented on #76
Yes, there were no devices...
But the issue is solved now! I removed domoticz and reinstalled domoticz and the plug-in. (Without restoring a backup in domoticz). And the devices appears directly.
I don't know the reason why they didn't appear firstly. I also have a USB P1 cable and use Bluetooth for some devices...

[2019-02-16 05:36] rgsertel commented on #65
Version: 4.10429
Build Hash: 09534cd7
Compile Date: 2019-02-14 17:26:38
dzVents Version: 2.4.13
Python Version: 3.5.3 (default, Sep 27 2018, 17:25:39) [GCC 6.3.0 20170516]

[2019-02-16 18:31] #76 closed

[2019-02-16 18:31] stas-demydiuk commented on #78
Could you please also check that "Accept new Hardware Devices" is enabled in your Domoticz config
![image](https://user-images.githubusercontent.com/2734836/52903690-e47dac00-3229-11e9-8ed7-74ffe5765b5d.png)

[2019-02-16 18:32] #77 closed

[2019-02-18 12:02] maaakit opened #79 "Plugin doesn't create new Devices in existing database"
I've configured zigbee2mqtt and plugin for domoticz running on raspberry pi B+. I have 2 Xiaomi devices paired to zigbee2mqtt instance. When I'm starting zigbee2mqtt plugin in my domoticz instane which have already a lot of devices I can se in log that devices are discovered and added to database. But I can't find no new devices in "Devices" menu. There are no errors logged too.
I'm not sure if pr

[2019-02-18 16:27] jvbussel commented on #78
It is enabled. I pressed the button but no new device is created. See attachment for verbose logging.
[domoticz-20190218.txt](https://github.com/stas-demydiuk/domoticz-zigbee2mqtt-plugin/files/2876564/domoticz-20190218.txt)

[2019-02-19 00:58] coolnovember commented on #65
Subscribing since I'm seeing the same issue.
I am running on Ubuntu and not on a raspberry Pi.

[code]

[2019-02-19 06:09] miroslavpetrov opened #80 "Plugin is flooding the log file"
**Issue description**
Even though the plugin debug is set to false, the plugin reports the "Received available devices list from bridge" every 5 seconds.

**Additional information**
Zigbee2MQTT version: 1.1.1
Python version: 2.7.13
Domoticz version: 4.10429
Plugin version: 0.0.17

**Logs**
`2019-02-19 01:36:09.077  (ZigBee) Device WSDCGQ01LM 0x00158d000215b30f (Sensor1)
2019-02-19 01:36:09.080  (Z

[2019-02-19 19:12] maaakit commented on #79
Problem solved. Please close this issue.
The real reason of skipping device creation was disabled option "Accept new Hardware Devices"

[2019-02-19 19:12] #79 closed

[2019-02-20 18:56] stas-demydiuk commented on #80
@miroslavpetrov will the issue reproduce if you disable and then enable plugin?

[2019-02-20 19:04] stas-demydiuk commented on #78
Could you please try the following:
1. Remove zigbee2mqtt hardware from Domoticz
2. Open Domoticz setttings and disable "Accept new Hardware Devices", save settings
3. Enable "Accept new Hardware Devices", save settings
4. Add new instance of zigbee2mqtt hardware

[2019-02-20 19:24] miroslavpetrov commented on #80
@stas-demydiuk enabling and disabling the plugin doesn’t fix the issue. I have experienced this issue on both my home and work domoticz instances. I have just updated domoticz to latest beta 4.10445 as well as your plugin on both systems and the issue on my home system is gone - there is no logging from zigbee2mqtt but on the other its still flooding.

[2019-02-20 19:28] stas-demydiuk commented on #80
Yes, I also saw such issue couple times on my Domoticz instance, but unfortunately have no idea what can cause it or at least how to continuously reproduce it as usually it just disappears after plugin restart so I can't even debug what's happening.

[2019-02-20 19:31] stas-demydiuk commented on #65
Will try to downgrade my Python to 3.5 as currently I have only 3.6, maybe the issue is in the version.

[2019-02-20 19:34] jvbussel commented on #78
Hi, I tried you suggestion but no change in behaviour the device is not created.

[2019-02-20 19:43] jvbussel commented on #78
Is it really an issue in Domoticz itself? When debug is enabled for this plugin I would expect in the log the output of below Python statement. As there is nothing shown it looks like it does not reach that part of the code due to somekind of condition

Domoticz.Debug(
            'Creating domoticz device to handle "' + self.value_key +
            '" key for device with ieeeAddr ' + device_addre

[2019-02-20 20:19] LPCevaal commented on #78
I had the same issue, but was able to resolve the issue by simply shutting down Domoticz and restarting it.

[2019-02-20 20:39] jvbussel commented on #78
Sorry, that trick did not work for me. Domoticz was restarted numerous of times. Serverel reboots took place. It is already puzzeling me a longer time and therefore even decided to re-install my entire Raspberry at a certain point of time before I at the end submitted my question overhere

[2019-02-22 20:20] neffmartin commented on #78
Hi, having the same Probblem with a WSDCGQ11LM Xiaomi Aqara Temperature and Humidity Sensor. Rebooting of Domoticz helped. Have this issues since a week or so.

[2019-02-23 13:47] NE8XT opened #81 "Plugin unsupported bulb aqara ZNLDP12LM ?"
- Zigbee2MQTT version: 1.1.1
- Python version: 3.5.3
- Domoticz beta version: 4.10447
- Plugin version: 0.0.17

===========
**Zigbee2mqtt: Ok!**

![123](https://user-images.githubusercontent.com/6293406/53287239-ad535180-3779-11e9-8e96-42c06ad5686c.jpg)

**Domoticz: A new device 0x00158d0002b61873 is not added**.

![1234](https://user-images.githubusercontent.com/6293406/53287246-c3f9a880-3779-11e

[2019-02-27 07:45] stas-demydiuk commented on #81
Plugin has support for this device. I could recommend to restart plugin, it should force to create new devices.

[2019-02-27 09:26] NE8XT commented on #81
restarted, upgraded, reinstalled the plug-in, new devices not added!

[2019-03-03 08:16] salopette opened #82 "Temperatur for Xiaomi Plug ZNCZ02LM"
{"id":18,"type":"Router","ieeeAddr":"0x00158d00028d2b6b","nwkAddr":47147,"manufId":4447,"epList":[1,2,3,100],"status":"online","joinTime":1551598628,"endpoints":{"1":{"profId":260,"epId":1,"devId":81,"inClusterList":[0,1,2,3,4,5,6,10,16],"outClusterList":[10,25],"clusters":{}},"2":{"profId":260,"epId":2,"devId":9,"inClusterList":[12],"outClusterList":[4,12],"clusters":{}},"3":{"profId":260,"epId":

[2019-03-03 12:22] HJKLMN opened #83 "Just wondering E1524 tradfi? Is it supported?"
I see my E1524 in the log file coming up. But not in my devices:

2019-03-03 13:16:54.997 (Zigbee2mqttC2530) Device E1524 0xd0cf5efffe08e43f (KAMER_DIMMER)

In the supported devices,  it says the Ikea Wireless Dimmers is supported.

What am I doing wrong?

[2019-03-03 16:52] coolnovember commented on #65
I think I found the issue.
The 'click' field needs to be accessed using the .raw method and not just the message object directly.

index b50ffbd..c89876a 100644
--- a/adapters/lumi/WXKG03LM.py
+++ b/adapters/lumi/WXKG03LM.py
@@ -13,9 +13,9 @@ class WXKG03LM(AdapterWithBattery):
         message = super().convert_message(message)

         if 'click' in message.raw:
-            message.raw['state'

[2019-03-04 15:54] krywenko commented on #46
hi there  I downloaded the the most recent version  and installed it it still does not seam to work still . has it being updated to the main branch

[2019-03-04 18:15] #81 closed

[2019-03-04 18:15] NE8XT commented on #81
it Work

[2019-03-05 01:07] krywenko commented on #46
never mind I solved the issue by editing  kwh.py  and changing  kWh to Usage  it now graphs in domoticz  where as before it did nothing

[2019-03-05 14:55] MarcE85 opened #84 "error after reconnect"
**Issue description**
If i restart the mosquito broker, the plugins stops working. It reconnects but after that it doesn't receive any messages from the broker.

**Additional information**
Zigbee2MQTT version:  1.0.1
Python version:  3.5.3
Domoticz version: 4.10532
Plugin version: 0.0.17

**Logs**
2019-03-05 15:52:33.529 (Zigbee2MQTT_livingroom) MqttClient::onDisonnect Disconnected from: xxx.xxx.x

[2019-03-06 19:13] sander816 opened #85 "zigbee2mqtt domoticz plugin loses connection to zigbee2mqtt"
**Issue description**
I have 6 xiaomi devices connected to a rpi3 with cc2531 stick.
After some time using it, is loses the connection to the devices.
In zigbee2mqtt everything still works fine. Devices in domoticz do not update anymore
Disable and enable the plugin, and its back working

**Additional information**
Zigbee2MQTT version: zigbee2mqtt@1.1.1
Python version: Python 2.7.13
Domoticz versi

[2019-03-06 21:30] HerrieMan72 opened #86 "Re-add all devices"
Hi,
accidentally i added two zigbee2mqtt bridges in my domoticz hardware config via your plugin.
then I deleted one of them, but this also deleted all my zigbee connected devices from domoticz. I have in total around 50, so i don't fancy re-pairing all of them.
Now I would like to have the plugin re-create all my devices, but this doesn't seem to work.
I've tried removing all zigbee2mqtt bridges,

[2019-03-07 08:34] MarcE85 commented on #84
#85 Sounds like the same problem!

[2019-03-07 16:57] HerrieMan72 commented on #86
I checked with the debugging option enabled and then I get all sorts of 'adding device for..' messages in my logging, so it seems like the plugin is trying to add the devices but somehow these are not showing up in domoticz.
Help would be greatly appreciated.

[2019-03-08 16:02] JanJaapKo commented on #86
Hi @HerrieMan72

Normally when you execute an update to an installed instance of Zigbee2MQTT plugin it reads the list of devices that are in the Zigbee2MQTT broker (all devices that you can find in the config.yaml). Please note that devices in Domoticz are added but not set to used, so they should appear under the setup->devices tab, just not in the 'switches' tab.

[2019-03-09 11:18] stas-demydiuk commented on #65
@coolnovember thank you for the finding, this is really the root cause of issue.
Fix is already in the master branch

[2019-03-09 11:18] #65 closed

[2019-03-09 11:22] stas-demydiuk commented on #86
@HerrieMan72 as @JanJaapKo mentioned, plugin checks all available devices each time bridge goes online as well as adding or removing devices. Additionally you could force devices to sync by simply restarting the plugin.

[2019-03-09 11:23] stas-demydiuk commented on #85
@sander816 could you please explain what do you mean by "loses the connection to the devices"?

[2019-03-09 11:26] stas-demydiuk commented on #82
@salopette why do you need this value in the domoticz? Plug reports smth as temperature but it doesn't like smth related to real device or room temperature. Do you know the nature of that value?

[2019-03-09 11:48] salopette commented on #82
my Xiaomi plug is out in the garden. The temperature that comes from that is almost a real value.
And if necessary, you can correct the temperature in Domoticz!
Would be cool if you would include it in your plug-in!

[2019-03-09 12:48] sander816 commented on #85
i mean that, in [zigbee2mqtt ](https://www.zigbee2mqtt.io/)from koenkk everything works fine in commandline, but the Zigbee2MQTT domoticz plugin from this page doesnt update the sensors anymore.
Restarting koenkk zigbee2mqtt solves it

Although i upgraded the zigbee2mqtt plugin 3 days ago, till now no problem

[2019-03-09 14:14] stas-demydiuk commented on #84
Should be now fixed

[2019-03-09 14:14] #84 closed

[2019-03-09 14:16] stas-demydiuk commented on #85
@sander816 maybe it is somehow related to #84. Did you restart your MQTT server when you have an issue?

[2019-03-09 16:40] stas-demydiuk commented on #83
@HJKLMN please note that plugin adds devices in Domoticz and set them to non used, so they should appear under the setup->devices tab, just not in the 'switches' tab.

[2019-03-10 09:22] HerrieMan72 commented on #86
Hi,
I still can't get this to work again :(
I've restarted the Pi where I have zigbee2mqtt running on
I've restarted the server where my domoticz is running on.
I've modified the list of paired zigbee devices to zigbee2mqtt.
I've removed and re-added the plugin to domoticz, with same name and also with different name.
I see in the domoticz logging correct messages from the plugin listing all the p

[2019-03-10 11:54] stas-demydiuk commented on #86
Did you checked this issue #78, sounds very similar?

[2019-03-10 11:58] stas-demydiuk commented on #78
In some cases it might require to restart plugin to add newly joint devices to Domoticz. Also please make sure you have the latest version from master (there were couple fixes in that area recently)

[2019-03-10 12:15] HerrieMan72 commented on #86
@stas-demydiuk , thanks a lot, that was indeed the issue, I didn't have the 'accept new hardware devices' ticked in my settings.
Now all devices are back again :) Thanks!

[2019-03-10 16:06] maupie1967 opened #87 "Xiaomi Mijia gas detector"
**Device description**
Xiaomi Mijia Honeywell gas detector
JTQJ-BF-01LM/BW

**MQTT message with device information**
2019-03-10 16:45:53.661 (Zigbee2MQTT) MQTT message: zigbee2mqtt/Xiaomi_Gas_detector {'linkquality': 115, 'gas': False}
2019-03-10 16:45:53.661 (Zigbee2MQTT) Unsupported zigbee device type with model "JTQJ-BF-01LM/BW"

2019-03-10 16:57:09.852 (Zigbee2MQTT) MQTT message: zigbee2mqtt/b

[2019-03-10 17:02] jvbussel commented on #78
Hi, I have reinstalled everything again. Funny enough I now do got a message what might be going on:

Unsupported zigbee device type with model "LED1732G11"

verbose output:

2019-03-10 17:57:58.482 (P1 Smart Meter) Usage (Delivery L3)
2019-03-10 17:57:58.496 (Zigbee2MQTT) Received 145 bytes of data
2019-03-10 17:57:58.496 (Zigbee2MQTT) 30 8e 01 00 1e 7a 69 67 62 65 65 32 6d 71 74 74 2f 30 78 64 0

[2019-03-10 23:20] loglux opened #88 "Double data with the same time but different info"
Spotted in the Domoticz's log today:

[code]

[code]

The difference in humidity is a little but comes at the same time. that's weird.

[2019-03-11 18:42] aep opened #89 "Error: zigbee hardware (3) thread seems to have ended unexpectedly"
**Issue description**
plugin doesnt add any devices, just crashes in a loop.
this is a fresh installation.
after restarting domoticz, it will no longer come up. just gets stuck in crash looping.

**Additional information**
Zigbee2MQTT version:
1.2.1

Python version:
Python 2.7.15

Domoticz version:
2019-03-11 18:41:42.864  Status: Domoticz V4.10531 (c)2012-2019 GizMoCuz
2019-03-11 18:41:42.864  St

[2019-03-11 20:31] stas-demydiuk commented on #89
Did that happen with previous version or it is the first version you are using?

[2019-03-11 20:33] aep commented on #89
That's the first time I'm using domoticz, but I suspect it might be related
to using the beta version?

On Mon, Mar 11, 2019, 21:31 Stanislav Demydiuk <notifications@github.com>
wrote:

[2019-03-11 20:33] stas-demydiuk commented on #88
Yes, also noticed the same behavior with my sensor, but it is something coming from zigbee2mqtt gateway, not smth produced by plugin. So better to create issue in zigbee2mqtt repository

[2019-03-11 20:33] #88 closed

[2019-03-11 20:33] #86 closed

[2019-03-11 20:35] stas-demydiuk commented on #89
Oh I see, you've mentioned Python 2.7, but plugin only supports Python 3.5+

[2019-03-11 20:37] aep commented on #89
Ah! but domoticz only starts with /bin/python linked to python2 :/

I'll toy around with giving each their own python version.

On Mon, Mar 11, 2019, 21:35 Stanislav Demydiuk <notifications@github.com>
wrote:

[2019-03-11 20:44] stas-demydiuk commented on #80
Close the issue until steps to continuously reproduce issue will be found.

[2019-03-11 20:44] #80 closed

[2019-03-11 20:47] stas-demydiuk commented on #78
Yes, this device is not supported yet. Could you please create separate issue for adding it's support?

[2019-03-11 20:48] #78 closed

[2019-03-13 16:56] jvbussel opened #90 "Support for IKEA TRADFRI LED1732G11"
In ./node_modules/zigbee-shepherd-converters/devices.js I found the follow information about this device as it is already supported  by Koenkk/zigbee2mqtt:

    {
        zigbeeModel: ['TRADFRI bulb E27 WS opal 1000lm'],
        model: 'LED1732G11',
        vendor: 'IKEA',
        description: 'TRADFRI LED bulb E27 1000 lumen, dimmable, white spectrum, opal white',
        extend: generic.light_on

[2019-03-13 18:57] stas-demydiuk commented on #90
Should be available with version from latest master branch

[2019-03-13 18:57] #90 closed

[2019-03-13 18:58] stas-demydiuk commented on #85
@sander816 please reopen the issue if it still occurs with latest plugin version

[2019-03-13 18:58] #85 closed

[2019-03-13 18:59] stas-demydiuk commented on #89
@aep please reopen the issue if it still valid

[2019-03-13 18:59] #89 closed

[2019-03-13 19:31] jvbussel commented on #90
That’s funny. I just installed the latest version last Sunday for both your plugin and for Koenkk/zigbee2mqtt with the result of having an unsupported device.

[2019-03-13 19:33] stas-demydiuk commented on #90
I've just added the support less than hour ago

[2019-03-13 19:34] jvbussel commented on #90
Ok, miss understanding. Thanks for your swift action. I will immediately update the plugin.

[2019-03-13 19:42] jvbussel commented on #90
I confirm seeing new devices (expected however to see only one). Tha nks for your support and patience.

![newDevices](https://user-images.githubusercontent.com/12373643/54309420-62866600-45d0-11e9-8846-bb3b7e475fd9.png)

[2019-03-14 16:59] Mayki07 opened #91 "WXKG02LM - Xiaomi Aqara double key wireless wall switch"
**Issue description**
In the log I see that it recognizes all the switch states. In Domoticz, however, the switch created has only four states:
<a href="https://imgur.com/XcuM4T7"><img src="https://i.imgur.com/XcuM4T7m.jpg" title="source: imgur.com" /></a>

**Additional information**
Zigbee2MQTT version: 1.2.1
Python version: 3.5
Domoticz version: V4.10545  Rpi 3B+
Plugin version: "0.0.18"

**Logs

[2019-03-15 04:03] salopette opened #92 "Domoticz error after update Zigbee2Mqtt"
Hi Stas, i have problem after updatet of Zigbee2Mqtt

Can you please fix it.

THX
https://github.com/Koenkk/zigbee2mqtt/issues/1255

2019-03-15 05:03:26.930 Error: (Zigbee Stick) 'onMessage' failed 'KeyError'.
2019-03-14 21:04:23.960 Error: (Zigbee Stick) ----> Line 193 in '/home/pi/domoticz/plugins/zigbee2mqtt/plugin.py', function onMessage
2019-03-14 21:04:23.960 Error: (Zigbee Stick) ----> Line

[2019-03-15 18:17] HJKLMN opened #93 "Error"
**Issue description**
Put general information here

**Additional information**
Zigbee2MQTT version: Latest
Python version:
Domoticz version:
Plugin version:

**Logs**
Attach any additional logs here which might be useful: mqtt, domoticz, plugin logs

2019-03-15 19:15:22.133 Error: (Zigbee2mqttC2530) 'onMessage' failed 'KeyError'.
2019-03-15 19:15:22.133 Error: (Zigbee2mqttC2530) ----> Line 193 in

[2019-03-15 22:00] #93 closed

[2019-03-15 22:01] HJKLMN commented on #92
Same error here:

2019-03-15 19:15:22.133 Error: (Zigbee2mqttC2530) 'onMessage' failed 'KeyError'.
2019-03-15 19:15:22.133 Error: (Zigbee2mqttC2530) ----> Line 193 in '/opt/domoticz/plugins/zigbee2mqtt/plugin.py', function onMessage
2019-03-15 19:15:22.133 Error: (Zigbee2mqttC2530) ----> Line 106 in '/opt/domoticz/plugins/zigbee2mqtt/plugin.py', function onMessage
2019-03-15 19:15:22.133 Error: (Z

[2019-03-16 06:47] stas-demydiuk commented on #92
What version of zigbee2mqtt are you using?

[2019-03-16 06:56] HJKLMN commented on #92
Starting zigbee2mqtt version 1.2.1 (commit #d4d8563)

[2019-03-16 07:36] salopette commented on #92
Latest commit 661f79c

[2019-03-16 07:46] stas-demydiuk commented on #92
Should be fixed with latest plugin

[2019-03-16 07:54] stas-demydiuk commented on #75
This behavior comes from zigbee2mqtt not from the plugin, so I can do nothing about it here.

[2019-03-16 07:54] #75 closed

[2019-03-16 07:59] stas-demydiuk commented on #83
@HJKLMN Currently this device is not supported, please create "Support new device" issue if you'd like to have support for it

[2019-03-16 07:59] #83 closed

[2019-03-16 08:10] stas-demydiuk commented on #82
Available in latest plugin

[2019-03-16 08:10] #82 closed

[2019-03-16 08:10] #92 closed

[2019-03-16 08:12] tabnul commented on #75
@stas-demydiuk
Zigbee2mqtt handles the situation correct. It throws an error.
Under normal circumstances a second message is received from the outlet, if the switch went ok.

Shouldnt domoticz honorate response messages? Thats the whole point of zigbee (else you could just use 433 mhz, no response, shoot and forget)

[2019-03-16 08:19] stas-demydiuk commented on #75
What is your vision for this case assuming that zigbee2mqtt doesn't replicate specified error over mqtt, so plugin will never receive it?

[2019-03-16 08:20] tabnul commented on #75
It does replicate a succesfull switch (the outlet confirms by sending the status after the switch).
If it doesnt confirm, it didnt switch right.

[2019-03-17 09:56] Mayki07 commented on #91
Will he do anything about it?

[2019-03-20 18:16] StevenBoelhouwer commented on #91
Working fine with your changes as long as you don't use tabs but spaces.

Steps:
Remove the devices created by WXKG02LM.py
Stop Domoticz
Update the WXKG02LM.py file with:

[code]
Restart zigbee2mqtt (to be sure)
Start Domoticz

Device should be added again but now with all the possible options, I've set it to menu because the amount of options is too much to render :)

[2019-03-20 19:32] stas-demydiuk commented on #91
@StevenBoelhouwer thanks for the workaround, but I don't know how to add native support to plugin as only some of WXKG02LM switches support new states and we need somehow recognize them from the other ones.

[2019-03-20 19:54] StevenBoelhouwer commented on #91
Ah, I see! Too bad for hardware in different versions but keeping the same modelname...
This should be something for the zigbee2mqtt project then.

[2019-03-22 20:47] Maik-100 opened #96 "E1524 - IKEA TRADFRI remote control and E1525 - IKEA TRADFRI motion sensor are not working for me"
2019-03-22 08:09:28.723 Status: Domoticz V4.9700 (c)2012-2018 GizMoCuz
2019-03-22 08:09:28.728 Status: Build Hash: a3a45906, Date: 2018-06-23 16:24:51
2019-03-22 08:09:28.730 Status: Startup Path: /home/pi/domoticz/
2019-03-22 08:09:29.076 Status: EventSystem: reset all events...
2019-03-22 08:09:29.819 Status: PluginSystem: Started, Python version '3.5.3'.
2019-03-22 08:09:29.877 Status: WebServe

[2019-03-24 10:37] stas-demydiuk commented on #96
@Maik-100 I've just added support for E1525.
For E1524 could you please add examples of MQTT messages that device produces

[2019-03-24 20:32] Maik-100 commented on #96
Do this help? Do you mean something like this?

2019-3-22 10:23:33 - info: MQTT publish: topic 'zigbee2mqtt/bridge/log', payload '{"type":"pairing","message":"device incoming"}'
2019-3-22 10:25:03 - info: MQTT publish: topic 'zigbee2mqtt/0x000d6ffffe18e00a', payload '{"action":"toggle","linkquality":99}'
2019-3-22 10:25:17 - info: MQTT publish: topic 'zigbee2mqtt/0x000d6ffffe18e00a', payload '{"ac

[2019-03-24 20:38] Mayki07 commented on #91
Thank you for your help, it works well.

[2019-03-24 20:47] Maik-100 commented on #96
and for:
2019-3-22 21:19:36 - info: 0x000d6ffffe699d8b (0x000d6ffffe699d8b): E1525 - IKEA TRADFRI motion sensor (EndDevice)

2019-3-24 06:49:00 - info: Successfully configured 0x000d6ffffe699d8b (0x000d6ffffe699d8b)
2019-3-24 06:49:19 - info: MQTT publish: topic 'zigbee2mqtt/0x000d6ffffe699d8b', payload '{"battery":87,"linkquality":23}'
2019-3-24 07:10:11 - info: MQTT publish: topic 'zigbee2mqtt/0

[2019-03-25 19:10] wini83 commented on #96
E1524 is still not working for me:
` 2019-03-25 20:01:53.420 (zigbee) MqttClient::ping
2019-03-25 20:01:53.972 (zigbee) MQTT message: zigbee2mqtt/ikea_remote {'linkquality': 10, 'action': 'brightness_up_click'}
2019-03-25 20:01:53.972 (zigbee) Unsupported zigbee device type with model "E1524" `

[2019-03-25 19:38] Maik-100 commented on #96
I look in file:  domoticz-zigbee2mqtt-plugin/adapters/__init__.py.
Yes, I found the string/device E1525. You add it.

Bud I do not found string/device E1524. Neither in this file, nor somewhere else.
So it is clear for me, that domoticz does not create a new device.
I add examples of MQTT messages for both devices (*9d8b is E1525 and *e00a is E1524).
Please add this device, too. Thanks

[2019-03-26 07:27] Maik-100 commented on #96
Thanks, the E1525 is now listed in domoticz under device.
There are 3 infomation in mqtt message from the device:
Battery information is displayed correct.
Linkquality comes in the column "data", correct for me.
Occupancy is not converted into domoticz.

If I look in domoticz in the events menue I found the butten "Show current states". The displayed "current state" is the value/data from the info

[2019-03-26 07:38] Maik-100 commented on #96
Is sufficient for the integration of the E1524 to start with the "action":"toggle" and the "linkquality".
toggle comes if I press the big button in the middle, the on/off button.
Later you can enhance the functionality.

[2019-03-26 07:56] stas-demydiuk commented on #96
@Maik-100 @wini83 I've added support for E1524 based on your messages. Unfortunately I don't have such device to be able to test. So please do it on your own and put any feedback here.

[2019-03-26 18:52] salopette opened #97 "Unsupported zigbee device type with model "HGZB-02A""
2019-03-26 19:50:07.174 "0x00158d00028d2b6b" -> "0x00158d00025e3e31" [label="20"]
2019-03-26 19:50:07.174 }
2019-03-26 19:50:08.827 (Zigbee Stick) MQTT message: zigbee2mqtt/0x00158d00025e3e31 {'linkquality': 81, 'state': 'OFF'}
2019-03-26 19:50:08.827 (Zigbee Stick) Unsupported zigbee device type with model "HGZB-02A"
2019-03-26 19:50:08.827 (Zigbee Stick) MQTT message: zigbee2mqtt/0x00158d00025e3

[2019-03-26 18:54] salopette commented on #97
.db

{"id":5,"type":"Router","ieeeAddr":"0x90fd9ffffe0fcd0e","nwkAddr":22314,"manufId":4476,"manufName":"IKEA of Sweden","powerSource":"Mains (single phase)","modelId":"TRADFRI bulb GU10 W 400lm","epList":[1],"status":"offline","joinTime":null,"endpoints":{"1":{"profId":49246,"epId":1,"devId":256,"inClusterList":[0,3,4,5,6,8,2821,4096],"outClusterList":[5,25,32,4096],"clusters":{"genBasic":{"dir":

[2019-03-26 19:23] stas-demydiuk commented on #97
Should be available with latest plugin

[2019-03-26 22:49] Maik-100 commented on #96
Thanks, yes the E1524 comes up in domoticz.
E1524 and E1525 both are sensors and no actors. They come with more than one lines in the device section of domoticz.
One line is from type General and Sub-Type Voltage (Battery), an other line is type General and Sub-Type Linkqulity. Thats ok for me. If I add that kind of device, I get an Utility more.

But E1525 got one line more from type Light/Switch

[2019-03-27 04:18] salopette commented on #97
большое спасибо Стас!

[2019-03-27 04:18] #97 closed

[2019-03-27 07:02] Maik-100 commented on #96
I activated debug-level in domoticz. Now I see trouble with E1524 (Unable to find selector switch level for value ):

2019-03-27 07:53:58.735 (zigbee2mqtt) Received available devices list from bridge
2019-03-27 07:53:58.736 (zigbee2mqtt) Device LED1623G12 0x000d6ffffed15a64 (0x000d6ffffed15a64)
2019-03-27 07:53:58.737 (zigbee2mqtt) Creating domoticz device to handle "linkquality" key for device wi

[2019-03-27 19:00] stas-demydiuk commented on #96
It the way how Domoticz works with devices. Does all E1524 switches work as expected (except debug stuff)?

[2019-03-27 22:06] Maik-100 commented on #96
It is not easy to answert your question.
I am thinking to my usecases: Switch ligth on and off, make lights dark or brighter, from value to value with click and next click or scroll all possible values if hold is still pressed...

I will give you an answert.
Perhaps other user of E1524 give answert?

Thanks a lot!

[2019-03-28 07:47] Maik-100 commented on #96
There are some issues in zigbee2mqtt:
-> IKEA E1524 without battery information? (#1324)
-> IKEA E1524 with no converter? (#1325)
-> IKEA  E1525 - IKEA TRADFRI motion sensor without converter? (#1322)
They are fixed in latest dev!

So, I have an suggestion:
You fix the debug stuff for all 5 buttons, and close this feature request.
If Koen Kanters released the new Verstion of zigbee2mqtt, I retest

[2019-03-29 07:16] stas-demydiuk commented on #96
@Maik-100 I've pushed the update which should hide debug messages

[2019-03-29 12:43] salopette opened #98 "Please add Device ZG9101SAC-HP"
https://www.amazon.de/gp/product/B07MC6GB9V/ref=ppx_yo_dt_b_asin_title_o00_s00?ie=UTF8&psc=1

"0x000d6f0010657219" [style="rounded", label="{0x000d6f0010657219|Router|Sunricher ZigBee AC phase-cut dimmer (ZG9101SAC-HP)|offline}"];

 {'ieeeAddr': '0x000d6f0010657219', 'swBuildId': '2.4.1_r30', 'dateCode': 'NULL', 'hwVersion': 0, 'powerSource': 'Mains (single phase)', 'type': 'Router', 'modelId': 'Z

[2019-03-29 20:09] pakoR opened #99 "Sengled Element Classic (A60) not working with plugin"
If I am right the Sengled Element Classic device (A60) listed as compatible with the plugin corresponds to the model E11-G23, I have a few bulbs of this model that are paired without problem in zigbee2mqtt and listed as "Device E11- G23 / E11-G33 ", but the plugin does not seem to create any device in domoticz. Tested updating to last version both zigbee2mqtt and the plugin.

[2019-03-30 16:06] SargonofAssyria opened #100 "Double devices"
**Issue description**
Recently (last week) I have (had?) some trouble with zigbee2mqtt
**Additional information**
Zigbee2MQTT version:  version 1.2.1 (commit #91bc56a)
Python version: Python 2.7.13 and Python 3.5.3
Domoticz version: 4.10533
Plugin version: 0.0.18

For a week ago everything was working fine. Then I got in to trouble https://github.com/Koenkk/zigbee2mqtt/issues/1337 in that time tha

[2019-03-31 08:08] stas-demydiuk commented on #100
That's very strange, I would suggest to manually remove duplicated devices with higher unit number

[2019-03-31 08:09] stas-demydiuk commented on #99
@pakoR could you please enable debug mode for the plugin and provide your log output from plugin and zigbee2mqtt

[2019-03-31 08:50] salopette commented on #98
Hello Stas. do you need to specify further to the device?

[2019-03-31 09:56] stas-demydiuk commented on #98
@salopette could you please add plugin log related to this device

[2019-03-31 09:57] SargonofAssyria commented on #100
I suppose that the unit numbering is done by the plugin and done in order that a device is coming in.
The order is totally different from the initial setup. I also suppose that the Domoticz ID is the link to device.
In this example '0x00158d0002b7d689_light' that ID was there and should be found by the plugin.
Why delete the higher unit number? This way I get a mixture of 'old' and 'new' devices.

[2019-03-31 10:01] stas-demydiuk commented on #100
@SargonofAssyria you are right, plugin uses ID field to find proper device. I see that both devices you've provided have the same ID, that's why I suggested to remove newer device because old one might already have some log. But actually if log doesn't important for you, you can remove any device

[2019-03-31 10:55] SargonofAssyria commented on #100
Oke, I removed the newer devices, and it seems that everything is working OK.
Still strange that this happened.

[2019-03-31 10:55] #100 closed

[2019-03-31 11:14] salopette commented on #98
my .db
https://pastebin.com/xsrNMjLt

my log
https://pastebin.com/gNTpLSj3

[2019-03-31 11:23] salopette commented on #98
2019-03-31 13:21:25.874 "0x000d6f0010657219" [style="rounded", label="{Dimmer|Router|Sunricher ZigBee AC phase-cut dimmer (ZG9101SAC-HP)|offline}"];
2019-03-31 13:21:25.874 "0x000d6f0010657219" -> "0x00124b0014d9d6f9" [label="52"]
2019-03-31 13:21:25.874 "0x000d6f0010657219" -> "0x7cb03eaa0a020df6" [label="64"]
2019-03-31 13:21:25.874 "0x000d6f0010657219" -> "0x90fd9ffffe164fe7" [label="94"]
2019-

[2019-03-31 12:23] pakoR commented on #99
2019-03-31 14:10:29.631 (Zigbee2MQTT) onStart called
2019-03-31 14:10:29.631 (Zigbee2MQTT) MqttClient::__init__
2019-03-31 14:10:29.631 (Zigbee2MQTT) MqttClient::open
2019-03-31 14:10:29.847 (Zigbee2MQTT) onConnect called
2019-03-31 14:10:29.848 (Zigbee2MQTT) Connected to MQTT Server: 127.0.0.1:1883
2019-03-31 14:10:29.848 (Zigbee2MQTT) MQTT CLIENT ID: 'Domoticz_1554034229_3220'
2019-03-31 14:10:2

[2019-03-31 12:31] pakoR commented on #99
mar 31 14:28:30 DomoticzPi npm[1678]:   zigbee2mqtt:warn 2019-3-31 14:28:30 Message without device!
mar 31 14:28:35 DomoticzPi npm[1678]:   zigbee2mqtt:warn 2019-3-31 14:28:35 Device with modelID 'undefined' is not supported.
mar 31 14:28:35 DomoticzPi npm[1678]:   zigbee2mqtt:warn 2019-3-31 14:28:35 Please see: https://www.zigbee2mqtt.io/how_tos/how_to_support_new_devices.html
mar 31 14:28:36 Dom

[2019-03-31 12:32] pakoR commented on #99
The problem is on zigbee2mqtt?

[2019-03-31 15:49] stas-demydiuk commented on #99
The problem is in `Device with modelID 'undefined' is not supported`. It sometimes happens that during including device into zigbee network it doesn't send model identifier. I would suggest to remove device from network and pair it one more time. Or wait until zigbee network do self-update and resolve issue.

[2019-03-31 15:52] stas-demydiuk commented on #98
@salopette I don't see `ZG9101SAC-HP` model in zigbee2mqtt supported devices list (https://www.zigbee2mqtt.io/information/supported_devices.html)

[2019-03-31 16:47] salopette commented on #98
it's the same as that

ICZB-IW11D
--

iCasa Zigbee 3.0 Dimmer (on/off, brightness)
--

[2019-03-31 17:29] stas-demydiuk commented on #98
Ok, should be available with latest plugin

[2019-03-31 18:08] salopette commented on #98
Thanks, it works, but the news comes several times?

2019-03-31 20:07:17.738 (Zigbee Stick) onCommand: On, level (25) Color:
2019-03-31 20:07:17.739 (Zigbee Stick) MqttClient::publish zigbee2mqtt/Dimmer/set ({"state": "ON"})
2019-03-31 20:07:17.990 (Zigbee Stick) MQTT message: zigbee2mqtt/Dimmer {'linkquality': 36, 'state': 'ON', 'brightness': 65}
2019-03-31 20:07:17.725 Status: User: Admin initia

[2019-03-31 18:15] salopette commented on #98
Strange, that is not only with the, but with all Zigbee devices.

[2019-03-31 18:48] stas-demydiuk commented on #98
It doesn't look related to plugin, probably smth with zigbee2mqtt

[2019-03-31 18:54] #98 closed

[2019-03-31 19:03] #96 closed

[2019-03-31 20:03] pakoR commented on #99
Thanks stas, I have those 2 sengled devices connecting the zigbee network for 2 weeks before I open this issue, and now I tried removing all entries of those 2 devices from zigbee2mqtt/data/database.db and repaired again with no luck for 4 times getting the same "Device with modelID 'undefined' is not supported".
I guess should open an issue in zigbee2mqtt.

[2019-04-04 11:32] SargonofAssyria opened #102 "TemperatureHumidityBarometerSensor does not create right devices in Domoticz"
**Issue description**
TemperatureHumidityBarometerSensor : this devices creates a Pressure sensor in Domoticz, despite the "Barometer" in the name. In fact it is a barometer reading which comes out of the sensor. So I think that the created subtype is incorrect. Advantage is also that the Barometer device is positioned in the Weather Tab of Domoticz instead of the Utility Tab as the Pressure devic

[2019-04-06 14:50] ArJay60 opened #103 "Gledopto S-004Z support wanted"
**Device description**
GLEDOPTO GL - S - 004Z ZIGBEE Smart GU10 5W LED Spotlight Bulb for Home - White WW/CW

Reported by Zigbee@MQTT as S-004Z

{"id":7,"type":"Router","ieeeAddr":"0x00124b001b9223a2","nwkAddr":49254,"manufId":0,"manufName":"GLEDOPTO","powerSource":"Mains (single phase)","modelId":"GL-S-004Z","epList":[11,13],"status":"offline","joinTime":null,"endpoints":{"11":{"profId":49246,"ep

[2019-04-07 07:45] stas-demydiuk commented on #103
@ArJay60 I don't see this device in [supported devices list](https://www.zigbee2mqtt.io/information/supported_devices.html) at the moment

[2019-04-07 07:46] stas-demydiuk commented on #99
@pakoR I'll close the issue here for now, please reopen it if some fix will be required in plugin itself

[2019-04-07 07:46] #99 closed

[2019-04-07 15:53] ArJay60 commented on #103
SUbmitted request to add it to Zigbee2MQTT. Keep you posted on progress there.

[2019-04-08 19:21] ArJay60 commented on #103
@stas-demydiuk : Device is added to devices.js . see https://github.com/Koenkk/zigbee-shepherd-converters/issues/390. But still not added tot supported devices page. Can you add while still not being seen officialy on supported devices list for zigbee2mqtt?

[2019-04-08 20:03] stas-demydiuk commented on #103
Done, should be available with latest plugin

[2019-04-09 15:57] ArJay60 commented on #103
And working. Thanks for the super service.

[2019-04-09 15:57] #103 closed

[2019-04-10 14:24] salopette opened #105 "heiman water leak (HS1-WL-E)"
my .db

https://pastebin.com/8xfJQ76j

2019-04-10 16:27:20.527 (Zigbee Stick) Device 0x000d6f0011d5a8bb (Wasser Sensor) doesn't have "model" attribute, skipped

Can you please add the Heiman HS1-WL-E?

Thank you

https://github.com/Koenkk/zigbee2mqtt/issues/1403

[2019-04-13 10:24] MarcE85 opened #106 "TRADFRI bulb E27 CWS opal 600lm Error"
**Issue description**
Hey,

i get an error if i try to change the state of my IKEA TRADFRI Lamp.

**Additional information**
Zigbee2MQTT version: 1.3.0 Dev
Python version: 3.5.3
Domoticz version: latest dev
Plugin version: 0.0.18

**Logs**
Domoticz log:
2019-04-13 12:19:47.890 Error: (Zigbee2MQTT_livingroom) 'onMessage' failed 'KeyError'.
2019-04-13 12:19:47.890 Error: (Zigbee2MQTT_livingroom) ---

[2019-04-14 08:22] SargonofAssyria opened #107 "JTYJ-GD-01LM/BW Xiaomi MiJia Honeywell smoke detector (smoke)"
**Issue description**
Status info should be send to Domoticz.
See: https://github.com/Koenkk/zigbee2mqtt/issues/1413
And: https://github.com/Koenkk/zigbee2mqtt/issues/391

**Additional information**
Zigbee2MQTT version: 1.3.0 (commit #da94252)
Python version: 3.5.3
Domoticz version: 4.10602
Plugin version: 0.0.18

[2019-04-14 14:04] SargonofAssyria opened #108 "ZNLDP12LM - Xiaomi Aqara smart LED bulb color temperature is not transfered to Domoticz"
**Issue description**
The color temperature is not transfered to Domoticz
See also:
http://www.domoticz.com/forum/viewtopic.php?f=59&t=27499&sid=f6e805a64edc347cc9e560404a5cca54#p210792
**Additional information**
Zigbee2MQTT version: 1.3.0 (commit #da94252)
Python version: 3.5.3
Domoticz version: 4.10602
Plugin version: 0.0.18

[code]

[2019-04-14 18:52] HJKLMN opened #109 "Errors in log fle"
**Issue description**
Put general information here

**Additional information**
Zigbee2MQTT version:  Latest
Python version: Python 2.7.15rc1
Domoticz version:
2019-04-14 20:52:02.639  Status: Domoticz V4.10532 (c)2012-2019 GizMoCuz
2019-04-14 20:52:02.639  Status: Build Hash: 414dfe3d, Date: 2019-02-28 15:51:54
Plugin version: Latest

**Logs**
2019-04-14 20:32:58.985 Error: (Zigbee2mqttC2530) 'onM

[2019-04-14 19:37] salopette commented on #109
your Python version is too old

Python Version: 3.5.3 is current

[2019-04-16 11:02] cabraspower opened #110 "WSDCGQ11LM"
Hello!
I have the temperature sensor aqara (WSDCGQ11LM) working correctly in domoticz but the barometer prediction (sunny, cloudy, ...) only appears as "unknown", how can I solve it?

Thank you

[2019-04-16 17:54] HJKLMN commented on #109
python3 -V
Python 3.6.7

Still same errors.

[2019-04-16 20:26] kireque opened #111 "Create device upon zigbee group creation"
Not sure if this has been asked before...

It would be neat if a switch is being created within Domoticz when a group is created in the Zigbee2Mqtt configuration.

Also the state of a group member is not updated when a command has been sent to the group (or is this a zigbee2mqtt issue?)

[2019-04-16 20:57] salopette commented on #111
Hi, I do not have a solution for you, but how do you create a group?
Can you explain that to me?

[2019-04-20 18:46] HJKLMN commented on #111
http://www.zigbee2mqtt.io/information/groups.html

[2019-04-24 18:57] stas-demydiuk commented on #109
@HJKLMN could you please provide your MQTT message after what this error appears

[2019-04-24 18:59] stas-demydiuk commented on #107
@SargonofAssyria could you please explain what behavior do you expect?

[2019-04-24 19:03] stas-demydiuk commented on #105
@salopette please reopen the issue once this device will be supported by zigbee2mqtt

[2019-04-24 19:03] #105 closed

[2019-04-24 19:06] stas-demydiuk commented on #102
@SargonofAssyria could you please explain difference between pressure and barometer in this case?

[2019-04-25 09:19] SargonofAssyria commented on #102
https://en.wikipedia.org/wiki/Pressure and https://en.wikipedia.org/wiki/Barometer
Main difference is that Barometer only covers 'Air' pressure. In case of WSDCGQ11LM we only measure air (pressure). This is (can be) used in Weather prediction.
In Domoticz there is a difference where the device is visible.
Pressure is visible in the Utility tab and Barometer is visible in the Weather tab.

[2019-04-25 09:30] SargonofAssyria commented on #107
At least that the 'Last Seen' is updated.
It would be nice if a status button is created and updated if the test button has been pressed.
This way a message can be produced every month that a device is tested or not.
Or at least that the Smoke device it self is triggered.

[2019-04-26 13:30] MarcE85 commented on #106
Fixed; Updatet Plugin and reloaded Domoticz

[2019-04-26 13:30] #106 closed

[2019-04-27 07:51] stas-demydiuk commented on #111
@kireque it looks like currently it is isn't possible to receive group list from zigbee2mqtt gateway, so I don't see how support can be implemented

[2019-04-27 08:04] stas-demydiuk commented on #102
Available in latest master branch

[2019-04-27 08:07] stas-demydiuk commented on #110
Unfortunately plugin doesn't calculate predictions on its own and always set forecast as "None". If you know how to calculate it, I could add it to the plugin

[2019-04-27 08:22] SargonofAssyria commented on #102
Tnx, but unfortunately NOT fully correct. nValue is incorrectly filled.
The nValue should be 0 and the sValue should be 1003;3
Where the 1003 is the barometric pressure and the 3 is the Prediction

[2019-04-27 09:33] stas-demydiuk commented on #102
@SargonofAssyria Ok, I will add. Are you sure about the numbers, I have these descriptions for forecast, but don't remember where I found them:
Forecast (0 - None, 1 - Sunny, 2 - PartlyCloudy, 3 - Cloudy, 4 - Rain)

And I guess it is also applicable for #110

[2019-04-27 11:00] SargonofAssyria commented on #102
Yes, it's also  applicable for #110
It is an approximation, real formula might be to complex.
You can find it in the code here:  https://www.domoticz.com/forum/viewtopic.php?t=10822
And more detailed here: http://www.freescale.com/files/sensors/doc/app_note/AN3914.pdf

[2019-04-27 16:45] wini83 commented on #96
I cannot change the state of  E1524 (toggle Swith) from Domoticz.
For Brightness Up/Down that works ok

[2019-04-27 18:27] stas-demydiuk commented on #102
@SargonofAssyria could you please update and check?

[2019-04-28 09:16] SargonofAssyria commented on #102
Tnx, for the update, it works perfectly.

[2019-04-28 09:17] #102 closed

[2019-04-28 13:04] stas-demydiuk commented on #110
@cabraspower  should be fixed with latest plugin

[2019-04-28 13:04] #110 closed

[2019-04-28 13:52] Timon48 commented on #109
Hi Satas,
I have the same issue, maybe my log coud help you to rsolve it.

MQTT message:

Thank you

[2019-04-28 19:33] HJKLMN commented on #109
Thx, did not hav time yet to send logs, as I am currently abroad. When I arrive home, and mine are different, I will let you know

[2019-04-28 20:40] cabraspower commented on #110
Thx!

[2019-05-01 08:13] salopette commented on #105
привет, вроде подхватил Водяной сенсор.

не мог бы ты его в домотикз добавить?

2019-05-01 10:08:39.540 (Zigbee Stick) MQTT message: zigbee2mqtt/bridge/config/permit_join True
2019-05-01 10:08:39.540 (Zigbee Stick) MQTT message: zigbee2mqtt/bridge/log {'message': [{'type': 'Coordinator', 'ieeeAddr': '0x00124b0014d9d6f9'}, {'model': 'WaterSensor-EM', 'swBuildId': '1.1.1', 'friendly_name': '0x000d6f

[2019-05-02 15:30] Mayki07 commented on #109
I have the same issue
`2019-05-02 17:04:37.544 Error: (Zigbee) ----> Line 193 in '/home/pi/domoticz/plugins/zigbee2mqtt/plugin.py', function onMessage
2019-05-02 17:04:37.544 Error: (Zigbee) ----> Line 106 in '/home/pi/domoticz/plugins/zigbee2mqtt/plugin.py', function onMessage
2019-05-02 17:04:37.544 Error: (Zigbee) ----> Line 167 in '/home/pi/domoticz/plugins/zigbee2mqtt/mqtt.py', function onMes

[2019-05-02 18:24] salopette opened #112 "heiman water leak (HS1-WL-E)"
https://github.com/stas-demydiuk/domoticz-zigbee2mqtt-plugin/issues/105

2019-05-02 20:22:18.624 (Zigbee Stick) MqttClient::ping
2019-05-02 20:22:18.627 (Zigbee Stick) Sending 2 bytes of data
2019-05-02 20:22:18.627 (Zigbee Stick) c0 00 .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. �.
2019-05-02 20:22:18.678 (Zigbee Stick) Received 2 bytes of data
2019-05-02 20:22:18.678 (Zigbee Stick) d0

[2019-05-03 06:14] stas-demydiuk commented on #112
What does property 'tamper' mean?

[2019-05-03 06:22] stas-demydiuk commented on #109
@Mayki07 could you please attach MQTT message which caused this error as it is impossible to identify root cause without it.

[2019-05-03 07:37] Mayki07 commented on #109
5/2/2019, 5:04:37 PM - info: MQTT publish: topic 'zigbee2mqtt/bridge/log', payload '{"type":"devices","message":[{"ieeeAddr":"0x00124b00193693db","type":"Coordinator"},{"ieeeAddr":"0x00158d0002d40e6c","type":"Router","model":"ZNLDP12LM","friendly_name":"0x00158d0002d40e6c","nwkAddr":29067,"manufId":4447,"manufName":"LUMI","powerSource":"DC Source","modelId":"lumi.light.aqcn02"},{"ieeeAddr":"0x0015

[2019-05-03 12:12] salopette commented on #112
in the sensor is a small switch, if you steal it from the wall, message 'tamper true'

[2019-05-04 06:38] stas-demydiuk commented on #14
@MiloshCZ @Tezzlicious the issue should be fixed with plugin in the latest master branch

[2019-05-04 06:38] stas-demydiuk commented on #17
@Tezzlicious the issue should be fixed with plugin in the latest master branch

[2019-05-04 06:39] #17 closed

[2019-05-04 06:40] stas-demydiuk commented on #107
@SargonofAssyria  the issue should be fixed with plugin in the latest master branch. Plugin now updates "Last Seen" when receive messages from devices (this feature is supported only by last betas of Domoticz)

[2019-05-04 06:42] stas-demydiuk commented on #112
Do you need support for it in Domoticz? And did you have a chance to check if sensor works ok with the plugin?

[2019-05-04 11:23] SargonofAssyria commented on #107
Tnx, My smoke sensors updates the "Last Seen" now.

[2019-05-04 11:23] #107 closed

[2019-05-04 12:20] Mayki07 commented on #109
**Log of zigbee2mqtt :**

`-- Logs begin at Sat 2019-05-04 14:10:05 CEST. --
kvě 04 14:12:07 raspberrypi npm[487]:   zigbee2mqtt:info 5/4/2019, 2:12:07 PM MQTT publish: topic 'zigbee2mqtt/0x00158d0002d40e6c', payload '{"state":"ON","brightness":183,"color_temp":245,"linkquality":10,"color":{"x":0.38,"y":0.38}}'
kvě 04 14:12:07 raspberrypi npm[487]:   zigbee2mqtt:info 5/4/2019, 2:12:07 PM MQTT publ

[2019-05-04 15:42] Maik-100 commented on #96
Yes, you are right. But this is an issue in zigbee2mqtt (version 1.3.1) not in domoticz-zigbee2mqtt-plugin.
I open a bug in zigbee2mqtt.

I see in log:
 zigbee2mqtt:info 2019-5-4 17:35:26 MQTT publish: topic 'zigbee2mqtt/0x000d6ffffe18e00a', payload '{"linkquality":18,"duration":9.029,"battery":87,"action":"toggle"}'
if I press the ON/OFF button in the middle only short time -> that is ok

If I pr

[2019-05-04 18:51] MarcE85 commented on #14
If i update to this version i cant use my xiaomi switches. Domoticz / DzVents only reacts to the first "Click" Command. After that i have to do a "Dobule Click" and then a "Click" again to generate an Event in DzVents.

Regards Marc

[2019-05-04 19:25] stas-demydiuk commented on #14
@MarcE85 Yes, I have the same issue with my scripts, and I manually set device status to 'off' as workaround. Below is the example of dzVents script:

[code]

[2019-05-08 10:14] diazovitch opened #113 "Aqara Honeywell isn't detected"
Hi,
I have two Aqara devices which work correctly : wireless smart switch and temperature and humidity sensor. They are detected automatically when i press the button to associate.
But the Honeywell is not detected when I press the button on the hood.
How should I do it ?
Thank you.

Domoticz version: 4.97

[2019-05-08 18:20] Tjilie opened #114 "Domoticz log overflow with zigbee comments"
**Issue description**
Since tatest update Domoticz log overflow with zigbee comment
**Additional information**
Zigbee2MQTT version:1.3.1
Python version:3.5.3
Domoticz version:4.10693
Plugin version:00.18

**Logs**
Domoticz log look like this, how can I stop this
2019-05-08 20:18:58.631 (Zigbee Gateway) Received available devices list from bridge
2019-05-08 20:18:58.631 (Zigbee Gateway) Device WXKG

[2019-05-08 18:35] Tjilie opened #115 "Xiaomi Aqara double key wireless wall switch - WXKG02LM"
**Issue description**
Since last update of domoticz and plugin switch does not work properly any more

**Additional information**
Zigbee2MQTT version:1.3.1
Python version:3.5.3
Domoticz version: 4.10693
Plugin version:0.0.18

**Logs**
I used the buttons to toggle the state of a relay on/off. since udate this does not work any more.
When I push the button for the second time the state wil not chang

[2019-05-09 11:43] stas-demydiuk commented on #114
@Tjilie Plugin restart usually helps. It is intermittent issue I cannot regularly reproduce to be able to fix

[2019-05-09 11:44] stas-demydiuk commented on #113
I guess this device isn't supported yet

[2019-05-09 11:45] stas-demydiuk commented on #113
Duplicates #87

[2019-05-09 11:45] #113 closed

[2019-05-09 11:47] stas-demydiuk commented on #115
I use the Domoticz event script to manually set device state to off after each use.

[2019-05-09 17:24] Tjilie commented on #115
Oké this works also for me

[2019-05-09 17:24] #115 closed

[2019-05-09 17:24] Tjilie commented on #115
Oké this works also for me

[2019-05-09 19:11] Tjilie commented on #114
Within Domoticz wen interface I disabled and update the plugin and after that I enabled and update the plugin. This does not changed the logging. Also I update to the mast recent stable version this make also no differents.

[2019-05-10 06:12] Tjilie commented on #114
Sorry I accidentally closed issue.

So as I wrote before restart plugin does not help.

When I open the Domoticz outside my home network I don't have this Zigbee log and have only the normal log

[2019-05-10 08:03] stas-demydiuk commented on #114
Could you please also try to restart your MQTT server

[2019-05-10 09:07] Tjilie commented on #114
I will do so tomorrow. I planned to make a back-up of my SD-card tomorrow morning.

[2019-05-11 05:12] Tjilie commented on #114
I restarted my RPI (and cloned Sd-card), update CC2531 USB stick to latest version.

This also did not help, logging still the same unfortunately

[2019-05-11 06:53] Maik-100 commented on #96
@wini83: Please look at:
https://github.com/Koenkk/zigbee2mqtt/issues/1496
Koenkk commented 14 hours ago: Fixed in the latest dev branch, thanks!

Perhaps you have information to use the  E1524 from Domoticz. I try to configure it with blocky but it works not very well. E1525 works mutch better.

[2019-05-11 08:52] Tjilie commented on #114
Now most of the switches don't work any more but are connected to broker an visable in log. Only the

[2019-05-13 18:26] #112 closed

[2019-05-18 16:00] Tjilie commented on #114
@ stas-demydiuk
The Domoticz log still overflow with zigbee comment. What a also see is that my domoticz database is growing big fast. Is this related to each other?

[2019-05-22 09:57] NE8XT opened #118 "XIAOMI Aqara LLKZMK11LM Two-way Control Module"
Dear Stas, please add to the plugin - this is a relay.

5/22/2019, 10:18:44 AM - warn: Device with modelID 'lumi.relay.c2acn01' is not supported.
5/22/2019, 10:18:44 AM - warn: Please see: https://www.zigbee2mqtt.io/how_tos/how_to_support_new_devices.html

https://github.com/TedTolboom/com.xiaomi-mi-zigbee/issues/152

[2019-05-31 20:01] devrosx opened #119 "Feature request - Join Battery voltage and Signal level to device"
##Hello yesterday installed your plugin and replaced xiaomi gateway, allready all works great (better signal and faster response imho). One thing (feature request):
can you join device, battery and signal to have one id... (its supported in domoticz, for example my rflink devices use this)?
with this i can have one id device instead of three...
dunno how to handle this with device with multiple id

[2019-06-05 12:09] TigroEHOT opened #120 "Unsupported zigbee device type with model "QBKG11LM""
Hello Stas!
I see messages from devise, but domoticz log says "Unsupported zigbee device type with model "QBKG11LM"
Is it possible to control it?

**Device description**
Single button wall switch with fire line and neutral, power consuption report.
QBKG11LM

[code]

[2019-06-05 12:44] schurgan opened #121 "Devices death query with script"
Hello Stas. A few days ago I updated the plugin and since then the following script does not work anymore. Did you change something in the plugin? I always get messages that the devices are dead, so no heartbeat. Under devices in Domoticz but you see that they send about every hour a heartbeat.

Thank you for your excellent work

[code]

[2019-06-05 13:14] TigroEHOT commented on #120
I'm sorry, I didn't find all other information, but I will try :)
I really thankful for the job you have done!

[2019-06-05 13:24] TigroEHOT commented on #118
Probably, your device is not supported by the zigbee2mqtt, not the domoticz plug-in.
Try to use zigbee-shepherd-converters.

[2019-06-05 14:57] schurgan commented on #118
It worked very well until recently.  There are Xiaomi sockets, temperature sensors and door contacts.  So everything is supported by zigbee2mqtt and your plugin

[2019-06-05 14:58] schurgan commented on #121
It worked very well until recently.  There are Xiaomi sockets, temperature sensors and door contacts.  So everything is supported by zigbee2mqtt and your plugin

[2019-06-05 19:16] stas-demydiuk commented on #121
Domoticz recently added ability to update devices "last seen" property and now plugin supports that and update devices once receive any message from them even if it is not a state change (previously plugin filtered all such messages). As I noticed Xiaomi devices send heartbeat message every hour. Maybe it is a root cause why you script stopped working.

[2019-06-05 19:21] stas-demydiuk commented on #119
Currently plugin adds information about battery and signal level to each device. Is it what you need or you meant something else?

![image](https://user-images.githubusercontent.com/2734836/58983747-3437b180-87e0-11e9-84bc-1201206fa729.png)

[2019-06-05 20:12] schurgan commented on #121
I have not changed anything about Domoticz. I still have the last stable version. Only after I have updated the plugin 3-4 days ago, the script does not work anymore. Although it is version 0.0.18, I was able to update something. Could you please provide me with the version without any changes so that I can test it?

[2019-06-05 20:15] schurgan commented on #121
I have a feeling that now the script only responds to a change (signal or battery change) of a device. Because, with the Xiaomi sockets the problem occurs very rarely, as they every 5 min. Report and the signal strength often changes.

[2019-06-05 20:21] schurgan commented on #121
With the script, it has been easy to monitor the sensors, as well with little change to check battery condition. And if a sensor did not answer, I got a message. Now I do not know how to do that if the "last seen" function does not work properly.

[2019-06-05 20:35] devrosx commented on #119
oh i see its reporting now (maybe it take some time before its start reporting batery and signal). Extra idx with signal and idx is wasting memory imho if its allready reported in device. Maybe creating extra idx with signal and battery could be only option.

[2019-06-05 21:13] devrosx commented on #119
noticed one more thing - when i remove signal and battery idx devices in list and Zigbee pairing:
and then when i use device with removed idxs (mem and signal) log is full of errors
`Error: (ZB) Device creation failed, Domoticz settings prevent accepting new devices.`
can we disable this warning (at least for subdevices, where is allready one idx used)

[2019-06-06 20:50] raqua opened #122 "Ikea Tradfri on/off switch E1743 clicks not picked up in Domoticz"
**Issue description**
Hi.
I have Ikea E1743 switch that supports these states, working fine in zigbee2mqtt:
hold pressed on:
{"linkquality":7,"last_seen":"2019-06-06T22:39:33+02:00","battery":100,"click":"brightness_up"}

hold pressed on released:
{"linkquality":0,"last_seen":"2019-06-06T22:39:34+02:00","battery":100,"click":"brightness_stop"}

click on:
{"linkquality":0,"last_seen":"2019-06-06T22

[2019-06-06 21:03] raqua commented on #122
![device](https://user-images.githubusercontent.com/1541886/59066417-4f252700-88af-11e9-859e-52ffa86857ff.jpg)

Here is how I see the switch in devices page of Domoticz.

[2019-06-08 10:22] schurgan commented on #121
Stas, is there really no idea?

[2019-06-10 06:50] stas-demydiuk commented on #121
@schurgan I didn't catch what you mean by "last seen" function does not work properly". Could you please explain what is your desired behavior and what should be changed?

[2019-06-10 09:12] stas-demydiuk commented on #122
Are you sure you have E1743 switch, according to zigbee2mqtt device list it supports only on/off state?
https://www.zigbee2mqtt.io/information/supported_devices.html

[2019-06-10 09:17] stas-demydiuk commented on #120
@TigroEHOT Could you please update plugin and check if everything works correct?

[2019-06-10 10:25] raqua commented on #122
![IMG_20190610_115559](https://user-images.githubusercontent.com/1541886/59189532-8f6bfa00-8b7a-11e9-90a2-14eaf9a7f49c.jpg)

That is what it says on the back. I believe that the supported devices list is not fully up to date. I wrote author of Zigbee2Mqtt about a new Ikea device working fine with his code and he updated the source code but not the documentation.

[2019-06-11 13:43] TigroEHOT commented on #120
Stas, excellent work. Thank you very much!

[2019-06-11 13:43] #120 closed

[2019-06-15 10:18] schurgan commented on #121
Indeed, the "last seen" function does not work as it should.  That is, my script does not perceive this data and only reacts if the sensor itself has changed its value, for example, the value of the battery or the signal strength.  I query this script with the subdevice xxxx_signal, and although the last seen changes with domoticz every hour, I get a message that there is no signal from the sensor

[2019-06-15 10:21] schurgan commented on #121
Can I contact you directly so that I can explain in our native language?  Because this translation probably makes everything even more incomprehensible

[2019-06-15 15:46] stas-demydiuk commented on #121
@schurgan My 4pda profile https://4pda.ru/forum/index.php?showuser=894939

[2019-06-17 18:14] rldn21 commented on #106
Hi, im still having this issue running when i change the state of the e27 bulb. Ive downloaded the latest version of the zigbee2mqtt plugin, domoticz and python. Without success.....

[2019-06-18 20:16] stas-demydiuk commented on #106
@rldn21 could you please provide your log

[2019-06-19 17:20] rldn21 commented on #106
Hi, thanks for your reply.

Here is the log of domoticz when switch on/off the E27 bulb:

2019-06-19 19:15:33.383 Error: (zigbee2mqtt) 'onMessage' failed 'KeyError'.
2019-06-19 19:15:33.383 Error: (zigbee2mqtt) ----> Line 193 in '/home/pi/domoticz/plugins/zigbee2mqtt/plugin.py', function onMessage
2019-06-19 19:15:33.383 Error: (zigbee2mqtt) ----> Line 106 in '/home/pi/domoticz/plugins/zigbee2mqtt

[2019-06-19 18:10] stas-demydiuk commented on #106
And could you please share mqtt messages produced by zigbee2mqtt when you switch device on/off

[2019-06-19 20:09] rldn21 commented on #106
zigbee2mqtt:debug 2019-6-19 22:08:21 Received MQTT message on 'zigbee2mqtt/hoeklamp/set' with data '{"state": "Off"}'
zigbee2mqtt:info 2019-6-19 22:08:21 Zigbee publish to device '0x90fd9ffffeedfd1f', genOnOff - off - {} - {"manufSpec":0,"disDefaultRsp":0} - null
zigbee2mqtt:info 2019-6-19 22:08:21 MQTT publish: topic 'zigbee2mqtt/hoeklamp', payload '{"state":"OFF","linkquality":13,"brightness":86

[2019-06-20 18:27] stas-demydiuk opened #123 "TRADFRI E27 Error"
**Issue description**
Error when receive message from TRADFRI E27 bulb

**Logs**
Mqtt:
[code]

Domoticz:
[code]

[2019-06-20 18:29] stas-demydiuk commented on #106
@rldn21 I extracted your issue in separate ticket (#123)

[2019-06-20 18:30] stas-demydiuk commented on #123
@rldn21 Could you please update plugin and check

[2019-06-20 19:41] rldn21 commented on #123
You are the best. The error has gone and the status is changing as normal again!

[2019-06-21 14:02] tenback opened #124 "Xiaomi Aqara Motion Sensor, Every 5 sec a signal if there's motion"
The Aqara motion sensor will by default only report a second motion, if the first motion detection timeout has finished. Sometimes this is handy, but sometimes I get a false positive, if for example some harse lighting is comming trought the window. That's why I use a counter in domoticz to see how many motions are detected in a certain time window.

But last time I had a burglar in my house and h

[2019-06-28 13:59] wifiminime opened #125 "Zigbee msg for Selectorswitch trigger scripts only once when multiple identical msg's are sent"
**Issue description**
Put general information here
zigbee2mqqt plugin for domoticz:

Philips Hue dimmer switch, press same button multiple times --> scripts only triggered once because device is mapped to Selector switch and state does not change.
For instance: msg: up-press is used to increase light, but you can only do this once...
Mqqt message is there, not propagated to domoticz because state

[2019-06-29 15:08] wifiminime commented on #14
Hi,

This workaound does not work for me, i had already filed an issue for this...
https://github.com/stas-demydiuk/domoticz-zigbee2mqtt-plugin/issues/125

Any idea why your workaround does not work for me?
I have an Philips Hue dimmer switch and i can only use the buttons once, very annoying.... have not found a way around this.
Looking forward to an update of the plugin, as you already mentioned

[2019-07-01 13:41] #123 closed

[2019-07-01 21:06] bricamac commented on #125
Yep I have notice this issue.

We could the event into the zigbee2mqtt log:

For example the action "up-press" it's present to two times into zigbee2mqtt log, we could motice that
the brightness value increase...
7/1/2019, 10:59:05 PM - info: MQTT publish: topic 'zigbee2mqtt/Telecommande Philips salon', payload '{"counter":1,"linkquality":47,"battery":100,"brightness":50,"action":"up-press","durat

[2019-07-02 19:48] bricamac commented on #125
I found  a temporary solution.  I have a have an small modification into the code "hue_dimmer_switch.py" to create also a  dimmer switch associated to Hue Philips dimmer switch.

I seem working fine.

[hue_dimmer_switch.py.zip](https://github.com/stas-demydiuk/domoticz-zigbee2mqtt-plugin/files/3352077/hue_dimmer_switch.py.zip)

[2019-07-02 22:06] wifiminime commented on #125
Hi,

thanks for the work so far, tested it, seems to be working, one little thing (i can live with it but still...)

I do not seem to be able to get my lamp in sync with the dimmer switch when i change lamp brigthness via my phone (hue lamp, with its own brightness). My script is set to when i use dimmer switch to control lamp brightness, lamp will get brightness of switch.  So now i change the br

[2019-07-03 21:01] bricamac commented on #125
Hi,

I will try to take a look of this problem, but It seems that we could modify the brightness value stored into the philips remote.

best  regards.

[2019-07-19 11:07] Gusimelo opened #127 "Xiaomi Vima Smart Lock"
**Device description**
Vima Smart Lock
https://www.zigbee2mqtt.io/devices/A6121

**MQTT message with device information**

7/19/2019, 2:22:07 AM - info: MQTT publish: topic 'zigbee2mqtt/bridge/log', payload '{"type":"devices","message":[{"ieeeAddr":"0x00124b0018e25e95","type":"Coordinator"},{"ieeeAddr":"0x00158d00028e2f60","type":"Router","model":"A6121","friendly_name":"0x00158d00028e2f60","nwkAd

[2019-07-22 14:08] antoninocanta commented on #125
Hello Everyone,
I have the same issue with my xiaomi aqara double switch (wireless version).  When I press the same button multiple time, the associated script run only once.  I need to push the other button to make the first workable...
Do you have a solution that I can apply in the source code to solve ?
I am very grateful for your remarkable work.  Thank you everyone.
Kind regards.

Antonino.

[2019-07-22 18:13] stas-demydiuk commented on #125
@antoninocanta could you please update plugin and check if my solution works for you?

[2019-07-22 18:14] #121 closed

[2019-07-22 18:51] schurgan commented on #121
Hello Stas, you are not so often at 4pda?

[2019-07-22 21:28] wini83 commented on #122
Simple on/off states are also not working

[2019-07-24 03:58] schurgan commented on #121
Стас привет, чтото ты на канале телеги не правильно сделал. Нет возможности что либо ниписАть.

[2019-07-24 19:17] pkoson opened #128 "Xiaomi Aqara curtain motor ZNCLDJ11LM"
**Device description**
Xiaomi Aqara curtain motor
[https://www.zigbee2mqtt.io/devices/ZNCLDJ11LM.html](https://www.zigbee2mqtt.io/devices/ZNCLDJ11LM.html)

[2019-07-25 19:38] NE8XT opened #130 "PM Failed to ping"
Version: 4.11030
dzVents Version: 2.4.26
Python Version: 3.5.3

**The devices are connected and working, the plugin gives a ping error.**

log:
 zigbee2mqtt:error 7/25/2019, 9:28:49 PM Failed to ping 0x00158d0001fa2558
  zigbee2mqtt:error 7/25/2019, 9:28:49 PM Failed to ping 0x00158d0001a5d31d
  zigbee2mqtt:info 7/25/2019, 9:29:33 PM MQTT publish: topic 'zigbee2mqtt/0x00158d0001fa2558', payload '{

[2019-07-26 09:40] #130 closed

[2019-07-26 09:42] NE8XT commented on #130
Wrote the wrong way.

[2019-07-26 16:10] elpaul opened #131 "WSDCGQ11LM missing values"
I bought WSDCGQ11LM today. It immediately parried, but it does not send value.
Domoticz reset, re-pairing or battery replacement does not help.
(Other devices from Xiaomi work correctly). Can you help me?

![Zrzut ekranu (32)](https://user-images.githubusercontent.com/9497662/61965390-5c69b280-afd0-11e9-955e-fb77dbb902ce.png)

**Additional information**
Zigbee2MQTT version: '1.5.0', 'commit': '31b

[2019-07-26 16:57] elpaul commented on #131
The problem was solved by removing the device from the MQTT database and re-pairing.

[2019-07-26 16:57] #131 closed

[2019-07-29 11:18] antoninocanta commented on #125
Hello master stas-demydiuk,
Sorry for the delay of my answer,
This update fix the bug perfectly ^^
Thank you for your work, the code is very clean and pro ;)
Kind regards.
Antonino.

[2019-07-29 19:09] HJKLMN commented on #109
For my its also solved:
removed the plugin from plugins and reinstalled domoticz-zigbee2mqtt-plugin.

[2019-07-29 19:09] #109 closed

[2019-07-29 20:07] #125 closed

[2019-07-31 21:10] TomasWallflower opened #132 "Readd deleted device to domoticz"
I have issue with re-add devices that i removed from domoticz. I thought that those devices will be added back when I'll update zigbee2mqtt plugin, but it didn't happened. So i tried to remove zigbee2mqtt database, re-paired all devices again, removed zigbee2mqtt llugin from domoticz and added it back, but devices that i removed in domoticz are not added. In zigbee2mqtt I can see them, I can contr

[2019-07-31 22:29] rldn21 opened #133 "Support for Philips Hue Outdoor Spots"
**Device description**
Outdoor spots of Philips Hue

**MQTT message with device information**
PUT here the device data you receive when publish message with topic
`zigbee2mqtt/bridge/config/devices`, as example
[code]

**MQTT messages from device**
Put here examples of MQTT messages with different states you've received from device, as example
[code]

[2019-08-05 14:27] anshgh opened #134 "Error"
**Issue description**
Domoticz is shutdown after - 3. Make sure that "Accept new Hardware Devices" is enabled in Domoticz settings

**Additional information**
Zigbee2MQTT version: 6.9.0
Python version: 2.7.9
Domoticz version: 3.8153
Plugin version: 0.0.18

**Logs**
`● domoticz.service - LSB: Home Automation System
   Loaded: loaded (/etc/init.d/domoticz.sh)
   Active: active (exited) since Mon 201

[2019-08-05 19:48] prein2 opened #135 "ikea control outlet E1603/E1702"
**Device description**
IKEA control outlet, bought today doesn't work with domoticz. Using latest dev version zigbee2mqtt.

message from domoticz log:
2019-08-05 21:44:59.689 (Zigbee2MQTT) MQTT message: zigbee2mqtt/plug tuinberegening {'state': 'ON', 'linkquality': 21}
2019-08-05 21:44:59.690 (Zigbee2MQTT) Unsupported zigbee device type with model "E1603/E1702"

**MQTT message with device informat

[2019-08-05 20:08] prein2 commented on #135
Fixed by adding folling line to adapters/__init__.py:
    'E1603/E1702': OnOffSwitchAdapter,        # IKEA TRADFRI control outlet

don't know how to create a pull request though..

[2019-08-06 03:55] TomasWallflower commented on #132
Solved in issue #135.

[2019-08-06 03:55] #132 closed

[2019-08-06 09:05] anshgh commented on #134
Started working after the Domotics update.

[2019-08-06 14:10] #135 closed

[2019-08-06 16:29] elpaul opened #137 "Konke 2AJZ4KPKEY - my solution"
Hi all.
zigbee2mqtt added support for KONKE button
[code]
fromzigbee:
[code]
But in Domoticz I get info:

[code]
Can we expect plugin updates?

[2019-08-08 07:09] TomasWallflower opened #138 "Last update and device state is not updated when switch type changed to push on button"
**Issue description**
I don't know if it's related directly to plugin, but for me this problem occures only with zigbee devices. Normally, when devices are added by plugin, everything works fine, state of devices is updated normally.
But for scripting purposes I need to change type of some zigbee lights from Dimmer to Push On button (with delay off time). When I do this, lights still working, but

[2019-08-08 17:39] bricamac commented on #118
Hi, I have also a problem with this device : "LLKZMK11LM" .I could see well into the  log of zigbee2mqtt .  But Even after  an update  of the plugin into Domoticz.. I didn't new device into domoticz... May you could help me ?

Thanks, best regards.

8/8/2019, 7:35:08 PM - info: Zigbee publish to device 'AQARA', genTime - readRsp - [{"attrId":0,"status":0,"attrData":618604509,"dataType":226}] - {"d

[2019-08-11 08:00] elpaul commented on #137
OK.
I made a new adapter based on it WXKG01LM in directory .adapters/lumi. I called him "konkekey.py":

[code]
In the "__init__.py" file I added:
[code]
and:
[code]
and after plugin restart...
![Przechwytywanie](https://user-images.githubusercontent.com/9497662/62831389-9c5ea580-bc1e-11e9-9a1e-3eb7e5eec26b.PNG)

Yupi!

[2019-08-11 11:37] #134 closed

[2019-08-11 11:37] stas-demydiuk commented on #118
Support was added in plugin v.0.0.19

[2019-08-11 11:37] #118 closed

[2019-08-11 11:42] stas-demydiuk commented on #108
@SargonofAssyria is the issue still present?

[2019-08-13 06:36] ced1442 opened #140 "Domoticz error logged : Ikea remote control ?"
Hi,
I face some error logged into domoticz at random time (1 per day).
It seems to be related to the IKEA tradfri remote control. This remote is only appaired to my network to directly control a switch, I don't use it in domoticz.

**Additional information**
Zigbee2MQTT version: 1.5.1 ?
Python version: 3.5.3
Domoticz version: 4.10717
Plugin version: 0.0.18 ?

**Logs**
` 2019-08-13 01:33:25.609 Err

[2019-08-13 14:57] anshgh opened #141 "zigup enddevice"
Hi,
**If your device is not listed here but zigbee2mqtt supports it, support can be added (fairly) easy by creating device adapter.**
How by creating device adapter?

I connect zigup enddevice.

Log Domoticz:
2019-08-13 16: 54: 20.568 (zigbee2mqtt) Device ZigUP 0x00124b001d6663ed (0x00124b001d6663ed)

I connect zigup enddevice.
Additional information
Zigbee2MQTT version: 1.5.1 ?
Python version: 3.

[2019-08-13 21:22] DamienCL commented on #91
(Hi, sorry for my english ...)
I have try to follow StevenBoelhouwer indication but i have only switch 1 , 2 and both click again.
What can i do ?

[2019-08-14 05:30] stas-demydiuk commented on #140
@ced1442, could you please provide MQTT message from zigbee2mqtt after which this error occur

[2019-08-14 06:19] ced1442 commented on #140
@stas-demydiuk
I only found info log level, let me know if you need more.
So the 2 errors in my domoticz logs are refering to:
`8/13/2019, 7:10:17 PM - info: MQTT publish: topic 'zigbee2mqtt/0x000b57fffe49aca9', payload '{"battery":60,"linkquality":31}'`
`8/13/2019, 1:33:25 AM - info: MQTT publish: topic 'zigbee2mqtt/0x000b57fffe49aca9', payload '{"battery":60,"linkquality":26}'`

I confirm that i

[2019-08-14 07:06] stas-demydiuk commented on #140
I've just pushed the fix. Could you please update plugin and check

[2019-08-14 07:35] anshgh commented on #141
zigbee2mqtt:info 8/14/2019, 10:31:32 AM MQTT publish: topic 'zigbee2mqtt/bridge/log', payload '{"type":"devices","message":[{"ieeeAddr":"0x00124b0018e263ee","type":"Coordinator"},{"ieeeAddr":"0x00124b001d6663ed","type":"EndDevice","model":"ZigUP","friendly_name":"0x00124b001d6663ed","nwkAddr":56363,"manufId":0,"manufName":"formtapez","powerSource":"Mains (single phase)","modelId":"ZigUP","hwVersio

[2019-08-14 07:49] anshgh commented on #141
zigbee2mqtt:info 8/14/2019, 10:31:32 AM MQTT publish: topic 'zigbee2mqtt/0x00124b001d6663ed', payload '{"state":"OFF","cpu_temperature":23.98,"external_temperature":null,"external_humidity":null,"s0_counts":0,"adc_volt":0.265,"dig_input":1,"reason":"timer","linkquality":134}'

[2019-08-14 13:21] anshgh commented on #137
Hi
I can’t add the device to the Domotics.
I created the ZigUP.py file.
`from adapters.adapter_with_battery import AdapterWithBattery
from devices.sensor.lux import LuxSensor

class ZigUP(AdapterWithBattery):
    def __init__(self, devices):
        super().__init__(devices)
        self.devices.append(LuxSensor(devices, 'lux', 'adc_volt'))

`
![image](https://user-images.githubusercontent.com/852

[2019-08-15 05:16] ced1442 commented on #140
No error seen from the last 24h, sound good.
Thanks and good job for this plugin.

[2019-08-15 10:30] anshgh commented on #141
Hi
I creating device adapter to display the readings of the TEMP6000 sensor connected to the ADC.
I created the ZigUP.py file in /home/user/domoticz/plugins/zigbee2mqtt/adapters/lumi/

and in /home/user/domoticz/plugins/zigbee2mqtt/adapters/__init__.py  added

[2019-08-15 18:34] #140 closed

[2019-08-15 18:36] stas-demydiuk commented on #141
Do you need any help with adapter?

[2019-08-15 18:37] stas-demydiuk commented on #133
I don't see this device in supported list: https://www.zigbee2mqtt.io/information/supported_devices.html

[2019-08-15 18:40] stas-demydiuk commented on #138
Could you please explain your scenario a bit. Currently it doesn't look as smth that should be fixed on plugin side

[2019-08-16 06:29] anshgh commented on #141
When will the plugin support with ZigUP device in domoticz?

[2019-08-16 07:00] TomasWallflower commented on #138
As I wrote before, I don't know if this problem is related to this plugin as this is only plugin I have installed (all other devices are added as dummy virtual devices).

All my domoticz lights are set as "Push on button" with off delay function at least 120 seconds (because of xiaomis PIR sensor built in 1 minute blindness after detecting movement).
For switching lights I use python event scripts

[2019-08-18 12:41] wini83 commented on #122
How to fix it? Should a new adapter be created that will create SelectorSwitch (on, off, brightness up / down / stop) instead of OnOffSwitch?

[2019-08-18 17:49] stas-demydiuk commented on #141
Someone needs to create adapter for this device to add its support to plugin

[2019-08-18 17:50] stas-demydiuk commented on #138
Most likely the issue is because you are changing device type while plugin expects to find original devices.

[2019-08-18 17:53] stas-demydiuk commented on #122
Existed adapter should be modified to properly handle device state and actions. Unfortunately I don't have such device to make and test these modifications.

[2019-08-20 20:30] raqua commented on #122
I have the device and I am happy to help/test. Let me know what you need from me.

[2019-08-23 04:58] TomasWallflower commented on #138
Yes, that's probably true. I just thought that type of switch if just Domoticz's internal thing and does not affect behavior of device variables. I solved it by adding hidden push button alongside to every zigbee2mqtt dimmer device as slave only for switch off timing purposes. Closing.

[2019-08-23 04:58] #138 closed

[2019-08-23 14:13] kmccor commented on #111
Hi, would you consider looking at this again? I've just been reading up on the current state of group support and the capability to query for group lists has been added. I've done some manual testing with MQTT commands on a light group I have configured and it works well.

https://www.zigbee2mqtt.io/information/mqtt_topics_and_message_structure.html

"groups": a list of all groups, this message ca

[2019-08-27 19:55] prelude0000 commented on #141
Hello, I try to do a plugin for ZigUP but seems that i need help.

message is:
`zigbee2mqtt:info 8/23/2019, 7:27:37 PM MQTT publish: topic 'zigbee2mqtt/45_zigup_ilmastointi', payload '{"state":"OFF","cpu_temperature":24.26,"external_temperature":21.3,"external_humidity":null,"s0_counts":0,"adc_volt":32.354,"dig_input":1,"reason":"timer","linkquality":26,"B1000004D01FBF28":21.31,"82000004D0977C28":

[2019-08-28 07:08] anshgh commented on #141
device names ZigUP = ZigUP
My log Domoticz:
`2019-08-13 16: 54: 20.568 (zigbee2mqtt) Device ZigUP 0x00124b001d6663ed (0x00124b001d6663ed)`

in /home/user/domoticz/plugins/zigbee2mqtt/adapters/--init__.py added
[code]

[2019-08-31 16:05] ArJay60 opened #142 "New Device Innr RF 265"
Innr RF 265 is same as RB 265 from Innr. Only design, transparant glass bulb and led filament is different.

In think line below should be added to adapters/__init__.py

'RF 265': DimmableBulbAdapter,      # Innr E27 Bulb

[2019-09-09 19:40] prelude0000 opened #144 "How to add device with multiple sensor and dynamic naming?"
I cannot figure out how to add support for sensors what uses dynamic naming.

The use case is ZigUP and it's reporting it's temperature sensor reading (ds18b20) with device unique id, like:
`'{"state":"OFF","cpu_temperature":24.26,"external_temperature":21.3,"external_humidity":null,"s0_counts":0,"adc_volt":32.354,"dig_input":1,"reason":"timer","linkquality":26,"B1000004D01FBF28":21.31,"82000004D0

[2019-09-10 05:31] snorro80 opened #145 "Add Robb Smarrt dimmer module"
Could you please add support for the Robb Smarrt Dimmer module.
This is possibly a rebranded Sunricher Universal Dimmer.

From Domoticz:
`2019-09-10 07:27:57.743 (Zigbee2MQTT) MQTT message: zigbee2mqtt/0x000d6f0013e899d0 {'brightness': 144, 'state': 'ON', 'linkquality': 99}
2019-09-10 07:27:57.744 (Zigbee2MQTT) Unsupported zigbee device type with model "ROB_200-004-0"`

From Zigbee2mqtt:
`Sep 10 0

[2019-09-11 14:59] toppe opened #146 "Gira Zigbee switch"
Anyone who can help me with a adapter for the Gira Zigbee switch?

This is the log's I've been seen:

`2019-09-06 20:41:53.842 (Zigbee) MQTT message: zigbee2mqtt/0x000f1712410308dd {'action': 'on', 'linkquality': 49}`

`2019-09-06 20:41:53.842 (Zigbee) MQTT message: zigbee2mqtt/0x000f1712410308dd {'action': 'off', 'linkquality': 49}`

`2019-09-06 20:41:53.842 (Zigbee) MQTT message: zigbee2mqtt/0x0

[2019-09-11 20:10] iganin67 opened #147 "Plugin is cloning devices"
**Issue description**
After upgrade plugin and Zigbee2MQTT, plugin has been trying to clone the devices

**Additional information**
Zigbee2MQTT version: 1.5.1
Python version:
Domoticz version: 4.10717 on Synology
Plugin version: v. 0.0.19

**Logs**
Attach any additional logs here which might be useful: mqtt, domoticz, plugin logs

2019-09-11 22:03:06.614 Error: (Zigbee) Device creation failed, Dom

[2019-09-12 11:26] jos301 opened #148 "Zigbee2Mqtt plug-in does not show in hardware list (info)"
**Issue description**

When following installation instruction the zigbee2Mqtt is not visable in hardware list of Domoticz when using Raspberry PI3 software version 4.19.58 .

This is because dev libarairies python are not installed by default : command sudo apt install dev-python3 Will solve this.

Please include this in instruction as tip

When working this is a great peace of software. Thanks f

[2019-09-13 19:21] maaakit opened #150 "support for Eurotronic SPZB0001"
**Device description**
https://www.zigbee2mqtt.io/devices/SPZB0001.html

This device can be implemented as two Domoticz devices:
 1) temperature sensor - sends value in: local_temperature.
 2) thermostat with setpoint - desired temperature (setpoint) can be set by sending {"current_heating_setpoint": 15.5} message

**MQTT message with device information**
{'nwkAddr': 53953, 'manufName': 'Eurotroni

[2019-09-16 19:18] stas-demydiuk commented on #147
Did you change devices that were initially created by plugin?

[2019-09-16 19:42] stas-demydiuk commented on #145
@snorro80 could you please update plugin and check if everything work as expected

[2019-09-16 21:21] iganin67 commented on #147
What do you mean "change"? I tried to delete to clones, but plugin is adding them again.

I have just allow domoticz to add new devices and restarted the plugin. As a result I have got new devices to the ones which had no clones.

`

019-09-16 22:58:55.982 Status: (Zigbee) Stop directive received.
2019-09-16 22:58:56.009 Status: (Zigbee) Exiting work loop.
2019-09-16 22:58:56.518 Error: (Zigbee) D

[2019-09-17 15:59] ZatarraNL commented on #96
My E1524 is not showing in domoticz. It has been connected to zigbee2mqtt, because I can see the following in the log when pushing the middle button:
`Sep 17 17:58:35 DomoticzV3 npm[22842]:   zigbee2mqtt:info 9/17/2019, 5:58:35 PM MQTT publish: topic 'zigbee2mqtt/ikeaschakelaar1', payload '{"linkquality":21,"battery":74,"action":"toggle"}'`

[2019-09-17 17:03] AlbrtoSam commented on #127
It is not supported yet...  Same here

[2019-09-18 04:45] snorro80 commented on #145
It's working prefectly. Thnx @stas-demydiuk

[2019-09-18 04:46] #145 closed

[2019-09-18 08:48] iganin67 commented on #147
The issue is resolved. I was running two hardware "zigbee2mqtt" at a time.

[2019-09-18 08:48] #147 closed

[2019-09-20 08:11] maaakit commented on #150
implementation of device has been merged:
https://github.com/stas-demydiuk/domoticz-zigbee2mqtt-plugin/commit/46c37b2389858aae3e1ff96952197419576df201

[2019-09-20 08:11] #150 closed

[2019-09-20 15:09] pcfreak1 commented on #146
i would love for this one to be supported!

[2019-09-21 10:58] stas-demydiuk commented on #146
@toppe / @pcfreak1 could you please update plugin and check

[2019-09-21 11:10] stas-demydiuk commented on #142
@ArJay60 could you please update plugin and check

[2019-09-21 11:21] #137 closed

[2019-09-21 11:23] #133 closed

[2019-09-21 20:38] deennoo commented on #122
Running Zigbee2Mqtt 1.6

this switch give :

2019-09-21 22:33:18.152 (Zigbee2MQTT) MQTT message: zigbee2mqtt/0x90fd9ffffe663005 {'click': 'off', 'linkquality': 36, 'battery': 100}
2019-09-21 22:33:27.032 (Zigbee2MQTT) MQTT message: zigbee2mqtt/0x90fd9ffffe663005 {'click': 'on', 'linkquality': 60, 'battery': 100}

Actually widget only update Off Value

Generaly, it can be good to update Off/On even

[2019-09-22 06:16] Sennik commented on #148
I am on buster, I had to use
'sudo apt install python3-dev

But your tip helped me a lot.

[2019-09-22 18:35] jos301 commented on #148
Good to be of help. The Python3-dev depends on your version on python in my case version 3.

[2019-09-22 19:03] deennoo opened #153 "E1524/E1810 Remote"
**Device description**
E1524 Ikea Remote is the first One to be delivered By Ikea

[code]
2019-09-22 20:50:15.590 (Zigbee2MQTT) MQTT message: zigbee2mqtt/0x000b57fffe8e3c7e {'linkquality': 55, 'action': 'brightness_up_click', 'battery': 100}
2019-09-22 20:50:15.590 (Zigbee2MQTT) Unsupported zigbee device type with model "E1524/E1810"

2019-09-22 20:50:30.291 (Zigbee2MQTT) MQTT message: zigbee2mqtt

[2019-09-24 19:30] ZatarraNL commented on #153
Would love to have this device added. I own one to, and can't use it in Domoticz.

[2019-09-24 20:12] wini83 commented on #122
I tried to create an adapter. It works well for me.  but i had to manually change the previously automatically created simple switch to selector switch. [https://github.com/wini83/domoticz-zigbee2mqtt-plugin/blob/master/adapters/ikea/tradfri_switch_on_off.py](url)

[2019-09-25 21:19] maaakit commented on #153
there is PR with fix for that issue
https://github.com/stas-demydiuk/domoticz-zigbee2mqtt-plugin/pull/154

[2019-09-26 13:20] ArJay60 commented on #142
@stas-demydiuk Everything is working fine.

[2019-09-26 13:20] #142 closed

[2019-09-26 13:45] pcfreak1 commented on #146
how do i get them to pair?

[2019-09-27 15:55] Dylantje opened #156 "Hardcore in Domoticz?"
Dear developers..
Is it not possible to build your oftware hardcore into domoticz?
Plugins are not always eyase to use with update etc..
Perhaps contact Rob from Domoticz..

[2019-09-27 16:44] #122 closed

[2019-09-29 11:47] schurgan opened #157 "Creation of devices"
Hello Stas,

yesterday i updated domoticz to the latest beta 4.11337. Immediately afterwards I tried to connect a new Xiaomi motion detector . In Devices I see only one (Zigbee2MQTT - 0x00158d0004141b55 (Link Quality) )device and nothing more. It actually 4 devices must be created. The following errors occur in Log. What could that be? thanks

Log:

2019-09-28 17:20:53.631 Error: Device creation f

[2019-09-29 16:52] AleksVM opened #158 "Livolo TI0001"
2019-09-28 10:32:56.538 (Zegbee Stick) Joining new devices is enabled on the zigbee bridge
2019-09-28 10:32:56.589 (Zegbee Stick) MQTT message: zigbee2mqtt/bridge/config/devices
2019-09-28 10:32:56.590 (Zegbee Stick) MQTT message: zigbee2mqtt/bridge/config/permit_join True
2019-09-28 10:32:56.590 (Zegbee Stick) MQTT message: zigbee2mqtt/bridge/log {'type': 'devices', 'message': [{'ieeeAddr': '0x00

[2019-09-29 17:03] AleksVM commented on #158
please add support for this switch

[2019-09-30 19:18] #153 closed

[2019-10-02 21:13] schurgan commented on #157
Thanks for the help Stas.  For all others.  The error was that Domoticz only supports 255 devices in the Plagin system.

[2019-10-02 21:13] #157 closed

[2019-10-03 19:02] pimmernl opened #159 "Lingan DZ4743-00B"
Please add Lingan DZ4743-00B to the plugin (already supported by Zigbee2Mqtt)

I already modified and tested the following code locally and it works great.

Added the following code to /home/pi/domoticz/plugins/zigbee2mqtt/adapters/__init__.py

[code]

[2019-10-04 16:17] arjenanker opened #160 "Error when adding LED1732G11"
Just receiverd my CC2531 Zigbee USB stick with 1.60 firmware installed. Installed Zigbee22MQTT-dev and this plugin in Domoticz. Currently, I have 1 Tradfri LED1732G11 lamp, sensor and remote that I can use (unwilling to remove everything from below my kitchen cabinets just to test).

This is what Domoticz gives as error when I reset and pair the LED1732G11:

Though, Zigbee2MQTT seems fine:

Ik was

[2019-10-04 16:29] arjenanker commented on #160
I managed to get the lamp in Domoticz with pairing the remote back to the lamp, turning the lamp off and on, a whole lot of restarting of zigbee2mqtt and Domoticz.

But I have no idea what those errors are though...

[2019-10-05 08:43] elpaul opened #161 "The plugin does not start after restarting the raspberry pi"
Hi all! Great job Stanislav!
I have such a problem.
The plugin works perfectly but,  after a power outage or restart from Domoticz or console or reboot raspberry pi, the plugin does not start.
I have to enter the devices (in Domoticz) and manually  disable and enable the plugin, then it starts working again.

**Additional information**
Zigbee2MQTT version: 1.6.0.
Python version: 3.7.3
Domoticz ver

[2019-10-05 13:39] antoninocanta opened #162 "timeout for Xiaomi temperature sensor"
Dear demydiuk,
I'm wondering if it is possible to configure manually a timeout for devices when we no longer receive data ?  (some device put its value in red bar when data is outdated)
I consider to make a LUA script but really don't like this approach :s
Thank you for your work, kind regards.

[2019-10-07 05:56] arjenanker opened #163 "Add LED1733G7 Trafri light bulb"
This weekend I bought a few Tradfri light bulbs from IKEA and added them tot Zigbee2MQTT, but couldn't see them showing up in Domoticz. Turns out, they are [supported](https://www.zigbee2mqtt.io/devices/LED1733G7.html) in Zigbee2MQTT, but not in the pluging yet.

When I added this to adapters/__init__.py, they showed up and work:
`'LED1733G7': DimmableCtBulbAdapter, #TRADFRI LED bulb E14 600 lumen

[2019-10-10 09:59] InvertedMinor opened #164 "ptvo (create your own zigbee devices)"
With PVTO (http://ptvo.info/zigbee-switch-configurable-firmware-router-199/) one can create firmware for CC2530 a.o. to make your own Zigbee devices.

**MQTT messages from device**
{"state_bottom_left":"OFF","linkquality":41,"state_bottom_right":"OFF","state_center":"OFF","device":{"ieeeAddr":"0x00124b001d44d12b","friendlyName":"ptvo","type":"Router","nwkAddr":18923,"manufId":4447,"manufName":"ptv

[2019-10-10 12:12] ArJay60 opened #165 "Add Ikea LED1837R5"
Please add Ikea LED1837R5 to supported list

This can be done by adding the line to __init__.py:
'LED1837R5': DimmableBulbAdapter,   # IKEA TRADFRI LED bulb GU10 400 lumen, dimmable

Already checked working by using a copy of the line (below) and replacing LED1650R5 by LED1837R5:
'LED1650R5': DimmableBulbAdapter,   # IKEA TRADFRI LED bulb GU10 400 lumen, dimmable

[2019-10-10 18:56] maxt579 opened #166 "How to create domoticz device for ptvo.switch"
**Device description**
[Multi-channel relay switch](https://ptvo.info/zigbee-switch-configurable-firmware-router-199/)

**MQTT message with device information**
{"ieeeAddr":"0x00158d0001bd0e35","type":"EndDevice","model":"WXKG01LM","friendly_name":"0x00158d0001bd0e35"}
{"ieeeAddr":"0x00124b001d44c8e5","type":"Router","model":"ptvo.switch","friendly_name":"TestBoard","manufacturerID":4447,"manufact

[2019-10-11 10:10] AleksVM commented on #158
as I understand it is still necessary to add
/home/user/domoticz/plugins/zigbee2mqtt/adapters/--init__.py

from adapters.livolo.TI0001 import TI0001
adapter_by_model = {
# Livolo
'TI0001': TI0001                      # Livolo Switch TI0001
}

[2019-10-12 18:37] Exhortae commented on #128
Any news on this device ?

[2019-10-12 21:23] Exhortae opened #167 "Zemismart Curtain/roller blind switch (ZM-CSW032-D)"
**Device description**
Zemismart Curtain Switch (open, close, stop) position

**MQTT message with device information**
{"ieeeAddr":"0x14b457fffe24f46a","type":"Router","model":"ZM-CSW032-D","friendly_name":"0x14b457fffe24f46a","nwkAddr":10671,"manufId":4098,"manufName":"_TYZB01_dazsid15","powerSource":"Mains (single phase)","modelId":"TS0302","hwVersion":1,"dateCode":""}

**MQTT messages from devi

[2019-10-13 11:57] gotton opened #168 "Konke sensor temp connected but i don't get update of temp and humidity in domoticz"
**Issue description**
Hello,
I'm using Zigbee2mqtt with domoticz and the plugin. i recently add the konke sensor with automatic discovery. I get a first temp (32,5°C) and humidity (53%) but since that first connection, no update.

I'm getting those error in the log

2019-10-13 12:57:28.903 Error: (Zigbee2mqtt) 'onMessage' failed 'TypeError':'unsupported operand type(s) for /: 'NoneType' and 'int''

[2019-10-16 06:43] JochemLangerak commented on #161
Hi, I've got the same problem. I reboot my Raspberry 03:00 AM and after that the plugin doesn't work anymore. The log starts with a long list of mqtt errors. When I disable and enable the plugin it reads the devices correctly from mqtt and enables all devces without any errors.

[2019-10-19 12:15] pakosel opened #169 "Xiaomi Switch duration value mapping"
**Device description**
It would be very useful to fetch the **duration** value in case of Long Click event for simple Xiaomi Switch device (_WXKG01LM_). It could be similar to fetching the value of Xiaomi Cube angle rotation which can be found as a CustomSensor in Domoticz. Please find below part of the zigbee2mqtt log:

**MQTT messages from device**
'10/19/2019, 1:53:46 PM - info: MQTT publish: t

[2019-10-23 08:06] imdos opened #171 "Plugin (v0.0.19) doesn't support z2m-dev / zigbee-herdsman"
**Issue description**
The latest version of the plugin (v0.0.19) doesn't support z2m-dev / zigbee-herdsman yet.

**Additional information**
Zigbee2MQTT version: latest dev (21-10)
Python version: 2.7.13
Domoticz version: 4.11389
Plugin version: v0.0.19

**Logs**
2019-10-22 10:31:27.220 Status: (Zigbee) Entering work loop.
2019-10-22 10:31:27.220 Status: (Zigbee) Initialized version 0.0.19
2019-10-

[2019-10-24 05:23] emc2cube opened #172 "Add Gledopto GL-MC-001"
**adapters init.py line**
Please add the following adapter definition in the Gledopto section (tested and working)
```    'GL-MC-001': RGBWAdapter,           # Gledopto Zigbee USB mini LED controller RGB + CCT / RGBW / WWCW / Dimmer```

Thanks!

**Device description**
RGB+CCT USB LED strip driver, very similar to GL-C-008 but designed for a small (~2m) RGB+CCT strip.

**MQTT message with device in

[2019-10-26 05:17] stas-demydiuk commented on #172
Done

[2019-10-26 05:17] #172 closed

[2019-10-26 05:22] stas-demydiuk commented on #165
Done

[2019-10-26 05:22] #165 closed

[2019-10-26 05:26] stas-demydiuk commented on #163
Done

[2019-10-26 05:26] #163 closed

[2019-10-26 05:28] stas-demydiuk commented on #161
Most likely it happens because your MQTT server starts after Domoticz initialize plugin. Could you please try to start Domoticz after MQTT server and check if everything is ok?

[2019-10-26 05:30] stas-demydiuk commented on #159
Done

[2019-10-26 05:30] #159 closed

[2019-10-26 05:45] stas-demydiuk commented on #158
@AleksVM Could you please update plugin and check if everything is ok

[2019-10-26 05:55] elpaul commented on #161
You're right. If I run domoticz after mosquitto, everything is OK.

[2019-10-26 07:45] stas-demydiuk commented on #171
I have just tested the plugin with latest zigbee2mqtt from dev branch. Didn't notice any issues. Please create separate ticket if you find any.

[2019-10-26 07:45] #171 closed

[2019-10-26 07:49] stas-demydiuk commented on #162
Currently I don't see such ability in Domoticz, so most likely it is not possible

[2019-10-26 07:49] #162 closed

[2019-10-26 07:53] stas-demydiuk commented on #168
Could you please provide MQTT message which cause this error in plugin

[2019-10-26 07:59] stas-demydiuk commented on #160
Do you still need any help with your issue?

[2019-10-26 07:59] #160 closed

[2019-10-26 08:04] stas-demydiuk commented on #156
This software is just plugin for Domoticz and user have a choice to install it if have such hardware: that's the idea of any plugin. That's why it is not part of Domoticz core

[2019-10-26 08:04] #156 closed

[2019-10-26 08:07] stas-demydiuk commented on #144
I guess the only you need is deeper Python knowledge. You definitely need someone more experienced with it that me to help

[2019-10-26 08:08] #144 closed

[2019-10-26 08:12] #148 closed

[2019-10-26 20:47] gotton commented on #168
Hi.

All I got before is :

2019-10-26 22:43:58.984 (Zigbee) 30 76 00 1e 7a 69 67 62 65 65 32 6d 71 74 74 2f 30 78 30 38 0v..zigbee2mqtt/0x08
2019-10-26 22:43:58.984 (Zigbee) 36 62 64 37 66 66 66 65 39 31 35 39 65 64 7b 22 62 61 74 74 6bd7fffe9159ed{"batt
2019-10-26 22:43:58.985 (Zigbee) 65 72 79 22 3a 22 4e 61 4e 22 2c 22 76 6f 6c 74 61 67 65 22 ery":"NaN","voltage"
2019-10-26 22:43:58.985 (Zigbe

[2019-10-27 20:51] TroLoos opened #173 "Xiaomi Aqara Double Switch - no "Power" device"
**Issue description**
I'm moving over all of my devices from Deconz / Xiaomi GW to Zigbee2mqtt. So far ... almost so good. I've moved all my Aqara single switches (lumi.ctrl_ln1.aq1), and each of them creates 4 devices in Domoticz: Link / Power / Voltage / Switch - and they all work well (apart from Voltage that is always 0 but I don't mind). It's not the case with double switches (lumi.ctrl_ln2.a

[2019-10-27 21:44] gotton commented on #168
Ok. I don't know how and I don't know why but it's now working.
I don't get those error anymore and I get all temp and humidity.

So I guess I can close. For the others : I use python 3.7 Dev it didn't worked at first but after maybe 3 or 4 days it finally worked on is own.

Thanks

[2019-10-28 21:38] AleksVM commented on #158
Thanks Stas for the work done. Three days of the test are all right. I will write in the livolo branch that the plugin now has support.

[2019-11-02 21:08] #168 closed

[2019-11-02 21:09] #158 closed

[2019-11-04 13:05] pcfreak1 commented on #146
i got it working.
the gira has 6 buttons, on, off and 4 scene buttons. ufortunately the 4 scene buttons do not result in the selector setting 1-4 but the selector sets to off. this is a bug i think?

[2019-11-04 21:35] GurbEHV opened #176 "IKEA E27 filament bulb LED1842G3"
IKEA has a new tradfri bulb with filament look, model number LED1842G3, as seen here:[https://www.ikea.com/be/nl/p/tradfri-led-lamp-e27-250-lumen-draadloos-dimbaar-warm-schijnsel-globe-bruin-helder-glas-70455676/](url)

It's supported in the dev branche of zigbee2mqtt as shown by the following snippet from devices.js:
`    {
        zigbeeModel: ['TRADFRI bulb E27 WW clear 250lm'],
        model:

[2019-11-05 07:21] stas-demydiuk commented on #176
Thanks! Support was added to plugin.

[2019-11-05 07:21] #176 closed

[2019-11-05 10:27] jstam84 commented on #111
Any status update on this? Better user experience if this is implemented :)

[2019-11-05 14:51] TheArrow01 opened #177 "Please, Add Support for: CR701-YZ - Oujiabao Gas and carbon monoxide alarm"
**Device description**
Oujiabao Gas and carbon monoxide alarm

**MQTT message with device information**
{"ieeeAddr":"0x00124b00129e72f3","type":"EndDevice","model":"CR701-YZ","friendly_name":"0x00124b00129e72f3","nwkAddr":65311,"manufId":0,"manufName":"SZYCD.TEC.CO.LTD","powerSource":"Mains (single phase)","modelId":"OJB-CR701-YZ\u0000   ","hwVersion":19,"dateCode":"20160825        "}

**MQTT mess

[2019-11-06 06:52] stas-demydiuk commented on #146
Could you please provide examples of MQTT messages that device produces?

[2019-11-06 17:50] pcfreak1 commented on #146
sure,
the mqtt messages below:
off: {"linkquality":36,"action":"off"}
on: {"linkquality":86,"action":"on"}
1: {"linkquality":92,"action":"select_0"}
2: {"linkquality":89,"action":"select_1"}
3: {"linkquality":89,"action":"select_2"}
4: {"linkquality":89,"action":"select_3"}

[2019-11-06 20:56] stas-demydiuk commented on #146
Could you please update plugin and check, scene buttons should be properly handled

[2019-11-06 21:00] pcfreak1 commented on #146
works perfectly now! thanks!

[2019-11-07 21:30] #146 closed

[2019-11-10 17:37] Matthijs33 opened #178 "Philips Hue Fillament Bulb"
Philips Hue fillament bulb G93 E27
Serialnumber 8 718699688882

**MQTT messages from device**
zigbee2mqtt/0x00178801081b5df4 {'brightness': 254, 'state': 'ON', 'linkquality': 28}
zigbee2mqtt/0x00178801081b5df4 {'brightness': 254, 'state': 'ON', 'linkquality': 34}
[code]

[2019-11-11 19:43] Matthijs33 commented on #178
Nevermind added it in the file:
sudo nano /root/domoticz/plugins/zigbee2mqtt/adapters/__init__.py

and added line:
'8718699688882': DimmableBulbAdapter,  # Philips Hue Fillament Bulb G93

[2019-11-11 19:43] #178 closed

[2019-11-13 16:48] ArJay60 opened #179 "Support wanted for Itead Sonoff BASICZBR3"
**Device description**
As supported by Zigbee2MQTT See https://www.zigbee2mqtt.io/devices/BASICZBR3.html

**MQTT message with device information**
On state:

Nov 13 17:45:58 PI3_new_DOM npm[6767]: zigbee2mqtt:info  2019-11-13T16:45:58: MQTT publish: topic 'zigbee2mqtt/Sonoff', payload '{"state":"ON","linkquality":57}'

Off State:
Nov 13 17:46:41 PI3_new_DOM npm[6767]: zigbee2mqtt:info  2019-11-13T

[2019-11-14 10:40] ArJay60 commented on #179
Hi Stanislav,

Adding section below to __init__.py does the job:

    # Itead
    'BASICZBR3': OnOffSwitchAdapter,        # ITEAD SONOFF ZigBee DIY Smart Switch (on/off)

[2019-11-14 19:09] a20gard opened #180 "Eurotronic Spirit SPZB0001 : only 4 devices"
Hello

I'm writing here, not because of a "big issue" but more for a question for Eurotronic Zigbee users

I'm using 4 Eurotronic Spirit SPZB0001 thermostats that paired well into Domoticz but that are showing only 4 devices :

Link Quality
Battery Voltage
Temperature
Setpoint
Is it normal ? or should i find 11 devices as I could read in some forums ?

For information, I'm using :
'version': '1.6.

[2019-11-16 17:40] jaapschellekens opened #182 "onMessage' failed 'KeyError'."
**Issue description**
Trying to add an IKEA GU10 bulb causes an "KeyError"  error.

**Additional information**
Zigbee2MQTT version: 1.7.1
Python version: 3.7.3
Domoticz version: 4.11476
Plugin version: latest master (today)

**Logs**
Domoticz PLugin error:

2019-11-16 18:18:18.908 Error: (Zigbee2MQTT) Disconnected from MQTT Server: domo:1883
2019-11-16 18:18:19.546 Error: (Zigbee2MQTT) 'onMessage'

[2019-11-17 12:15] pakoR commented on #99
Finally I got the Sengled Element Classic (A60) working, but I needed to change in `__init__.py` the line
`'E11-G23': DimmableBulbAdapter,         # Sengled Element Classic (A60)` to `'E11-G23/E11-G33': DimmableBulbAdapter,         # Sengled Element Classic (A60)` and then the device is created and working.

[2019-11-17 14:38] jaapschellekens commented on #182
OK. It seems that using the Allow for 5 minutes button in Domoticz causes this. If I user the allow new hardware permanently setting all is well.

Closing this

[2019-11-17 14:38] #182 closed

[2019-11-17 18:41] luckysession opened #183 "('PluginMgr')) received fatal signal 6 (Aborted)"
Hi guys,
one of 14 Xiaomi sensor devices seems to send wrong interpreted voltage, domoticz every time stops with fatal error until this unit send data.

**Issue description**
2019-11-17 19:21:13.266 (Zigbee2MQTT) MQTT message: zigbee2mqtt/Temp_Hum_Gäste {'linkquality': 118, 'battery': 100, 'temperature': 26.15, 'humidity': 50.63, 'last_seen': 1574014873256, **'voltage': 3055**}
2019-11-17 19:21:13

[2019-11-18 07:50] stas-demydiuk commented on #180
Hi @a20gard. Current adapter for Eurotronic Spirit SPZB0001 has implementation for only these 4 devices you have, so no any further actions are required from your side.

Overall this Eurotronic device supports more settings to be configured through zigbee but other settings are not implemented yet in this plugin.

[2019-11-18 07:54] stas-demydiuk commented on #179
Added support to plugin, thanks!

[2019-11-18 07:54] #179 closed

[2019-11-18 22:37] a20gard commented on #180
Thanks a lot for your answer stas-demydiuk

And thanks a lot for all your job here :)

[2019-11-19 20:42] Arneault opened #184 "Domoticz not accepting Xiaomi devices"
**Issue description**
I have installed Domoticz on a Raspberry Pi 3B+.  I have managed to install 1 Xiaomi humidity/temperature/pressure sensor and 1 Xiaomi motion sensor. Both are responding well to Domoticz. Now I want to install more hum/temp/pres sensors, But every time I want to pair the new sensor I get the errors below.
Can you please help me

**Additional information**
Zigbee2MQTT version:

[2019-11-21 11:21] Blukacz opened #185 "Ikea Trådfri 806lm not supported"
**Device description**
Ikea Trådfri 806 lm not supported model LED1836G9

every time I try to pair I get this message

2019-11-21 12:16:40.198 Error: (Zigbee2MQTT) 'onMessage' failed 'KeyError'.
2019-11-21 12:16:40.198 Error: (Zigbee2MQTT) ----> Line 193 in '/home/pi/domoticz/plugins/zigbee2mqtt/plugin.py'
2019-11-21 12:16:40.198 Error: (Zigbee2MQTT) ----> Line 106 in '/home/pi/domoticz/plugins/zi

[2019-11-21 19:38] stas-demydiuk commented on #185
@Blukacz This device is already supported by plugin. Could you please provide MQTT message which causes your error?

[2019-11-21 19:40] stas-demydiuk commented on #184
Could you please provide MQTT message which causes such error?

[2019-11-22 08:39] Blukacz commented on #185
thanks for the quick answer

below is the log from Domoticz

this time it could register one of my bulbs

the attated file is from /opt/zigbee2mqtt/data/log/2019-11-22.09-12-26 I
hobe it's the log you asking for.

2019-11-22 09:12:17.016 Status: Domoticz V4.10717 (c)2012-2019 GizMoCuz
2019-11-22 09:12:17.027 Status: Build Hash: b38b49e5, Date: 2019-05-09
13:04:08
2019-11-22 09:12:17.028 Status: St

[2019-11-22 09:43] stas-demydiuk commented on #185
Most likely the issue is because of `0x14b457fffe3d9f29` device in your network:
[code]
It doesn't have full information as any other device

[2019-11-22 16:15] pcfreak1 opened #187 "error in the plugin"
hi, i get the following error when i start the plugin. it also does not add my devices

2019-11-22 17:13:28.011 Error: (zigbee2mqtt1) 'onMessage' failed 'KeyError'.
2019-11-22 17:13:28.012 Error: (zigbee2mqtt1) ----> Line 193 in '/home/pi/domoticz/plugins/zigbee2mqtt/plugin.py', function onMessage
2019-11-22 17:13:28.012 Error: (zigbee2mqtt1) ----> Line 106 in '/home/pi/domoticz/plugins/zigbee2mqt

[2019-11-22 16:15] pcfreak1 commented on #187
i already updated domoticz and the plugin, even completely reinstalled the plugin but it does not seem to work

[2019-11-23 13:58] Luigi8723 commented on #187
i have here the same error codes.

 2019-11-23 13:42:31.763 Error: (Zigbee2MQTT) 'onMessage' failed 'KeyError'.
2019-11-23 13:42:31.763 Error: (Zigbee2MQTT) ----> Line 193 in '/media/usbdo/domoticz/plugins/zigbee2mqtt/plugin.py', function onMessage
2019-11-23 13:42:31.763 Error: (Zigbee2MQTT) ----> Line 106 in '/media/usbdo/domoticz/plugins/zigbee2mqtt/plugin.py', function onMessage
2019-11-23 13:

[2019-11-23 21:10] stas-demydiuk commented on #187
@Luigi8723 could you please update plugin and check if it will help?

[2019-11-23 21:59] Luigi8723 commented on #187
@stas-demydiuk thanks, will update and test tommorow

[2019-11-24 10:05] Arneault commented on #184
Can you help me with providing the MQTT message. How do I generate this message?

[2019-11-24 10:09] stas-demydiuk commented on #184
You could set debug mode to true in plugin configuration and will be able see MQTT messages in Domoticz log.
Another option could be to launch any MQTT client and subscribe to `zigbee2mqtt/#` topic

[2019-11-24 12:20] Blukacz commented on #185
Hi again

but in the log I send you it says

{"ieeeAddr":"0x14b457fffe3d9f29","networkAddress":57125,"friendly_name":"0x14b457fffe3d9f29","lastSeen":1574411380355}]}'
info  2019-11-22T08:29:51: Successfully interviewed
'0x14b457fffe3d9f29', device has successfully been paired
info  2019-11-22T08:29:51: Device '0x14b457fffe3d9f29' is supported,
identified as: IKEA TRADFRI LED bulb E27 806 lumen, di

[2019-11-24 12:39] Luigi8723 commented on #187
@stas-demydiuk Dont see any errors anymore. but the switch in domoticz doesnt change status. only the last seen is updated. But not the On, Double etc.
All myu settings seens to be oké. what could be the problem?

[2019-11-24 16:04] Arneault commented on #184
1 - Here is my Domoticz.log with debug mode to true.
2 - I have attached a screenprint from my Domoticz already attached Xiaomi Aqara devices.

2019-11-24 16:50:19.244 Status: Domoticz V4.10717 (c)2012-2019 GizMoCuz
2019-11-24 16:50:19.255 Status: Build Hash: b38b49e5, Date: 2019-05-09 13:04:08
2019-11-24 16:50:19.256 Status: Startup Path: /home/pi/domoticz/
2019-11-24 16:50:20.300 Status: PluginS

[2019-11-24 16:19] brammp opened #188 "Zigbee2MQTT Devices do not appear when shared with remote domoticz"
**Issue description**
Im trying to share the devices between my domoticz instances (using Domoticz - Remote Server)
I have tested the sharing by using a dummy device, and that seems to work.

I don't know if sharing devices in this way is actualy suported, but i could not find it being described in the documentation, or an issue with this question.

**Additional information**
Zigbee2MQTT version:

[2019-11-25 08:37] stas-demydiuk commented on #185
pairing: Disable to Enable" I get this message
Error: (Zigbee2Mqtt) Disconnected from MQTT Server: 127.0.0.1:1883

Yes it is normal as Domoticz restarts plugin each time you make any changes in configuration

This issue already should be fixed in latest version of plugin

[2019-11-25 08:41] stas-demydiuk commented on #184
I see that you already have devices for all your devices registered in zigbee2mqtt.
Try to update plugin and pair new device. Error should gone

[2019-11-25 08:54] stas-demydiuk commented on #188
Try to ask this question on Domoticz forum, because there is nothing could be done from plugin side, it just integrates into existed Domoticz instance.

[2019-11-25 12:10] brammp commented on #188
Thanks for the quick responce,

I have created a post on the Domoticz forum [https://www.domoticz.com/forum/viewtopic.php?f=68&t=30301](url)

I will close the issue.

[2019-11-25 12:10] #188 closed

[2019-11-25 13:05] Blukacz commented on #185
Hi Stanislav

once again thanks for you answers.

now I got lucky to pair all of my IKEA devices. I can control all my
bulbs, but not my E1743 remote. I don't get any reaction, when I click
on and off. Neither on the dashboard or logs.
what could I check ? Is the E1743 a dimmer, selector or on/off ? (see
screen dump

Stanislav Demydiuk skrev den 25.11.2019 09:37:

Links:
------
[1]
https://github.

[2019-11-25 13:57] Blukacz commented on #185
I just got this in the log when I tried to pair again on of the E1743

2019-11-25 14:49:00.696 (Zigbee2Mqtt) Device 0x14b457fffe7b9f24
(0x14b457fffe7b9f24) doesn't have "model" attribute, skipped

can also be founded below

2019-11-25 14:49:00.638 (Zigbee2Mqtt) MqttClient::publish
zigbee2mqtt/bridge/config/devices ()
2019-11-25 14:49:00.639 (Zigbee2Mqtt) MQTT message:
zigbee2mqtt/bridge/log {'type

[2019-11-25 19:52] Arneault commented on #184
I have updated the plugin and now I don't get errors. The new temp/hum/pres is recognised but isn't added to Domoitcz. I got a 'Unhandled message from zigbee2mqtt' signal; see below.

2019-11-25 20:29:16.906 (Zigbee2mqtt) MQTT message: zigbee2mqtt/bridge/log {'type': 'device_removed', 'message': 'left_network', 'meta': {'friendly_name': '0x00158d0003cd2ad4'}}
2019-11-25 20:29:16.906 (Zigbee2mqtt)

[2019-11-25 20:00] stas-demydiuk commented on #185
Issue is in your zigbee network. If you read documentation for zigbee2mqtt and analyze your network log you'll find out that you have device
[code]
which doesn't look as valid device for now. For example record for one of valid devices in your network:
[code]

It might be ok and after some time device will send additional information and zigbee2mqtt will be able to recognize it and as result when

[2019-11-25 20:01] stas-demydiuk commented on #187
Try to repair the switch to zigbee network, maybe it will help

[2019-11-25 20:01] #187 closed

[2019-11-25 20:02] stas-demydiuk commented on #184
Did you figure out what is the issue?

[2019-11-25 20:03] #180 closed

[2019-11-25 20:16] Arneault commented on #184
There is no error generated and the new device is recognised, but the new device is not imported in Domoticz. There is a message generated 'Unhandled message from zigbee2mqtt'. Why is this message generated?

[2019-11-25 23:06] Mallox51 opened #189 "Domoticz fail to start after plugin installation"
**Issue description**
after cloning the repo with `git clone https://github.com/stas-demydiuk/domoticz-zigbee2mqtt-plugin.git zigbee2mqtt` in the plugin folder
domoticz fail to start

**Additional information**
Zigbee2MQTT version: 1.7.1
Python version: 3.7.3
Domoticz version: 4.10717
Plugin version: v.0.0.19

**Logs**
here is the full stack trace of domoticz

[code]
Maybe sommethiong is wrong wit

[2019-11-26 08:11] SBTephan opened #190 "Bitron AV2010/32 thermostat"
**Device description**
Bitron AV2010/32 Wireless wall thermostat with relay

**MQTT message with device information**
PUT here the device data you receive when publish message with topic
`zigbee2mqtt/bridge/config/devices`, as example
[code]
zigbee2mqtt/Thermostaat', payload '{"local_temperature":20.6,"linkquality":63,"occupied_heating_setpoint":16.5}'
[code]

[2019-11-26 09:43] Blukacz commented on #185
Sorry, but to me it looks okay.

see attachments or am I missing something?

regards

Anders Povlsen

Stanislav Demydiuk skrev den 25.11.2019 21:00:

Links:
------
[1]
https://github.com/stas-demydiuk/domoticz-zigbee2mqtt-plugin/issues/185?email_source=notifications&amp;email_token=AN2YBCUVMQM53SCLZO72NL3QVQVEPA5CNFSM4JQA2DH2YY3PNVWWK3TUL52HS4DFVREXG43VMVBW63LNMVXHJKTDN5WW2ZLOORPWSZGOEFDT4FI#issue

[2019-11-26 09:58] SBTephan commented on #185
remove the device from your network (from yaml and DB) and re-pair.
Had the same issue, worked for me.

[2019-11-26 11:20] stas-demydiuk commented on #189
The only one I could suggest is to update Domoticz to the latest beta

[2019-11-26 21:44] Mallox51 commented on #189
Ok, the beta version of domoticz gives me a more precise idea of the problem :
`./domoticz: error while loading shared libraries: libssl.so.1.0.2: cannot open shared object file: No such file or directory`

so, i did fix the error be running the following commands :
[code]

Now domoticz starts and the plugin is working 👌
Thanks a lot for the help and more generally for what you did here.
You rock!

[2019-11-26 21:44] #189 closed

[2019-11-28 12:32] Blukacz commented on #185
Hi again

now I have deleted the device in both files and paired several times but
still with no result.

as you see, it's creating a device and it's also shows up in the device
list on Domoticz. I can see the device in the configuration and database
file. But I still don't any action when I click on the device. Not in
the log or in Domoticz

Received available devices list from bridge
2019-11-28

[2019-11-28 15:39] SBTephan commented on #185
Did you restart domoticz after that?

[2019-11-28 20:59] stas-demydiuk commented on #184
That's because of
[code]
[code]
Try to repair device, sometimes it may help

[2019-11-29 09:42] Blukacz commented on #185
Yes, stopped both domoticz an zigbee2mqtt.

here what i did.

1. stopped domoticz and zigbee2mqt

2. deleted the device in configuration.yaml and database.db

3. started zigbee2mqt

4. started domoticz

4. Paired device

5. stopped domoticz

6. stopped zigbee2mqt

7. started  zigbee2mqt

8. started domoticz

9. found the device in Domoticz

SBTephan skrev den 28.11.2019 16:39:

Links:
------
[1]
h

[2019-11-29 19:06] pcfreak1 commented on #146
I would like some options to be added for this one
there is a dimming feature which has the following mqtt messages:
dim up > {"linkquality":0,"action":"up","step_mode":0,"step_size":65,"transition_time":10}
dim down > {"linkquality":0,"action":"down","step_mode":1,"step_size":65,"transition_time":10}
stop dimming > {"linkquality":0,"action":"stop"}

can the options dim up, dim down and stop dimmi

[2019-11-29 19:09] pcfreak1 opened #191 "Add options for gira switch"
I would like some options to be added for the gira  2430-100 switch
there is a dimming feature which has the following mqtt messages:
dim up > {"linkquality":0,"action":"up","step_mode":0,"step_size":65,"transition_time":10}
dim down > {"linkquality":0,"action":"down","step_mode":1,"step_size":65,"transition_time":10}
stop dimming > {"linkquality":0,"action":"stop"}

can the options dim up, dim do

[2019-11-29 19:46] Blukacz commented on #185
﻿
Creating domoticz device to handle "click" key for device with ieeeAddr 0x14b457fffe6e880f

Stanislav Demydiuk skrev den 25.11.2019 21:00:

Issue is in your zigbee network. If you read documentation for zigbee2mqtt and analyze your network log you'll find out that you have device

{
      'ieeeAddr':'0x14b457fffe7b9f24',
      'networkAddress':20317,
      'friendly_name':'0x14b457fffe7b9f24',

[2019-12-01 12:35] luckysession opened #192 "Smart Smoke Sensor Heiman HS1SA / HS3SA"
Device ist Type/subtype ist "Security devices" not only Switch/Light, please change to security devices!

[2019-12-02 13:10] Blukacz commented on #185
Hi again

from a nother try to pair I got this for consol log

warn 2019-12-02T12:48:00: Device '0x14b457fffe7b9f24' left the network
info 2019-12-02T12:48:00: MQTT publish: topic 'zigbee2mqtt/bridge/log',
payload
'{"type":"device_removed","message":"left_network","meta":{"friendly_name":"0x14b457fffe7b9f24"}}'
info 2019-12-02T12:48:00: MQTT publish: topic 'zigbee2mqtt/bridge/log',
payload
'{"type

[2019-12-02 19:41] stas-demydiuk commented on #185
between zigbee2mqtt and Domoticz ?

No, problem is between zigbee2mqtt and your zigbee network: zigbee2mqtt can't recognize the device model connected to the network.

[2019-12-02 19:45] stas-demydiuk commented on #192
@luckysession could you please explain what do you mean?

[2019-12-02 20:36] luckysession commented on #192
Okay, will try with my bad english...

In domoticz "allow new devices" the smoke detector will indicate only as normal switch,
it would be better indentificate as "security device"

![Unbenannt](https://user-images.githubusercontent.com/57873076/69993232-aef14780-154b-11ea-9931-87a3ae01d557.PNG)

In my case i´ve already change the zigbee device via phpmyadmin :-)

Hope you understand me...

[2019-12-03 08:31] Blukacz commented on #185
can I do something manuel ? how should the "string" look in the
database, because it looks correct for me !

Stanislav Demydiuk skrev den 02.12.2019 20:41:

Links:
------
[1]
https://github.com/stas-demydiuk/domoticz-zigbee2mqtt-plugin/issues/185?email_source=notifications&amp;email_token=AN2YBCUQLOIYPQQCGUUCWNDQWVQGVA5CNFSM4JQA2DH2YY3PNVWWK3TUL52HS4DFVREXG43VMVBW63LNMVXHJKTDN5WW2ZLOORPWSZGOEFUU65